.btn-group.grades{:style => 'margin-right: 1em; margin-bottom: 0.5em;'}
  = link_to 'All',        '#', :class => "btn span1", 'data-filter' => 'all'
  = link_to 'Elementary', '#', :class => "btn span1", 'data-filter' => 'elementary'
  = link_to 'Middle',     '#', :class => "btn span1", 'data-filter' => 'middle'
  = link_to 'High',       '#', :class => "btn span1", 'data-filter' => 'high'
  
  
%form.form-search.search{:method => :get, :action => schools_path}
  = hidden_field_tag :filter, params[:filter]
  = select_tag :type, options_for_select(school_type_options), :style => 'width: 325px;'
  = text_field_tag :loc, params[:loc], :placeholder => 'Zip code', :style => 'display: block; width: 315px;'
  
  %input.btn.btn-primary{:type => 'submit', :style => 'width: 150px;', :value => "See List"}
  %a.btn.btn-primary{:href => map_path, :style => 'width: 150px;'}
    See Map


:javascript
  var args;
  $(document).ready(function() {
    args = $.deparam.querystring();
    if(!args.filter) {
      args.filter = 'all';
    }
    if(!args.type) {
      args.type = 'all';
    }

    updateControls();
    updateCount();
    
    $('.grades a.btn').click(function(e) {
      args.filter = $(this).attr('data-filter');
      updateForm();
      updateControls();
      updateCount();
      e.stopPropagation();
      return false;
    });
    $('select#type').change(function(e) {
      args.type = $(this).val();
      updateCount();
      return false;
    });
    $('input#loc').keyup(function(e) {
      var zip = $(this).val();
      if(zip.length == 5 || zip.length == 0) {
        args.loc = zip;
        updateCount();
      }
      return true;
    });
  });
  
  function updateControls()
  {
    $('a.btn').removeClass('active');
    $('a[data-filter=' + args.filter + ']').addClass('active');
    $('select#type').val(args.type);
  }
  
  function updateForm()
  {
    $('input#filter').val(args.filter);
    $('input#loc').val(args.loc);
  }
  
  function updateCount()
  {
    $('.count').css('color', '#aab');
    var filter = $('form.search #filter').val();
    var type   = $('form.search #type').val();
    var loc    = $('form.search #loc').val();
    $.ajax({
      async: true,
      type: 'POST',
      url: '/schools/overview',
      data: {
        filter: filter,
        type: type,
        loc: loc
      },
      cache: false,
      success: function(data) {
        $('.count').css('color', 'black').text(data);
      }
    });
  }
  