.btn-group.grades{:style => 'margin-right: 1em; margin-bottom: 0.5em;'}
  = link_to 'All',        '#', 'data-filter' => 'all'
  = link_to 'K8 Schools', '#', 'data-filter' => 'k8'
  = link_to 'High Schools', '#', 'data-filter' => 'high'
  
  
%form.form-search.search{:method => :get, :action => schools_path}
  = hidden_field_tag :filter, params[:filter]
  - if false
    = select_tag :type, options_for_select(school_type_options), :style => 'width: 100%;'
  = text_field_tag :loc, params[:loc], :placeholder => 'Enter 5 digit zip code'
  
  .section-learn
    .l-content-right
      %ul.menu
        %li
          %a#filter-search{:href => '#'} Search


:javascript
  var args;
  $(document).ready(function() {
    args = $.deparam.querystring();
    if(!args.filter) {
      args.filter = 'all';
    }
    if(!args.type) {
      args.type = 'all';
    }

    updateControls();
    updateCount();
    
    $('#filter-search').click(function(e) {
      $('.form-search').submit();
      return false;
    });
    
    $('.grades a').click(function(e) {
      args.filter = $(this).attr('data-filter');
      updateForm();
      updateControls();
      updateCount();
      e.stopPropagation();
      return false;
    });
    $('select#type').change(function(e) {
      args.type = $(this).val();
      updateCount();
      return false;
    });
    $('input#loc').keyup(function(e) {
      var zip = $(this).val();
      if(zip.length == 5 || zip.length == 0) {
        args.loc = zip;
        updateCount();
      }
      return true;
    });
  });
  
  function updateControls()
  {
    $('.grades a').removeClass('active');
    $('.grades a[data-filter=' + args.filter + ']').addClass('active');
    $('select#type').val(args.type);
  }
  
  function updateForm()
  {
    $('input#filter').val(args.filter);
    $('input#loc').val(args.loc);
  }
  
  function updateCount()
  {
    $('.count').css('color', '#b66');
    var filter = $('form.search #filter').val();
    var type   = $('form.search #type').val();
    var loc    = $('form.search #loc').val();
    $.ajax({
      async: true,
      type: 'POST',
      url: '/schools/overview',
      data: {
        filter: filter,
        type: type,
        loc: loc
      },
      cache: false,
      success: function(data) {
        $('.count').css('color', 'black').text(data);
      }
    });
  }
  