#block-boxes-did-you-know.block.block--boxes.block--boxes-dyk_box.block--boxes-did-you-know
  - key = Mogrify.transliterate(title)
  - grade = grades[section]
  %h2.block__title
    - if local_assigns[:icon]
      = image_tag icon
    = title
  - unless tabs.empty?
    %ul.nav.nav-pills
      %li.active= link_to 'Summary', "##{key}-summary", 'data-toggle' => 'tab'
      - tabs.each do |tab|
        - next if tab == :summary
        %li= link_to tab.to_s.titleize, "##{key}-#{tab.to_s}", 'data-toggle' => 'tab'
  .block__content
    #boxes-box-school_score_widget.boxes-box
      .boxes-box-content.tab-content
        .tab-pane.active{id: "#{key}-summary"}
          .grade_container
            .grade= grade[:letter].to_s.length < 3 ? grade[:letter] : '?'
            .grade.sub3 #{grade[:total].blank? ? '?' : grade[:total]} / #{grade[:possible].blank? ? '?' : grade[:possible]} pts
          .subscore_wrapper
            = render 'shared/subscores', :scores => grade[:summary_table]
            
        - if tabs.include? :details
          .tab-pane{id: "#{key}-details"}
            - if section == :status
              - if @school.high?
                %p For each subject tested on ACT, these percentages reflect ACT’s definition of college readiness on each specific subject.
              - else
                %p Percentage of students in each grade who are proficient in Math and Reading.
              - grade[:details].each do |k,v|
                .graph{:id => "#{key}_#{k}", 'data-subject' => k, 'data-grades' => v.to_json, 'data-tab' => "a[href='##{key}-details']" }
                
            - elsif section == :climate
              .graph{:id => "#{key}_5e", 'data-grades' => grade[:details].to_json, 'data-tab' => "a[href='##{key}-details']", 'data-direction' => 'horizontal', :style => 'height: 340px; width: 640px;' }
            
            
        - if tabs.include? :history
          .tab-pane{id: "#{key}-history"}
            - exists = grade[:history].collect { |n,subjects| subjects.values }.flatten.reject { |i| i.empty? }
            - if exists.empty?
              %p We currently have no historical data to show for this school.
            - else
              %p These charts show the percentage of students proficient in reading and math over the last four years.
            - grade[:history].each do |g,subjects|
              .history{:id => "#{key}_history_#{g}", 'data-grade' => g, 'data-scores' => subjects.to_json, 'data-tab' => "a[href='##{key}-history']" }
          
        - if tabs.include? :help
          .tab-pane.help-tab{id: "#{key}-help"}
            - if section == :climate
              %table#climate-help
                %thead
                  %tr
                    /%th Category5E
                    %th Net 5Essentials Score
                    %th Category of Improvement
                %tbody
                  %tr
                    /%td 1
                    %td -3 to -5
                    %td Not Yet Organized
                  %tr
                    /%td 2
                    %td -1
                    %td Partially Organized
                  %tr
                    /%td 3
                    %td 0
                    %td Moderately Organized
                  %tr
                    /%td 4
                    %td 1 to 2
                    %td Organized
                  %tr
                    /%td 5
                    %td 3 to 5
                    %td Well Organized 
            - else
              %p
                Help me if you can, I'm feeling down
                %br/
                And I do appreciate you being round
                %br/
                Help me, get my feet back on the ground
                %br/
                Won't you please, please help me, help me, help me, ooh
          
        .clear_floats
