#block-boxes-did-you-know.block.block--boxes.block--boxes-dyk_box.block--boxes-did-you-know
  - key = Mogrify.transliterate(title)
  %a{:name => key}
  - grade = grades[section]
  %h2.block__title
    - if local_assigns[:icon]
      = image_tag icon, :class => 'noprint'
    = title
  - unless tabs.empty?
    %ul.nav.nav-pills
      %li.active= link_to 'Summary', "##{key}-summary", 'data-toggle' => 'tab'
      - tabs.each do |tab|
        - next if tab == :summary
        %li= link_to tab.to_s.titleize, "##{key}-#{tab.to_s}", 'data-toggle' => 'tab'
  .block__content
    #boxes-box-school_score_widget.boxes-box
      .boxes-box-content.tab-content
        .tab-pane.active{id: "#{key}-summary"}
          .grade_container
            .grade
              = render 'shared/tip', :tip => @tips["grade_#{section}".to_sym], :placement => 'right'
              = grade[:letter].to_s.length < 3 ? grade[:letter] : '?'
            .grade.sub3 #{grade[:total].blank? ? '?' : grade[:total]} / #{grade[:possible].blank? ? '?' : grade[:possible]} pts
          .subscore_wrapper
            = render 'shared/subscores', :scores => grade[:summary_table], :section => section

        - if tabs.include? :details
          .tab-pane{id: "#{key}-details"}
            %h2.printonly Details
            = render 'shared/tip', :tip => @tips["detail_#{section}".to_sym]
            - if section == :status
              - if @school.high?
                %p For each subject tested on ACT, these percentages reflect ACT’s definition of college readiness on each specific subject.
              - else
                %p Percentage of students in each grade who are proficient in Math and Reading.
              - grade[:details].each do |k,v|
                .graph{:id => "#{key}_#{k}", 'data-subject' => k, 'data-grades' => v.to_json, 'data-tab' => "a[href='##{key}-details']" }

            - elsif section == :climate
              - if grade[:details].empty?
                %p Sorry, we currently have no 5Essentials data to show for this school.
              - else
                %p
                  The student response rate was #{grade[:details]['Response rate on student survey']}%
                  and the teacher response rate was #{grade[:details]['Response rate on teacher survey']}%.
                .elements_wrapper
                  - grade[:details].delete 'Response rate on student survey'
                  - grade[:details].delete 'Response rate on teacher survey'
                  - grade[:details].each do |label,val|
                    = render 'shared/fivee', :label => label, :val => val

        - if tabs.include? :history
          .tab-pane{id: "#{key}-history"}
            %h2.printonly History
            = render 'shared/tip', :tip => @tips["history_#{section}".to_sym]
            - exists = grade[:history].collect { |n,subjects| subjects.values }.flatten.reject { |i| i.empty? }
            - if exists.empty?
              %p We currently have no historical data to show for this school.
            - else
              %p These charts show the percentage of students proficient in reading and math over the last four years.
            - grade[:history].each do |g,subjects|
              .history{:id => "#{key}_history_#{g}", 'data-grade' => g, 'data-scores' => subjects.to_json, 'data-tab' => "a[href='##{key}-history']" }

        .clear-floats
