#block-boxes-did-you-know.block.block--boxes.block--boxes-dyk_box.block--boxes-did-you-know
  - key = Mogrify.transliterate(title)
  %h2.block__title
    - if local_assigns[:icon]
      = image_tag icon
    = title
  - unless tabs.empty?
    %ul.nav.nav-pills
      %li.active= link_to 'Summary', "##{key}-summary", 'data-toggle' => 'tab'
      - tabs.each do |tab|
        - next if tab == :summary
        %li= link_to tab.to_s.titleize, "##{key}-#{tab.to_s}", 'data-toggle' => 'tab'
  .block__content
    #boxes-box-school_score_widget.boxes-box
      .boxes-box-content.tab-content
        .tab-pane.active{id: "#{key}-summary"}
          .grade_container
            .grade= grade[:letter].to_s.length < 3 ? grade[:letter] : '?'
            .grade.sub3 #{grade[:total].blank? ? '?' : grade[:total]} / #{grade[:possible].blank? ? '?' : grade[:possible]}
          .subscore_wrapper
            = render 'shared/subscores', :scores => grade[:summary_table]
            
        - if tabs.include? :details
          .tab-pane{id: "#{key}-details"}
            - if @school.high?
              %p For each subject tested on ACT, these percentages reflect ACT’s definition of college readiness on each specific subject.
            - grade[:details].each do |k,v|
              .graph{:id => "#{key}_#{k}", 'data-subject' => k, 'data-grades' => v.to_json, 'data-tab' => "a[href='##{key}-details']" }
            
            
        - if tabs.include? :history
          .tab-pane{id: "#{key}-history"}
            - grade[:history].each do |g,subjects|
              .history{:id => "#{key}_history_#{g}", 'data-grade' => g, 'data-scores' => subjects.to_json, 'data-tab' => "a[href='##{key}-history']" }
          
        - if tabs.include? :help
          .tab-pane{id: "#{key}-help"}
            %p
              Help me if you can, I'm feeling down
              %br/
              And I do appreciate you being round
              %br/
              Help me, get my feet back on the ground
              %br/
              Won't you please, please help me, help me, help me, ooh
          
        .clear_floats
