%table.scores
  - unless scores.empty?
    %thead
      %tr
        %th
        - unless scores.first[:value].nil?
          %th
            %h3 SCORE
        %th
          %h3 POINTS
        %th
          %h3 MAX
    - scores.andand.each do |h|
      %tr
        %td
          %h3= h[:name]
        %td
          - if h[:value].blank?
            = "-"
          - elsif h[:display] == :percent
            = "#{(h[:value] * 100).to_i}%"
          - else
            = h[:value]
        %td= h[:points].blank? ? '-' : h[:points].to_f.round(1)
        %td
          .relative
            = h[:possible].blank? ? '-' : h[:possible].to_f.round(1)
  
        