%table.scores
  - unless scores.empty?
    %thead
      %tr
        %th
        - unless scores.first[:value].nil?
          %th
            %h3 SCORE
        %th
          %h3 POINTS
        %th
          %h3 MAX
    - scores.andand.each do |h|
      %tr
        %td
          %h3= h[:name]
        - unless h[:value].nil?
          %td
            - if h[:value].to_f == 0
              = "-"
            - else
              = (h[:value].is_a?(Float) and h[:value] <= 1.0) ? "#{(h[:value] * 100).to_i}%" : h[:value]
        %td= h[:points].to_i == 0 ? '-' : h[:points]
        %td
          .relative
            = h[:possible].to_i == 0 ? '-' : h[:possible]
  
        