%h1 ESD Score Card
%br/


#block-boxes-school-score-widget.block.block--boxes.block--boxes-simple.block--boxes-school-score-widget
  %h2.block__title Find Schools
  .block__content
    #boxes-box-school_score_widget.boxes-box
      .boxes-box-content
        .score-right
          %p.count
          #front-filter{:style => 'width: 350px;'}  
            = render :partial => 'shared/filters'
          .clear_floats

- [['Top 10 K-8 Schools', @top_k8], ['Top 10 High Schools', @top_hs]].each do |title,data|
  %h2= title
  - data.each do |s|
    - grade = s.grades[:cumulative]
    .block.top
      .boxes-box-content
        .grade_container
          .grade= grade[:letter].length < 3 ? grade[:letter] : '?'
          .grade.sub3 #{grade[:total]} / #{grade[:possible]}
        .subscore_wrapper
          %h3= link_to s.name, s
          %div #{s.address} &middot; #{s.address2}
  %br/

.clear_floats
%br/
%br/

