
#ground-wrapper
  #ground
  .container_12.clear_floats
    .grid_4.nomobile
      %ul#top-tabs.nav.nav-tabs.left
        %li.active
          %a{:href => '#top', 'data-toggle' => 'tab'}
            - @top_labels.each do |kind,label|
              .top-title.question.bebas{'data-kind' => kind, :class => kind == :ec ? '' : 'hide'}= label
      .tab-content
        #top.tab-pane.active
          - @top.keys.each_with_index do |kind, i|
            - ktop = @top[kind]
            %ul.top{'data-kind' => kind, :class => i != 1 ? 'hide' : ''}
              - ktop.each do |s|
                %li
                  - if kind == :ec
                    = image_tag School.el_image(:mini, s.esd_el_2015.andand.overall_rating), :class => 'mini-icon float_left'
                  - else
                    = image_tag School.k12_image(s.grades[:cumulative][:letter].to_s, :small), :class => 'mini-icon float_left'
                  = link_to s.name, s


    .grid_8
      %ul.nav.nav-tabs
        %li.active
          %a{:href => '#location', 'data-toggle' => 'tab'}
            .question.bebas By Location
        %li
          %a{:href => '#name', 'data-toggle' => 'tab'}
            .question.bebas By Name
        %li
          %a{:href => '#characteristics', 'data-toggle' => 'tab'}
            .question.bebas By Characteristics


      .tab-content
        #location.tab-pane.active
          = render 'shared/filters', :long_names => true
          .clear_floats


        #name.tab-pane
          = form_tag '/search', { :method => :post, :class => 'form-byname search' } do
            = text_field_tag :q, nil, :placeholder => 'Search by school name', :autocomplete => 'off'
            %a#name-search.btn.search{:href => '#'} Search &gt;
          .clear_floats

        #characteristics.tab-pane
          = render 'schools/fourplex'

      .clear_floats

      .block
        %p.orange
          Use this Scorecard to find schools that fit your needs. Be sure to check out the resources below as they were designed with parents
          %em for
          parents.

        %h3.bebas.underlined= @tips.title
        = raw(@tips.body)

        %h3.bebas.underlined= @guides.title
        = raw(@guides.body)

      .clear_floats
      %br/
      %br/

:javascript
  var charFilters = {};
  $(document).ready(function() {
    var school_names = #{School.select('id, name').collect { |s| s.name }.to_json};
    $('input#q').typeahead({ source: school_names });
    $('#name-search').click(function(e) {
      $('.form-byname').submit();
      return false;
    });

    $('.btn-group.grades a').click(function(e) {
      var kind = $(this).data('filter');
      $('.top-title, ul.top').addClass('hide');
      $(".top-title[data-kind='" + kind + "'], ul.top[data-kind='" + kind + "']").removeClass('hide');
      return false;
    });

    $('#characteristics .search').click(function(e) {
      var j = JSON.stringify(charFilters);
      var f = $('.char-form input#filter').val();
      if($.isEmptyObject(j) && !f) {
        return false;
      }
      $('.char-form input#complex').val(j);
      $('.char-form').submit();
      return true;
    });

  });


