%h1 2013 Scorecard

%p.lead Excellent Schools Detroit reviews Detroit schools each year and produces a scorecard that measures school quality.


#block-boxes-school-score-widget.block.block--boxes.block--boxes-simple.block--boxes-school-score-widget
  %h2.block__title Find Schools
  .block__content
    #boxes-box-school_score_widget.boxes-box
      .boxes-box-content
        .score-right
          - if false
            %p.count
          #front-filter{:style => 'width: 350px;'}  
            = render :partial => 'shared/filters'
        .clear_floats

  
%h2 Top 10 Schools
- @top.each do |s|
  - grade = s.grades[:cumulative]
  .block.top
    .boxes-box-content
      .grade_container
        .grade= grade[:letter].length < 3 ? grade[:letter] : '?'
        .grade.sub3 #{grade[:total]} / #{grade[:possible]}
      .subscore_wrapper
        %h3= link_to s.name, s
        %div
          = s.address
          - if false
            %br/
            = s.address2

.clear_floats
%br/
%br/

