.school-banner
  = render 'shared/header'
  .overview
    .school-image(style="background-image:url(#{school.photo})")
    .school-name
      %h1= school.display_name
    .school-type
      = school.governance
      - if school.authorizer.present?
        | #{school.authorizer}
      - elsif school.operator.present?
        | #{school.operator}
    .grades-served
      - school.grades_served.each do |g|
        %span= g
    .overall-performance
      - if school.excellent_schools_grade.present? || school.michigan_percentile.present? || school.recommended?
        .section
          .columns
            - if school.excellent_schools_grade.present?
              .column
                .info-box.info-box--small
                  .info-box__title Overall Grade
                  .info-box__content.info-box__content--overview
                    .text
                      = school.excellent_schools_grade
            - if school.recommended?
              .column.recommended-school
                = image_tag 'recommended_school'
            - if school.michigan_percentile.present?
              .column
                .info-box.info-box--small
                  .info-box__title State
                  .info-box__content.info-box__content--overview
                    .text.percentile
                      = school.michigan_percentile
                      .suffix= percentile_suffix(school.michigan_percentile)
      .more-rankings
        See more rankings:
        .ranking-link
          %a(href="http://www.greatschools.org/michigan/detroit/" target="_blank")
            Great Schools
            .visit-icon.reverse
        - if school.k8?
          .ranking-link
            %a(href="https://www.mackinac.org/depts/epi/performance.aspx?report=3" target="_blank")
              Mackinac
              .visit-icon.reverse
        - else
          .ranking-link
            %a(href="https://www.mackinac.org/depts/epi/performance.aspx" target="_blank")
              Mackinac
              .visit-icon.reverse
        .ranking-link
          %a(href="http://bridgemi.com/2015/02/asc-resultspage/?Dbcode=#{school.district_code}-#{school.building_code}" target="_blank")
            Bridge
            .visit-icon.reverse
    .contact-info
      =link_to_if school.street.present?, school.street, school.gmaps_url, {target: '_blank', class: 'info'}
      - if school.phone.present? || school.fax.present?
        .info
          Phone: #{format_phone(school.phone)} &nbsp;&nbsp;&nbsp;
          - if school.fax.present?
            | &nbsp;&nbsp;&nbsp;Fax: #{school.fax}
    .website-info
      .info
        %a(href="#{school.school_url}" target="_blank")
          %span.visit-icon
          VISIT WEBSITE
      .info
        //%a(id="print" title="Print" target="_blank" href="/schools/#{school.id}.pdf?disposition=inline")
        //  %span.print-icon
        //%a(id="download" title="Download" href="/schools/#{school.id}.pdf")
        //  %span.download-icon
    - if school.hours
      .hours
        = school.hours
    .general-info
      - if school.before_after_care.present?
        .banner-icon.before-after-care-icon
          .hover-state.hide
            .text.title Before After Care
            - school.before_after_care.each do |i|
              .text= i
      - if school.dress_code?
        .banner-icon.uniforms-icon
          .hover-state.hide
            .text.title School Dress Code
            .text= school.dress_code
      - if school.transportation_options.present?
        .banner-icon.transportation-icon
          .hover-state.hide
            .text.title Transportation Options
            - school.transportation_options.each do |i|
              .text= i
      - if school.wheelchair_accessible?
        .banner-icon.wheelchair-icon
          .hover-state.hide
            .text.title Wheelchair Accessible
            .text= school.wheelchair_accessible
      - if school.application_process?
        .banner-icon.special-program-icon
          .hover-state.hide
            .text.title This an application/magnet school that may require a selective application process, exam, or audition.
            - if school.application_fee_amount.present?
              .text Application Fee: #{school.application_fee_amount}
      - if school.special_ed_programs.present?
        .banner-icon.special-education-icon
          .hover-state.hide
            .text.title Special Ed Programs
            - school.special_ed_programs.each do |i|
              .text= i
    - if school.apply?
      .apply
        = link_to 'APPLY', 'http://enrolldetroit.org/?utm_source=apply-button&utm_medium=scorecard&utm_campaign=Scorecard%20Traffic', target: '_blank'
