.visual
  .title= title
  .graph
    .number(data-num="#{school_average}")
      .text
        = school_average ? "#{school_average}%" : ""
  .bounds
    .left-bounds 0%
    .line-graph
      .line-marker.detroit(data-num="#{detroit_average}")
        .wrapper
          .text DETROIT
          .number
            = detroit_average ? "#{detroit_average}%" : ""
      .line-marker.state(data-num="#{state_average}")
        .wrapper
          .text STATE
          .number
            = state_average ? "#{state_average}%" : ""
    .right-bounds 100%
