.visual.performance
  .info-box
    .info-box__title= title
    .info-box__content
      .text.description
        = school_average_points ? rank_text(school_average_points) : "No data available"
      .text.percentage(class="#{rank_text_color(school_average_points || 0)}")
        = "#{school_average}%" if school_average
  .bar-graph
    .fill(class="#{rank_text_color(school_average_points) if school_average_points}-bg" data-num="#{school_average}")
    .left-bounds 0%
    .line-marker(data-num="#{detroit_average}")
    .line-marker-text.detroit(data-num="#{detroit_average}")
      .text DETROIT
    .line-marker(data-num="#{state_average}")
    .line-marker-text.state(data-num="#{state_average}")
      .text STATE
    .right-bounds 100%
