#demographics
  %h2 DEMOGRAPHICS
  .section
    .columns
      .column
        .info-box.info-box--blue
          .info-box__title Number of Students
          .info-box__content
            - if school.total_enrollment.present? && school.total_enrollment > 0
              .student-number= school.total_enrollment
            = render 'pie', school: @school
      .column
        .info-box.info-box--blue
          .info-box__title Student Profile
          .info-box__content.left
            - if school.male_enrollment.present?
              .enrollment
                .enrollment-percentage
                  #{school.male_enrollment}%
                .enrollment-label
                  Male
            - if school.female_enrollment.present?
              .enrollment
                .enrollment-percentage
                  #{school.female_enrollment}%
                .enrollment-label
                  Female
            - if school.free_reduced_lunch.present?
              .enrollment
                .enrollment-percentage
                  #{school.free_reduced_lunch}%
                .enrollment-label
                  Free and reduced-price lunch
            - if school.english_learner.present?
              .enrollment
                .enrollment-percentage
                  #{school.english_learner}%
                .enrollment-label
                  English language learner
            - if school.special_education.present?
              .enrollment
                .enrollment-percentage
                  #{school.special_education}%
                .enrollment-label
                  Special education
      .column
        .info-box.info-box--blue
          .info-box__title Attendance Rate
          .info-box__content.small
            .text
              - if school.attendance.present?
                #{school.attendance.to_f * 100}%
              - else
                Data Not Available
          .info-box__title Bullying Policy
          .info-box__content.small
            .text
              - if school.bullying_policy.present?
                = school.bullying_policy
              - else
                Data Not Available
