#overview
  .middle.overview
    .section
      %h2 Message to families
      %h3= school.message
      .columns
        .column
          .info-box
            .info-box__title APPLICATION FEE
            .info-box__content
              .text $#{school.fee.round(0)}
        .column
          .info-box
            .info-box__title FINANCIAL ASSISTANCE
            .info-box__content
              .text= school.subsidy.join(", ")
          .info-box
            .info-box__title LANGUAGES SPOKEN
            .info-box__content
              .text= school.language.join(", ")
        .column
          .info-box
            .info-box__title LICENSED CAPACITY
            .info-box__content
              .text= school.capacity
          .info-box
            .info-box__title PROGRAM ELIGIBILITY CRITERIA
            .info-box__content
              .text= school.eligibility
          .info-box
            .info-box__title PARTNERSHIP
            .info-box__content
              .text
                = school.partner_one
                %br
                = school.partner_two
                %br
                = school.partner_three
