#staff.ratings
  .section
    .middle
      = render layout: 'ec_overall_rating', locals: { title: 'STAFF', medal: school.teacher_survey_rating, year: school.staff_survey_rating_year } do
        .text Teachers and staff were asked to complete a survey about their program. They answered questions on a five-point scale. Those answers were averaged to create the numbers below.
        - if school.teacher_score_mean.present?
          = render 'staff_rating', school: school, score: school.teacher_score_mean, state: 3.64
      - if school.teacher_score_mean.blank?
        .columns.four
          .column
            = render 'ec_rating_box',
              title: 'Program Environment',
              rank_type: :staff,
              points: school.staff_program_environment_average.andand.to_f.andand.round(1),
              possible_points: 5.0,
              explanation: "Program Environment is  the overall feel for all persons, including children, families, and staff, in the program environment. It measures the “it” factor that is often hard to define,  but is necessary for any lea rning to begin. It measures attributes like an inviting and safe place for children as well as a supportive place for staff to work. It make children, family, and staff feel welcome and respected regardless of differences."
          .column
            = render 'ec_rating_box',
              title: 'Collaboration',
              rank_type: :staff,
              points: school.staff_family_community_average.to_f.round(1),
              possible_points: 5.0,
              explanation: "Family and Community Partnerships is the extent to which programs facilitate relationships between families in their program and the community. It includes the extent in which programs invite parents to bring what they know from the community to the program while also building connections to other families and resources in the community."
          .column
            = render 'ec_rating_box',
              title: 'Cultural Awareness',
              rank_type: :staff,
              points: school.staff_cultural_linguistic_average.to_f.round(1),
              possible_points: 5.0,
              explanation: "Cultural and Linguistic Competence is the extent to which a program understands and implements cultural and linguistic practice. This includes programs that provide staff with opportunities to learn more about their own backgrounds, teachers who learn more about practices and materials for parents in their home language."
          .column
            = render 'ec_rating_box',
              title: 'General Culture and Climate',
              rank_type: :staff,
              points: school.staff_culture_climate_average.to_f.round(1),
              possible_points: 5.0,
              explanation: "General Climate and Culture measures parts of the early learning environment that are supportive, safe, and facilitate children’s learning. It includes caring relationships between educators and children, educators' expectations for children's learning, and to what extent educators believe in children's ability to succeed."

  = render 'legend', school: school, :tab => :staff
