#overview
  .overview
    .section.section--blue
      %h2 Message to families
      %h3= school.message
      .columns
        .column
          .info-box.info-box--blue
            .info-box__title LICENSED CAPACITY
            .info-box__content
              .text= school.capacity
        .column
          .info-box.info-box--blue
            .info-box__title LANGUAGES SPOKEN
            .info-box__content
              .text= school.language.join(", ")
        .column
          .info-box.info-box--blue
            .info-box__title PARTNERSHIPS
            .info-box__content
              .text
                = school.partner_one
                %br
                = school.partner_two
                %br
                = school.partner_three
