.visual
  .title Overall Rating
  .graph
    .text
  .square
    .text Did not participate
.visual
  .graph
    .circle
      .outer
      .inner.fivee-category(data-num="#{ambitious_instruction}")
        Ambitious Instruction
    .top-left.fivee-category(data-num="#{effective_leaders}")
      Effective Leaders
    .top-right.fivee-category(data-num="#{collaborative_teachers}")
      Collaborative Teachers
    .bottom-left.fivee-category(data-num="#{supportive_environment}")
      Supportive Environment
    .bottom-right.fivee-category(data-num="#{involved_families}")
      Involved Families
  .legend
    Very Strong
    .key.green
    .key.light-green
    .key.yellow
    .key.orange
    .key.red
    Very Weak
    - if report_id
      .link
        %a(href="https://detroit.5-essentials.org/2015/s/#{report_id}" target="_blank")
          See more results
          .link-icon

:javascript
  $(function() {
    var rating = #{overall_rating || 0};
    var ratingEl = $('.fivee > .visual:nth-of-type(1) > .graph');
    var text = ratingEl.find('> .text');
    if (rating == 0) {
      text.text('');
      text.css('color', 'grey');
    } else if (rating == 1) {
      ratingEl.css('background-color', '#c32947');
      text.text('NOT YET ORGANIZED');
    } else if (rating == 2) {
      ratingEl.css('background-color', '#ff690f');
      text.text('PARTIALLY ORGANIZED');
    } else if (rating == 3) {
      ratingEl.css('background-color', '#ffc700');
      text.text('MODERATELY ORGANIZED');
    } else if (rating == 4) {
      ratingEl.css('background-color', '#a2c100');
      text.text('ORGANIZED');
    } else if (rating == 5) {
      ratingEl.css('background-color', '#319400');
      text.text('WELL ORGANIZED');
    }

    $('.fivee-category').each(function(i, el) {
      var n = $(el);
      var num = n.data('num');
      if (num > 0 && num < 20) {
        n.css('background-color', '#c32947');
      } else if (num > 19 && num < 40) {
        n.css('background-color', '#ff690f');
      } else if (num > 39 && num < 60) {
        n.css('background-color', '#ffc700');
      } else if (num > 59 && num < 80) {
        n.css('background-color', '#a2c100');
      } else if (num > 79 && num < 101) {
        n.css('background-color', '#319400');
      }
    });
  });
