.visual
  .info-box
    .info-box__title= title
    .info-box__content.fivee-overall-rating(data-rating="#{overall_rating || 0}")
      .fivee-rating-text
      .bottom-text
        .square
        Did not participate

.visual
  .fivee-graph
    .circle
      .outer
      .inner.fivee-category(data-num="#{ambitious_instruction}")
        .text.left Ambitious Instruction
    .row
      .box.fivee-category(data-num="#{effective_leaders}")
        .text.left Effective Leaders
      .box.fivee-category(data-num="#{collaborative_teachers}")
        .text.right Collaborative Teachers
    .row
      .box.fivee-category(data-num="#{supportive_environment}")
        .text.bottom.left Supportive Environment
      .box.fivee-category(data-num="#{involved_families}")
        .text.bottom.right Involved Families
  .legend
    .key
      .box.green
      .label Well Organized
    .key
      .box.light-green
      .label Organized
    .key
      .box.yellow
      .label Moderately Organized
    .key
      .box.orange
      .label Partially Organized
    .key
      .box.red
      .label Not Yet Organized

- if report_id
  .section
    .link
      %a(href="https://detroit.5-essentials.org/2015/s/#{report_id}" target="_blank")
        See more results
        .link-icon
