- key = Mogrify.transliterate(title)
- grade = grades[section]

- if tabs.include? :details
  %h2.printonly Details

  = render 'shared/tip', :tip => @tips["detail_#{section}".to_sym]

  .subscore_wrapper
    = render 'shared/subscores', :scores => grade[:summary_table], :section => section
    %br/
    %br/

  - if section == :status
    - if @school.high?
      %p For each subject tested on ACT, these percentages reflect ACT’s definition of college readiness on each specific subject.
    - else
      %p Percentage of students in each grade who are proficient in Math and Reading:
    - grade[:details].each do |k,v|
      .graph{:id => "#{key}_#{k}", 'data-subject' => k, 'data-grades' => v.to_json, 'data-tab' => "a[href='#status']" }
    .clear_floats

    
- if tabs.include? :history
  %h3.bebas.underlined History
  = render 'shared/tip', :tip => @tips["history_#{section}".to_sym]
  - exists = grade[:history].collect { |n,subjects| subjects.values }.flatten.reject { |i| i.empty? }
  - if exists.empty?
    %p We currently have no historical data to show for this school.
  - else
    %p These charts show the percentage of students proficient in reading and math over the last four years.
  - grade[:history].each do |g,subjects|
    .history{:id => "#{key}_history_#{g}", 'data-grade' => g, 'data-scores' => subjects.to_json, 'data-tab' => "a[href='#progress']" }
