.section
  .columns
    .column
      %a{href: '#performance'}
        .info-box
          .info-box__title College Readiness
          .info-box__content.info-box__content--rank
            .text
              = rank_text(school.college_readiness_ranking)
    .column
      %a{href: '#growth'}
        .info-box
          .info-box__title Growth
          .info-box__content.info-box__content--rank
            .text
              = rank_text(school.growth_ranking)
    .column
      %a{href: '#graduation-rates'}
        .info-box
          .info-box__title Graduation
          .info-box__content.info-box__content--rank
            .text
              = rank_text(school.graduation_ranking)
    .column
      %a{href: '#graduation-rates'}
        .info-box
          .info-box__title Post-Secondary
          .info-box__content.info-box__content--rank
            .text
              = rank_text(school.post_secondary_ranking)
    .column
      %a{href: '#staff'}
        .info-box
          .info-box__title School Climate
          .info-box__content.info-box__content--rank
            .text
              = climate_text(school.climate_ranking, :hs)
  - if @school.message_to_families.present?
    .columns.three
      .column
        .info-box
          .info-box__title Message to Families
          .info-box__content
            .text
              = @school.message_to_families
