%a.school{href: school_path(school.id), "data-tid" => school.tid}
  .icon
    - if school.earlychild?
      %img(src="#{school.early_childhood_image(:mini, nil)}")
    - else
      .rounded-square.green-background.small
        .grade
          = school.excellent_schools_grade
  .info.float-left
    %h3= school.display_name
    - grades = school.grades_served || school.age_groups
    - if grades.size > 1
      - grades = "#{grades.first} - #{grades.last}"
    - else
      - grades = grades.first
    - if school.grades_served.present?
      %div= "Grades: #{grades}"
    - elsif school.age_groups.present?
      %div= "Age Groups: #{grades}"

  .float-right
    %label
      = check_box_tag 'school_ids', school.short_id, false, :class => 'compare-check', id: school.short_id
      Compare
