%li.school{'data-bcode' => school.bcode}
  - if school.earlychild?
    = image_tag EarlyChildhood.image(:mini, school.esd_el_2015.andand.overall_rating), :class => "mini-el-icon"
    - url = school_path(school.tid) + "/ecs"
  - else
    = image_tag School.image(school.overall_grade, :small), :class => 'mini-el-icon'
    - url = school_path(school.tid)

  %h3= link_to school.display_name, url
  - unless school.grades_served.blank?
    %div Grades #{school.grades_served}
  %label
    = check_box_tag 'compare[]', school.id, false, :class => 'compare-check'
    Compare
