%li.school{'data-bcode' => school.bcode}
  = link_to school.name, school_path(school.slug)
  %br/
  = school.address
  %br/
  Grades #{school.grades_served}
  %br/
  %label.float_right
    = check_box_tag 'compare[]', school.id, false, :class => 'compare-check'
    Compare
  - unless school.grade.blank?
    Overall: #{school.grade}