.school{"data-tid" => school.tid}
  %a.icon{href: school_path(school.id)}
    - if school.ec?
      %img(src="#{school.early_childhood_image(:mini, nil)}")
    - else
      .rounded-square.green-background.small
        .grade
          = school.excellent_schools_grade
  %a.info.float-left{href: school_path(school.id)}
    %h3= school.display_name
    - grades = school.grades_served || school.age_groups
    - if grades.size > 1
      - grades = "#{grades.first} - #{grades.last}"
    - else
      - grades = grades.first
    - if school.grades_served.present?
      %div= "Grades: #{grades}"
    - elsif school.age_groups.present?
      %div= "Age Groups: #{grades}"

  .float-right
    .float-left
      = check_box_tag 'school_ids', school.short_id, false, :class => 'compare-check checkbox-icon', id: school.short_id
      %label
    .float-right
      %span.compare-icon
      %span.icon-text COMPARE
