- if !%w(Turnaround Specialty Independent).include? @school.status
  #proficiency.section
    .middle
      .stat-region
        %h2 Are students on track and academically prepared?
        %h3
          Percentage of students scoring proficient or higher on the state M-STEP test,
          2 year average of all grades 3-8, 2014-15, 2015-16
        .content.four
          = render 'bar_graph', title: 'Math',
            school_average: @school.math_mstep_prepared_2017,
            school_average_points: @school.math_mstep_prepared_points_2017,
            detroit_average: @detroit.math_mstep_prepared_2017,
            state_average: @state.math_mstep_prepared_2017
          = render 'bar_graph', title: 'Reading and Writing',
            school_average: @school.ela_mstep_prepared_2017,
            school_average_points: @school.ela_mstep_prepared_points_2017,
            detroit_average: @detroit.ela_mstep_prepared_2017,
            state_average: @state.ela_mstep_prepared_2017
          = render 'bar_graph', title: 'Science',
            school_average: @school.science_mstep_prepared_2017,
            school_average_points: @school.science_mstep_prepared_points_2017,
            detroit_average: @detroit.science_mstep_prepared_2017,
            state_average: @state.science_mstep_prepared_2017
          = render 'bar_graph', title: 'Social Studies',
            school_average: @school.socstud_mstep_prepared_2017,
            school_average_points: @school.socstud_mstep_prepared_points_2017,
            detroit_average: @detroit.socstud_mstep_prepared_2017,
            state_average: @state.socstud_mstep_prepared_2017
          //.what-this-means
          //  .question-mark
          //  WHAT THIS MEANS
          //  .text.hide
          //    This graph uses 2013-2014 MEAP data to compare the percentage of proficient or higher students at this school to the percentage of proficient or higher students in Detroit and in Michigan.
- if !%w(New Specialty Independent).include? @school.status
  #growth.section
    .middle
      .stat-region
        %h2 How does this school match up to the state in proficiency and growth scores?
        //%h3 Growth rate of students compared to their academic peers (students who performed at similar levels in the past year), 2012-2014
        .content
          = content_for :scatter_plot_nav do
            %a.subject.active(data-target="math") Math
            %a.subject(data-target="reading") Reading
          = content_for :scatter_plot_points do
            - ["2016", "2017"].each do |year|
              - if @school.try("math_scatter_prof_#{year}").present? && @school.try("math_scatter_growth_#{year}").present?
                - if year == "2016"
                  - school_math_prof = @school.try("math_meap_prepared_#{year}")
                  - school_path_prof_pts = @school.try("math_meap_prepared_points_#{year}")
                  - detroit_math_prof = @detroit.try("math_meap_prepared_#{year}")
                  - detroit_math_prof_pts = @detroit.try("math_meap_prepared_points_#{year}")
                  - state_math_prof = @state.try("math_meap_prepared_#{year}")

                  - school_ela_prof = @school.try("ela_meap_prepared_#{year}")
                  - school_ela_prof_pts = @school.try("ela_meap_prepared_points_#{year}")
                  - detroit_ela_prof = @detroit.try("ela_meap_prepared_#{year}")
                  - detroit_ela_prof_pts = @detroit.try("ela_meap_prepared_points_#{year}")
                  - state_ela_prof = @state.try("ela_meap_prepared_#{year}")
                - else
                  - school_math_prof = @school.try("math_mstep_prepared_#{year}")
                  - school_math_prof_pts = @school.try("math_mstep_prepared_points_#{year}")
                  - detroit_math_prof = @detroit.try("math_mstep_prepared_#{year}")
                  - detroit_math_prof_pts = @detroit.try("math_mstep_prepared_points_#{year}")
                  - state_math_prof = @state.try("math_mstep_prepared_#{year}")

                  - school_ela_prof = @school.try("ela_mstep_prepared_#{year}")
                  - school_ela_prof_pts = @school.try("ela_mstep_prepared_points_#{year}")
                  - detroit_ela_prof = @detroit.try("ela_mstep_prepared_#{year}")
                  - detroit_ela_prof_pts = @detroit.try("ela_mstep_prepared_points_#{year}")
                  - state_ela_prof = @state.try("ela_mstep_prepared_#{year}")

                .graph-points.math(class="#{year} #{"hide" if year == "2016"}")
                  = render 'scatter_subject_points',
                    hs: @school.hs?,
                    school_name: @school.display_name,
                    subject: 'math',
                    school_proficiency: school_math_prof,
                    school_proficiency_points: school_math_prof_pts,
                    school_proficiency_location: @school.try("math_scatter_prof_#{year}"),
                    school_growth: @school.try("math_growth_#{year}"),
                    school_growth_points: @school.try("math_growth_points_#{year}"),
                    school_growth_location: @school.try("math_scatter_growth_#{year}"),
                    detroit_proficiency: detroit_math_prof,
                    detroit_proficiency_points: detroit_math_prof_pts,
                    detroit_proficiency_location: @detroit.try("math_scatter_prof_#{year}"),
                    detroit_growth: @detroit.try("math_growth_#{year}"),
                    detroit_growth_points: @detroit.try("math_growth_points_#{year}"),
                    detroit_growth_location: @detroit.try("math_scatter_growth_#{year}"),
                    state_proficiency: state_math_prof,
                    state_growth: @state.try("math_growth_#{year}")
              - if @school.try("ela_scatter_prof_#{year}").present? && @school.try("ela_scatter_growth_#{year}").present?
                .graph-points.reading.hide(class="#{year}")
                  = render 'scatter_subject_points',
                    hs: @school.hs?,
                    school_name: @school.display_name,
                    subject: 'reading',
                    school_proficiency: school_ela_prof,
                    school_proficiency_points: school_ela_prof_pts,
                    school_proficiency_location: @school.try("ela_scatter_prof_#{year}"),
                    school_growth: @school.try("reading_growth_#{year}"),
                    school_growth_points: @school.try("reading_growth_points_#{year}"),
                    school_growth_location: @school.try("ela_scatter_growth_#{year}"),
                    detroit_proficiency: detroit_ela_prof,
                    detroit_proficiency_points: detroit_ela_prof_pts,
                    detroit_proficiency_location: @detroit.try("ela_scatter_prof_#{year}"),
                    detroit_growth: @detroit.try("reading_growth_#{year}"),
                    detroit_growth_points: @detroit.try("reading_growth_points_#{year}"),
                    detroit_growth_location: @detroit.try("ela_scatter_growth_#{year}"),
                    state_proficiency: state_ela_prof,
                    state_growth: @state.try("reading_growth_#{year}")
              - @scatter_plot_schools.each do |s|
                - if d = s.try("esd_k8_#{year}s")
                  - math_prof = d.scatter_mathprof
                  - math_growth = d.scatter_mathgrowth
                  - if math_prof.present? && math_growth.present?
                    .graph-points.math(class="#{year} #{"hide" if year == "2016"}")
                      .graph-point.school.other(data-proficiency-location="#{math_prof}" data-growth-location="#{math_growth}")
                  - read_prof = d.scatter_elaprof
                  - read_growth = d.scatter_elagrowth
                  - if read_prof.present? && read_growth.present?
                    .graph-points.reading.hide(class="#{year}")
                      .graph-point.school.other(data-proficiency-location="#{read_prof}" data-growth-location="#{read_growth}")
          = render 'scatter_plot'
          //.what-this-means
          //  .question-mark
          //  WHAT THIS MEANS
          //  .text.hide
          //    This graph provides information about whether students at a school are growing at a faster or slower pace relative to their academic peers across the state in Math and Reading. The graph shows the school's average growth compared to the average growth of other schools in Detroit and in Michigan.
          //    %h4
          //      %b How it's calculated
          //    %b STEP #1:
          //    %p In 2012, Student A (let’s call him Will) scored a 397 on the 4th grade MEAP reading test.<br/>
          //    %b STEP #2:
          //    %p Will is then matched with all other 4th graders across Michigan who also scored roughly 397 on the MEAP reading exam in 2012. We’ll call them Will’s Academic Peers.<br/>
          //    %b STEP #3:
          //    %p One year later, in 2013, Will and his Academic Peers take the 5th grade MEAP reading test. Will scored 522, while his Academic Peers scored 509 on average. Compared to his peers, Will has grown further. This difference in growth is Will’s growth measure, and in Will’s case, its positive.<br/>
          //    %b STEP #4
          //    %p To find the growth of an entire Detroit school, we calculated each individual student’s growth using this method and averaged them altogether.
.section
  .middle
    .stat-region
      %h2 What do students and teachers think about this school?
      %h3 Most recent rating on 5Essentials Student and Teacher Survey
      %h4
        the overall grade is calculated using the higher rating from either 2015 or 2016
        and may be different than what is displayed below

      .content.two.fivee
        = render 'five_essentials',
          title: "Overall Rating - #{@school.five_e_year}",
          grade: "k8",
          year: @school.five_e_year,
          overall_rating: @school.five_e_overall_rating,
          effective_leaders: @school.five_e_effective_leaders,
          collaborative_teachers: @school.five_e_collaborative_teachers,
          involved_families: @school.five_e_involved_families,
          supportive_environment: @school.five_e_supportive_environment,
          ambitious_instruction: @school.five_e_ambitious_instruction,
          report_id: @school.five_e_report_id

      //.what-this-means
      //  .question-mark
      //  WHAT THIS MEANS
      //  .text.hide
      //    This chart measures school culture, or how students and teachers feel about their school. Students and teachers provide this information through the 5Essentials Student and Teacher Survey.
      //    %ul
      //      %li <b>Effective Leaders:</b> The principal works with teachers to implement a clear and strategic vision for school success.
      //      %li <b>Collaborative Teachers:</b> The staff is committed to the school, receives strong professional development, and works together to improve the school.
      //      %li <b>Involved Families:</b> The entire school staff builds strong relationships with families and communities to support learning.
      //      %li <b>Supportive Environment:</b> The school is safe and orderly. Teachers have high expectations for students. Students are supported by their teachers and peers.
      //      %li <b>Ambitious Instruction:</b> Classes are academically demanding and engage students by emphasizing the application of knowledge.
      //    Parents also took the survey. Find out more about how they rated this school. (Coming Soon)
