.middle
  .stat-region
    %h2 Are students on track and academically prepared?
    %h3 Percentage of students scoring proficient or higher on the state test, 2015
    .content.four
      = render 'bar_graph', title: 'Math',
        school_average: @school.math_prepared,
        detroit_average: @detroit.math_prepared,
        state_average: @state.math_prepared
      = render 'bar_graph', title: 'Reading and Writing',
        school_average: @school.ela_prepared,
        detroit_average: @detroit.ela_prepared,
        state_average: @state.ela_prepared
      = render 'bar_graph', title: 'Science',
        school_average: @school.science_prepared,
        detroit_average: @detroit.science_prepared,
        state_average: @state.science_prepared
      = render 'bar_graph', title: 'Social Studies',
        school_average: @school.socstud_prepared,
        detroit_average: @detroit.socstud_prepared,
        state_average: @state.socstud_prepared
      .what-this-means WHAT THIS MEANS
  .stat-region
    %h2 Are students improving academically?
    %h3 Growth rate of students compared to their academic peers (students who performed at similar levels in the past year), 2015
    .content.two
      = render 'two_bar_graph', title: 'Math',
        subject: 'math',
        school_growth: @school.math_growth,
        state_growth: @state.math_growth,
        detroit_growth: @detroit.math_growth,
        zero_bar: 'STATE'
      = render 'two_bar_graph', title: 'Reading',
        subject: 'ela',
        school_growth: @school.reading_growth,
        state_growth: @state.reading_growth,
        detroit_growth: @detroit.reading_growth,
        zero_bar: 'STATE'
      .what-this-means WHAT THIS MEANS
  .stat-region
    %h2 What do students and teachers think about this school?
    %h3 Rating on 5Essentials Student and Teacher Survey, 2015
    .content.two.fivee
      = render 'five_essentials',
        overall_rating: @school.five_e_overall_rating,
        effective_leaders: @school.five_e_effective_leaders,
        collaborative_teachers: @school.five_e_collaborative_teachers,
        involved_families: @school.five_e_involved_families,
        supportive_environment: @school.five_e_supportive_environment,
        ambitious_instruction: @school.five_e_ambitious_instruction
      .what-this-means WHAT THIS MEANS
