.grade-legend.background-grey
  %h2 GRADE LEGEND
  .middle
    .columns.five
      .column
        = image_tag school.early_childhood_image(tab, 'Gold')
        %h3 Superior Quality Program
      .column
        = image_tag school.early_childhood_image(tab, 'Silver')
        %h3 High Quality Program
      .column
        = image_tag school.early_childhood_image(tab, 'Bronze')
        %h3 Quality Program
      .column
        = image_tag school.early_childhood_image(tab, 'Below Bronze')
        %h3 This program was reviewed by the community and is on the path to medal level quality
      .column
        = image_tag school.early_childhood_image(tab, 'Incomplete')
        %h3 The program did not qualify for a medal in this category
