#overview
  .middle
    .section.border-bottom
      .school-header
        - if school.photo
          .school-image
            %img(src="https://portal.excellentschoolsdetroit.org/files/#{school.photo}")
        .school-title
          %h1= school.display_name
          .grades-served= "Grades Served: #{school.grades_served.first} - #{school.grades_served.last}"
      .overview-text
        =raw simple_format(school.overview_text)
      .info-bar
        .item
          .contact
            .email-icon
            %a{href: "mailto:#{school.email}"} Email
            this school
        .item
          .contact
            .phone-icon
            %a{href: "tel:#{school.phone}"} Call
            this school
        .item
          .contact
            .website-icon
            %a.external{:href => school.school_url, :target => '_blank'} Visit
            this school's website
        .item.compare
          %a(href="/compare/+#{school.tid}")
            COMPARE TO OTHER SCHOOLS
    .section.border-bottom
      .header
        .left-header How is this school ranked?
      .columns
        .column
          .title Excellent Schools Detroit
          .content
            .rounded-square.green-background.auto-margin
              .grade
                = school.excellent_schools_grade

              .small OVERALL GRADE
        .column
          .title State
          .content
            .rounded-square.light-cyan-background.auto-margin
              .big
                = school.michigan_percentile
                .suffix th
              .small PERCENTILE OUT OF 100
        .column
          .title Governance
          .content
            .header= school.governance
            %span.key Authorizer:
            = school.authorizer.strip
            <br/>
            %span.key Operator:
            = school.operator.strip
      .what-this-means
        .question-mark
        WHAT THIS MEANS
        .text.hide
          - if school.k8?
            The Excellent Schools Detroit grade is a measure of how schools educate their students. The grade indicates the percent of possible points that the school earned. The State Rank is part of Michigan's statewide school accountability system, which orders schools by percentile.
          - else
            The Excellent Schools Detroit grade is a measure of how schools educate their students. The grade indicates the percent of possible points that the school earned. The State Rank is part of Michigan's statewide school accountability system, which orders schools by percentile.
    .section.border-bottom
      .columns
        .column
          .title Hours
          .content
            .header= school.hours
            - school.before_after_care.each do |c|
              .text.centered
                .wrapper
                  .checked
                  = c
        .column
          .title
            .icon-text
              .address-icon
              = school.street
          .content.no-padding
            .school-map-wrapper
              #map
        .column
          .title Transportation
          .content
            %ul
              - school.transportation_options.each do |t|
                %li= t
            %span.key Average Commute:
            = "#{school.average_commute} miles"
    .section
      .header
        .left-header Demographics
        .right-header School Policies
      .columns
        .column
          .title Number of Students
          .content
            .header.big= school.total_enrollment
            #pie
            .legend
              .stat
                .race(style="background-color: #2e5b8c")
                .text= "African American: #{school.african_american_enrollment}%"
              .stat
                .race(style="background-color: #7cc45c")
                .text= "Asian: #{school.asian_enrollment}%"
              .stat
                .race(style="background-color: #2b9fc7")
                .text= "Hispanic: #{school.hispanic_enrollment}%"
              .stat
                .race(style="background-color: #f8ae16")
                .text= "White: #{school.white_enrollment}%"
              .stat
                .race(style="background-color: #ff690f")
                .text= "Other: #{school.other_enrollment}%"
        .column
          .title Student Profile
          .content
            .text= "Male: #{school.male_enrollment ? "#{school.male_enrollment}%" : 'N/A'}"
            .text= "Female: #{school.female_enrollment ? "#{school.female_enrollment}%" : 'N/A'}"
            .text= "Free and reduced-price lunch: #{school.free_reduced_lunch ? "#{school.free_reduced_lunch}%" : 'N/A'}"
            .text= "English language learner: #{school.english_learner ? "#{school.english_learner}%" : 'N/A'}"
            .text= "Special education: #{school.special_education ? "#{school.special_education}%" : 'N/A'}"
        .column
          .title Application Required
          .content
            .header
              = render 'yes_no', value: school.application_process?
            .text.centered (see How To Apply)
          .title Dress Code
          .content
            .header
              = render 'yes_no', value: school.dress_code?
          .title Bullying Policy
          .content
            .header
              = render 'yes_no', value: school.bullying_policy?

:javascript
  $(function() {
    $('.what-this-means').click(function() {
      var text = $(this).find('> .text');
      if (text.hasClass('hide')) {
        text.removeClass('hide');
      } else {
        text.addClass('hide');
      }
    });

    var drawPie = function(element, data) {
    var w = 75,
      h = 75,
      radius = 37.5,
      color = d3.scale.category20(),
      pie = d3.scale.linear().
        domain([0, 50]).
        range([0, 2 * Math.PI]),
      arc = d3.svg.arc()
        .innerRadius(0)
        .outerRadius(radius)
        .startAngle(function(d) { return pie(d.start); })
        .endAngle(function(d) { return pie(d.end); });

    var vis = d3.select(element)
      .append("svg:svg")
      .attr("width", w)
      .attr("height", h);

    var arcs = vis.selectAll("path")
      .data(data)
      .enter()
      .append("path")
      .attr("d", arc)
      .style("fill", function(d) { return d.color; })
      .attr("transform", "translate(" + radius + "," + radius + ")");

    vis.selectAll("text")
      .data(data)
      .enter()
      .append("text")
      .attr("font-size", "12px")
      .attr("transform", function(d) {
        return "translate(" + (60 + 50) +  ")";
      })
      .text(function(d) { return d.label; });
    };

    var pieOpts = function(label, color, start, end) {
      return {
        label: label,
        color: color,
        start: start,
        end: end
      };
    };

    var aa = #{school.african_american_enrollment},
        a  = #{school.asian_enrollment},
        h  = #{school.hispanic_enrollment},
        w  = #{school.white_enrollment},
        o  = #{school.other_enrollment};

    drawPie("#pie", [
      pieOpts(
        "African American: " + aa + "%",
        "#2e5b8c", 0, aa || 0
      ),
      pieOpts(
        "Asian: " + a + "%",
        "#7cc45c", aa, aa + a
      ),
      pieOpts(
        "Hispanic: " + h + "%",
        "#2b9fc7", aa + a, aa + a + h
      ),
      pieOpts(
        "White: " + w + "%",
        "#f8ae16", aa + a + h, aa + a + h + w
      ),
      pieOpts(
        "Other: " + o + "%",
        "#ff690f", aa + a + h + w, aa + a + h + w + o
      )
    ]);

  });
