#overview
  .middle
    .section.border-bottom
      .school-header
        - if school.photo.present?
          .school-image
            %img(src="#{school.photo}")
        .school-text
          .school-title
            %h1= school.display_name
            - if school.status != 'Mature' && school.status != 'Suburban'
              = school.status
              - if school.status == 'New'
                .text.small
                  New Schools are schools that have been open for less than three years OR have less than 70% of data available to adequately assess performance.
              - elsif school.status == 'Turnaround'
                .text.small
                  Turnaround Schools are schools that experienced a restart within the past two years due to failing academic performance. A school is in turnaround if it has changed at least two out of the three:  governance, management, and board.
          .grades-served= "Grades Served: #{school.grades_served.first} - #{school.grades_served.last}"
      .overview-text
        =raw simple_format(school.overview_text)
      .info-bar
        .item
          .contact
            .email-icon
            %a{href: "mailto:#{school.email}"} Email
            this school
        .item
          .contact
            .phone-icon
            %a{href: "tel:#{school.phone}"} Call
            this school
        .item
          .contact
            .website-icon
            %a.external{:href => school.school_url, :target => '_blank'} Visit
            this school's website
    .section.border-bottom
      .header
        .left-header How is this school ranked?
      .columns
        .column
          .title Excellent Schools Detroit
          .content
            - if school.excellent_schools_grade.present?
              .rounded-square.green-background.auto-margin
                .grade
                  = school.excellent_schools_grade
                .small OVERALL GRADE
        .column
          .title State
          .content
            - if school.michigan_percentile.present?
              .rounded-square.light-cyan-background.auto-margin
                .big
                  = school.michigan_percentile
                  .suffix= percentile_suffix(school.michigan_percentile)
                .small PERCENTILE OUT OF 100
        .column
          .title School Type
          .content
            .header= school.governance
            - if school.authorizer.present?
              %span.key Authorizer:
              = school.authorizer
              <br/>
            - if school.operator.present?
              %span.key Operator:
              = school.operator
      .links.two-column
        See more rankings:
        %a(href="http://www.greatschools.org/michigan/detroit/" target="_blank")
          Great Schools
          .link-icon
        - if school.k8?
          %a(href="https://www.mackinac.org/depts/epi/performance.aspx?report=3" target="_blank")
            Mackinac
            .link-icon
        - else
          %a(href="https://www.mackinac.org/depts/epi/performance.aspx" target="_blank")
            Mackinac
            .link-icon
        %a(href="http://bridgemi.com/2015/02/asc-resultspage/?Dbcode=#{school.district_code}-#{school.building_code}" target="_blank")
          Bridge
          .link-icon

      .what-this-means.two-column
        .question-mark
        WHAT THIS MEANS
        .text.hide
          - if school.k8?
            The Excellent Schools Detroit grade is a measure of how schools educate their students. The grade indicates the percent of possible points that the school earned. The State Rank is part of Michigan's statewide school accountability system, which orders schools by percentile.
          - else
            The Excellent Schools Detroit grade is a measure of how schools educate their students. The grade indicates the percent of possible points that the school earned. The State Rank is part of Michigan's statewide school accountability system, which orders schools by percentile.
    .section.border-bottom
      .columns
        .column
          .title Hours
          .content
            .header= school.hours
            - school.before_after_care.each do |c|
              .text.centered
                .wrapper
                  .checked
                  = c
        .column
          .title
            .icon-text
              .address-icon
              = school.street
          .content.no-padding
            .school-map-wrapper
              #map
            - if school.council_district
              <br/>
              .centered
                %span.key City Council District:
                = school.council_district
        .column
          .title Transportation
          .content
            %ul
              - school.transportation_options.each do |t|
                %li= t
            - if school.average_commute.present?
              %span.key Average Commute:
              = "#{school.average_commute} miles"
    .section
      .header
        .left-header Demographics
        .right-header School Policies
      .columns
        .column
          .title Number of Students
          .content
            - if school.total_enrollment.present? && school.total_enrollment > 0
              .header.big= school.total_enrollment
            = render 'pie', school: @school
        .column
          .title Student Profile
          .content
            - if school.male_enrollment.present?
              .text= "Male: #{school.male_enrollment}%"
            - if school.female_enrollment.present?
              .text= "Female: #{school.female_enrollment}%"
            - if school.free_reduced_lunch.present?
              .text= "Free and reduced-price lunch: #{school.free_reduced_lunch}%"
            - if school.english_learner.present?
              .text= "English language learner: #{school.english_learner}%"
            - if school.special_education.present?
              .text= "Special education: #{school.special_education}%"
        .column
          .title Application Required
          .content
            - if school.application_process?
              .header
                = render 'yes_no', value: school.application_process?
              /.text.centered (see How To Apply)
          .title Dress Code
          .content
            - if school.dress_code?
              .header
                = render 'yes_no', value: school.dress_code?
          .title Bullying Policy
          .content
            - if school.bullying_policy?
              .header
                = render 'yes_no', value: school.bullying_policy?
