#overview
  .middle
    .section.border-bottom
      .school-header
        - if school.photo
          .school-image
            %img(src="https://portal.excellentschoolsdetroit.org/files/#{school.photo}")
        .school-title
          %h1= school.display_name
          .grades-served= "Age Groups: #{school.age_groups.join(', ')}"
      .overview-text
        =raw simple_format(school.overview_text)
      .info-bar
        .item
          .contact
            .email-icon
            %a{href: "mailto:#{school.email}"} Email
            this school
        .item
          .contact
            .phone-icon
            %a{href: "tel:#{school.phone}"} Call
            this school
        .item
          .contact
            .website-icon
            %a.external{:href => school.school_url, :target => '_blank'} Visit
            this school's website
        .item.compare(title="Coming Soon")
          COMPARE TO OTHER SCHOOLS
    .section.border-bottom
      .header
        .left-header How is this school ranked?
      .columns
        .column
          .title Excellent Schools Detroit
          .content
            .rounded-square.green-background.auto-margin
              .grade
                = school.excellent_schools_grade

              .small OVERALL GRADE
        .column
          .title State
          .content
            .rounded-square.light-cyan-background.auto-margin
              .big
                - if school.michigan_percentile
                  = school.michigan_percentile
                  .suffix th
              .small PERCENTILE OUT OF 100
        .column
          .title School Type
          .content
            .header= school.governance
            %span.key Authorizer:
            = school.authorizer
            <br/>
            %span.key Operator:
            = school.operator
      .links.two-column
        See more rankings:
        %a(href="http://www.greatschools.org/michigan/detroit/" target="_blank")
          Great Schools
          .link-icon
        - if school.k8?
          %a(href="https://www.mackinac.org/depts/epi/performance.aspx?report=3" target="_blank")
            Mackinac
            .link-icon
        - else
          %a(href="https://www.mackinac.org/depts/epi/performance.aspx" target="_blank")
            Mackinac
            .link-icon
        %a(href="http://bridgemi.com/2015/02/asc-resultspage/?Dbcode=#{school.district_code}-#{school.building_code}" target="_blank")
          Bridge
          .link-icon

      .what-this-means.two-column
        .question-mark
        WHAT THIS MEANS
        .text.hide
    .section
      .columns
        .column
          .title Hours
          .content
            .header= school.hours
        .column
          .title
            .icon-text
              .address-icon
              = school.street
          .content.no-padding
            .school-map-wrapper
              #map
        .column
          .title Transportation
          .content
            .header= school.transportation

:javascript
  $(function() {
    $('.what-this-means').click(function() {
      var text = $(this).find('> .text');
      if (text.hasClass('hide')) {
        text.removeClass('hide');
      } else {
        text.addClass('hide');
      }
    });

    $('.compare').mouseover(function() {
      $(this).text('COMING SOON');
    }).mouseout(function() {
      $(this).text('COMPARE TO OTHER SCHOOLS');
    });
  });
