#programs
  .middle
    - if school.schedule.present? || school.parent_involvement.present?
      .section.border-bottom
        .columns.two
          - if school.schedule.present?
            .column
              .title Class Schedule
              .content.light-cyan-background
                = render 'field_list', list: school.schedule
          - if school.parent_involvement.present?
            .column
              .title Parent Involvement
              .content.light-cyan-background
                = render 'field_list', list: school.parent_involvement
    - if school.has_academic_programs?
      .section.border-bottom
        .header
          .icon-text
            .star-icon
            Academic Programs
        .columns.two
          - if school.academic_focus.present?
            .column
              .title Academic Focus
              .content.light-cyan-background
                = render 'field_list', list: school.academic_focus
          - if school.has_ell?
            .column
              .title English Language Learners
              .content.light-cyan-background
                - if school.ell_level.present?
                  %span.key Level:
                  = school.ell_level
                  <br/>
                  <br/>
                - if school.ell_languages.present?
                  %span.key Languages
                  = render 'field_list', list: school.ell_languages
          - if school.instructional_model.present?
            .column
              .title Personalized Learning Options
              .content.light-cyan-background
                = render 'field_list', list: school.instructional_model
          - if school.special_ed_level.present? || school.special_ed_programs.present?
            .column
              .title Special Education
              .content.light-cyan-background
                - if school.special_ed_level.present?
                  %span.key Level:
                  = school.special_ed_level
                  <br/>
                  <br/>
                - if school.special_ed_programs.present?
                  %span.key Programs
                  = render 'field_list', list: school.special_ed_programs
    - if school.has_classes?
      .section.border-bottom
        .header
          .icon-text
            .classes-icon
            Classes
        .columns.two
          - if school.has_arts?
            .column
              .title Arts
              .content.light-cyan-background
                - if school.arts_media.present?
                  %span.key Media
                  = render 'field_list', list: school.arts_media
                  <br/>
                - if school.arts_music.present?
                  %span.key Music
                  = render 'field_list', list: school.arts_music
                  <br/>
                - if school.arts_performing_written.present?
                  %span.key Performing & Written
                  = render 'field_list', list: school.arts_performing_written
                  <br/>
                - if school.arts_visual.present?
                  %span.key Visual
                  = render 'field_list', list: school.arts_visual
          - if school.has_foreign_language?
            .column
              .title Foreign Language
              .content.light-cyan-background
                - if school.immersion.present?
                  %span.key Language Immersion:
                  = school.immersion
                  <br/>
                  <br/>
                - if school.foreign_languages.present?
                  %span.key Languages Offered
                  = render 'field_list', list: school.foreign_languages
    - if school.has_support?
      .section.border-bottom
        .header
          .icon-text
            .support-icon
            Support
        .columns.two
          - if school.extra_learning_resources.present?
            .column
              .title Extra Learning Resources
              .content.light-cyan-background
                = render 'field_list', list: school.extra_learning_resources
          - if school.staff_resources.present?
            .column
              .title Staff Resources for Students
              .content.light-cyan-background
                = render 'field_list', list: school.staff_resources
    - if school.facilities.present?
      .section.border-bottom
        .header
          .icon-text
            .facilities-icon
            Facilities
        .columns.one
          - if school.facilities.present?
            .column
              .content.light-cyan-background
                = render 'four_col_field_list', list: school.facilities

    - if school.has_sports?
      .section.border-bottom
        .header
          .icon-text
            .sports-icon
            Sports
        .columns.two
          - if school.boys_sports.present?
            .column
              .title Boy Sports
              .content.light-cyan-background
                = render 'field_list', list: school.boys_sports
          - if school.girls_sports.present?
            .column
              .title Girl Sports
              .content.light-cyan-background
                = render 'field_list', list: school.girls_sports
    - if school.has_clubs?
      .section
        .header
          .icon-text
            .clubs-icon
            Clubs
        .columns.two
          - if school.student_clubs.present?
            .column
              .title Student Clubs
              .content.light-cyan-background
                = render 'field_list', list: school.student_clubs
          - if school.has_other_student_clubs?
            .column
              - if school.student_clubs_dance.present?
                .title Dance
                .content.light-cyan-background
                  = render 'field_list', list: [school.student_clubs_dance]
              - if school.student_clubs_language.present?
                .title Language
                .content.light-cyan-background
                  = render 'field_list', list: [school.student_clubs_language]
              - if school.student_clubs_other.present?
                .title Other
                .content.light-cyan-background
                  = render 'field_list', list: school.student_clubs_other
