#programs.hide
  .middle
    - if school.schedule.present? || school.parent_involvement.present?
      .section
        .columns.two
          = render 'column',
            title: 'Class Schedule',
            list: school.schedule
          = render 'column',
            title: 'Parent Involvement',
            list: school.parent_involvement
    - if school.has_academic_programs?
      .section
        .header
          .icon-text
            .star-icon
            Academic Programs
        .columns.two
          - if school.academic_focus.present? || school.instructional_model.present?
            .column
              = render 'column_content',
                title: 'Academic Focus',
                list: school.academic_focus
              = render 'column_content',
                title: 'Personalized Learning Options',
                list: school.instructional_model
          .column
            - if school.has_ell?
              .info-box
                .info-box__title English Language Learners
                .info-box__content
                  - if school.ell_level.present?
                    %span.key Level:
                    = school.ell_level
                    <br/>
                    <br/>
                  - if school.ell_languages.present?
                    %span.key Languages
                    = render 'field_list', list: school.ell_languages
            - if school.special_ed_level.present? || school.special_ed_programs.present?
              .info-box
                .info-box__title Special Education
                .info-box__content
                  - if school.special_ed_level.present?
                    %span.key Level:
                    = school.special_ed_level
                    <br/>
                    <br/>
                  - if school.special_ed_programs.present?
                    %span.key Programs
                    = render 'field_list', list: school.special_ed_programs
    - if school.has_classes?
      .section
        .header
          .icon-text
            .classes-icon
            Classes
        .columns.two
          - if school.has_arts?
            .column
              .info-box
                .info-box__title Arts
                .info-box__content
                  - if school.arts_media.present?
                    %span.key Media
                    = render 'field_list', list: school.arts_media
                    <br/>
                  - if school.arts_music.present?
                    %span.key Music
                    = render 'field_list', list: school.arts_music
                    <br/>
                  - if school.arts_performing_written.present?
                    %span.key Performing & Written
                    = render 'field_list', list: school.arts_performing_written
                    <br/>
                  - if school.arts_visual.present?
                    %span.key Visual
                    = render 'field_list', list: school.arts_visual
          - if school.has_foreign_language?
            .column
              .info-box
                .info-box__title Foreign Language
                .info-box__content
                  - if school.immersion.present?
                    %span.key Language Immersion:
                    = school.immersion
                    <br/>
                    <br/>
                  - if school.foreign_languages.present?
                    %span.key Languages Offered
                    = render 'field_list', list: school.foreign_languages
    - if school.has_support?
      .section
        .header
          .icon-text
            .support-icon
            Support
        .columns.two
          = render 'column',
            title: 'Extra Learning Resources',
            list: school.extra_learning_resources
          = render 'column',
            title: 'Staff Resources for Students',
            list: school.staff_resources
    - if school.facilities.present?
      .section
        .columns.one
          - if school.facilities.present?
            .column
              .info-box
                .info-box__title
                  .header
                    .icon-text
                      .facilities-icon
                      Facilities
                .info-box__content
                  = render 'four_col_field_list', list: school.facilities

    - if school.has_sports?
      .section
        .header
          .icon-text
            .sports-icon
            Sports
        .columns.two
          = render 'column',
            title: 'Boy Sports',
            list: school.boys_sports
          = render 'column',
            title: 'Girl Sports',
            list: school.girls_sports
    - if school.has_clubs?
      .section
        .header
          .icon-text
            .clubs-icon
            Clubs
        .columns.two
          = render 'column',
            title: 'Student Clubs',
            list: school.student_clubs
          - if school.has_other_student_clubs?
            .column
              = render 'column_content',
                title: 'Dance',
                list: school.student_clubs_dance
              = render 'column_content',
                title: 'Language',
                list: school.student_clubs_language
              = render 'column_content',
                title: 'Other',
                list: school.student_clubs_other
