.graph-point.school(data-proficiency="#{school_proficiency}" data-proficiency-location="#{school_proficiency_location}" data-growth="#{school_growth}" data-growth-location="#{school_growth_location}")
  .point-popup.hide
    .row
      .name= school_name
    .row
      .subject= subject.upcase
    .row.no-padding.big
      .left
        .big
          #{school_proficiency}%
        .small
          - if hs
            COLLEGE READY
          -else
            PROFICIENT
      .right
        .state
          %span.medium #{state_proficiency}%
          %span STATE
        .detroit
          %span.medium #{detroit_proficiency}%
          %span DETROIT
    .row.no-padding
      .left
        .growth #{school_growth.round(1)}
      .right.growth-desc
        - if hs
          ACT growth points compared to state
        - else
          growth percentile compared to state
.graph-point.detroit(data-proficiency="#{detroit_proficiency}" data-proficiency-location="#{detroit_proficiency_location}" data-growth="#{detroit_growth}" data-growth-location="#{detroit_growth_location}")
  .point-popup.hide
    .row
      .name Detroit
    .row
      .subject= subject.upcase
    .row.no-padding
      .left
        .growth #{detroit_proficiency.round(0)}%
      .right.growth-desc
        - if hs
          percent college ready
        - else
          citywide average proficiency rate
    .row.detroit-growth
      .text-left
        %span.big #{detroit_growth.round(1)}
      .text-right
        %span
          - if hs
            ACT growth points compared to state
          - else
            citywide average growth percentile
