.graph-point.school(data-proficiency="#{school_proficiency}" data-growth="#{school_growth}")
  .point-popup.hide
    .row
      .name= school_name
    .row
      .subject= subject.upcase
    .row.no-padding.big
      .left
        .big
          #{school_proficiency}%
        .small
          - if hs
            COLLEGE READY
          -else
            PROFICIENT
      .right
        .state
          %span.medium #{state_proficiency}%
          %span STATE
        .detroit
          %span.medium #{detroit_proficiency}%
          %span DETROIT
    .row.no-padding
      .left
        .growth #{school_growth}
      .right.growth-desc
        - if hs
          ACT growth points compared to state
        - else
          Growth percentile compared to state
.graph-point.detroit(data-proficiency="#{detroit_proficiency}" data-growth="#{detroit_growth}")
  .point-popup.hide
    .row
      .name Detroit
    .row
      .subject= subject.upcase
    .row.detroit-prof
      %span.big #{detroit_proficiency}%
      - if hs
        %span COLLEGE READY
      - else
        %span PROFICIENT
