- if local_assigns.has_key?(:year)
  .centered.nomobile= image_tag School.el_image(category, rating, year), :class => "el-icon #{category}"
  - unless category == :overview or category == :overall
    = image_tag school.early_childhood_image(:mini, year), :class => "mini-el-icon #{category} mobile_only"
- else
  .centered.nomobile= image_tag school.early_childhood_image(category, nil), :class => "el-icon #{category}"
  - unless category == :overview or category == :overall
    = image_tag school.early_childhood_image(:mini, nil), :class => "mini-el-icon #{category} mobile_only"
