- if local_assigns.has_key?(:year)
  .centered.nomobile= image_tag School.el_image(category, rating, year), :class => "el-icon #{category}"
  - unless category == :overview or category == :overall
    = image_tag School.el_image(:mini, rating, year), :class => "mini-el-icon #{category} mobile_only"
- else
  .centered.nomobile= image_tag School.el_image(category, rating), :class => "el-icon #{category}"
  - unless category == :overview or category == :overall
    = image_tag School.el_image(:mini, rating), :class => "mini-el-icon #{category} mobile_only"
