.visual
  .title= title
  .graph
    .number
      .width(data-num="#{school_average}")
    - if school_average
      .text
        = "#{school_average}%"
  .graph
    .number
      .width(data-num="#{detroit_average}")
    - if detroit_average
      .text
        = "#{detroit_average}%"
  .graph
    .number
      .width(data-num="#{state_average}")
    - if state_average
      .text
        = "#{state_average}%"

  :javascript
    $(function() {
      $('.bar .graph > .number > .width').each(function(i, n) {
        var el  = $(n),
            num = el.data('num');
        if (num != "") {
          el.css('width', el.data('num') + '%');
        } else {
          el.css('width', '0px');
        }
      });
    });
