.visual
  .title= title
  .graph.growth(data-subject="#{subject}" data-school-growth="#{school_growth}" data-state-growth="#{state_growth}" data-detroit-growth="#{detroit_growth}")
    .left-bars
      .negative
        .text
        .number
      .negative
        .text
        .number
    .zero-bar
      .text= zero_bar
    .right-bars
      .positive
        .text
        .number
      .positive
        .text
        .number

:javascript
  $(function() {
    var setText = function(el, index) {
      if (index == 0) {
        el.text('SCHOOL');
      } else {
        el.text('DETROIT');
      }
    };

    var setBars = function(pos, neg, posWidth, negWidth, margin, displayText, index) {
      pos.css('width', posWidth + 'px');
      neg.css('width', negWidth + 'px');
      var text, num;
      if (posWidth > 0) {
        text = pos.find('.text');
        num = pos.find('.number');
      } else {
        text = neg.find('.text');
        num = neg.find('.number');
      }
      setText(text, index);
      text.css('margin-left', margin + 'px');
      num.css('margin-left', margin + 'px');
      if (displayText == 'N/A') {
        num.css('color', 'grey');
      }
      num.text(displayText);
    };

    var displayGrowth = function(el, index, growth) {
      var neg = $(el.find('.negative').get(index));
      var pos = $(el.find('.positive').get(index));
      if (growth > 0) {
        setBars(pos, neg, growth, 0, pos.width() + 10, Math.round(growth * 100) / 100, index);
      } else if (growth < 0) {
        setBars(pos, neg, 0, growth * -1, -(neg.width() + 70), Math.round(growth * 100) / 100, index);
      } else {
        setBars(pos, neg, 0, 0, 10, 'N/A', index);
      }
    };

    var addGrowth = function(el, growth, index) {
      if (growth != "") {
        displayGrowth(el, index, growth);
      } else {
        displayGrowth(el, index, 0);
      }
    };

    $('.growth').each(function(i, n) {
      var el = $(n);
      var subject = el.data('subject')
      var schoolGrowth = el.data('school-growth');
      var detroitGrowth = el.data('detroit-growth');
      addGrowth(el, schoolGrowth, 0);
      addGrowth(el, detroitGrowth, 1);
    });
  });
