.visual
  .title= title
  .graph.growth(data-subject="#{subject}" data-scale="#{scale}" data-school-growth="#{school_growth}" data-detroit-growth="#{detroit_growth}")
    .bar.school
      .number
      .difference.hide
        .bar
        .line
      .text
    .bar.detroit
      .number
      .difference.hide
        .bar
        .line
      .text
    .zero-bar
      .text= zero_bar
