.container_12
  .middle
    .top
      .nav
        %a.btn(id="add-schools" href="#") Add schools
        .scroll
          %span &nbsp;
          .right.hide
            %a(href="") &#x276f;
        .scroll
          %span &nbsp;
          .left.hide
            %a(href="") &#x276e;
    .top
      #map

    .compare
      - @schools.each do |s|
        .school
          .group
            .line
              .name
                %h2= link_to s.display_name, school_path(s.id)
            .line.clear-floats
              .float-left Type
              .float-right= s.governance
            .line.clear-floats
              .float-left Grades
              .float-right
                - grades = s.grades_served || s.age_groups
                = "#{grades.first} - #{grades.last}"
            .line.clear-floats
              - if s.earlychild?
                = "#{s.early_childhood_rating}"
              - else
                .float-left ESD Grade
                .float-right= s.excellent_schools_grade
            .line.clear-floats
              .float-left State Ranking
              .float-right= "#{s.michigan_percentile}#{percentile_suffix(s.michigan_percentile)} percentile"
          .region-title
            %h2 Overview
          .group
            .line
              .float-left Students Enrolled
              .float-right= s.total_enrollment
            .line.clear-floats
              .float-left Transportation
              .float-right
                - if s.transportation_options.present?
                  .checked
                - else
                  .unchecked
            .line.clear-floats
              .float-left Before Care
              .float-right
                - if s.before_after_care_keys.include?("before")
                  .checked
                - else
                  .unchecked
            .line.clear-floats
              .float-left After Care
              .float-right
                - if s.before_after_care_keys.include?("after")
                  .checked
                - else
                  .unchecked
          .region-title
            %h2 Performance
          .group
            - if s.earlychild?
            - else
              - if s.k8?
                %h3 Proficiency
                .line.clear-floats
                  .float-left Math
                  .float-right= "#{s.math_prepared}%" if s.math_prepared.present?
                .line.clear-floats
                  .float-left Reading and Writing
                  .float-right= "#{s.ela_prepared}%" if s.ela_prepared.present?
                .line.clear-floats
                  .float-left Science
                  .float-right= "#{s.science_prepared}%" if s.science_prepared.present?
                .line.clear-floats
                  .float-left Social Studies
                  .float-right= "#{s.socstud_prepared}%" if s.socstud_prepared.present?
                %h3 Growth
                .line.clear-floats
                  .float-left Math Growth
                  .float-right= s.math_growth
                .line.clear-floats
                  .float-left Reading Growth
                  .float-right= s.reading_growth
                .line.clear-floats
                  .fivee
                    = render 'five_essentials',
                      title: '5Essentials Rating',
                      overall_rating: s.five_e_overall_rating,
                      effective_leaders: s.five_e_effective_leaders,
                      collaborative_teachers: s.five_e_collaborative_teachers,
                      involved_families: s.five_e_involved_families,
                      supportive_environment: s.five_e_supportive_environment,
                      ambitious_instruction: s.five_e_ambitious_instruction,
                      report_id: s.five_e_report_id
              - else
                %h3 Proficiency
                .line.clear-floats
                  .float-left English
                  .float-right= "#{s.english_college_ready}%" if s.english_college_ready.present?
                .line.clear-floats
                  .float-left Math
                  .float-right= "#{s.math_college_ready}%" if s.math_college_ready.present?
                .line.clear-floats
                  .float-left Reading
                  .float-right= "#{s.reading_college_ready}%" if s.reading_college_ready.present?
                .line.clear-floats
                  .float-left Science
                  .float-right= "#{s.science_college_ready}%" if s.science_college_ready.present?
                %h3 Growth
                .line.clear-floats
                  .float-left English Growth
                  .float-right= s.english_growth
                .line.clear-floats
                  .float-left Math
                  .float-right= s.math_growth
                .line.clear-floats
                  .float-left Reading
                  .float-right= s.reading_growth
                .line.clear-floats
                  .float-left Science
                  .float-right= s.science_growth
                %h3 College
                .line.clear-floats
                  .float-left 4-Year Grad
                  .float-right= "#{s.graduate_in_four_years}%" if s.graduate_in_four_years.present?
                .line.clear-floats
                  .float-left 5-Year Grad
                  .float-right= "#{s.graduate_in_five_years}%" if s.graduate_in_five_years.present?
                .line.clear-floats
                  .float-left Enroll in College
                  .float-right= "#{s.enroll_in_college}%" if s.enroll_in_college.present?
                .line.clear-floats
                  .float-left Stay in College
                  .float-right= "#{s.stay_in_college}%" if s.stay_in_college.present?
                .line.clear-floats
                  .fivee
                    = render 'five_essentials',
                      title: '5Essentials Rating',
                      overall_rating: s.five_e_overall_rating,
                      effective_leaders: s.five_e_effective_leaders,
                      collaborative_teachers: s.five_e_collaborative_teachers,
                      involved_families: s.five_e_involved_families,
                      supportive_environment: s.five_e_supportive_environment,
                      ambitious_instruction: s.five_e_ambitious_instruction,
                      report_id: s.five_e_report_id
          .region-title
            %h2 Programs
          .group
            - if s.earlychild?
            - else
              .line
                .float-left Special Ed Level
                .float-right
                  - if s.special_ed_level.present?
                    = s.special_ed_level.split(' - ').first
              .line.clear-floats
                .float-left ELL Level
                .float-right
                  - if s.ell_level.present?
                    = s.ell_level.split(' - ').first
              .line.clear-floats
                .float-left Foreign Languages
                .float-right
                  - if s.has_foreign_language?
                    .checked
                  - else
                    .unchecked
              .line.clear-floats
                .float-left Clubs
                .float-right
                  - if s.has_clubs?
                    .checked
                  - else
                    .unchecked
              .line.clear-floats
                .float-left Sports
                .float-right
                  - if s.has_sports?
                    .checked
                  - else
                    .unchecked
              .line.clear-floats
                .float-left Arts & Music
                .float-right
                  - if s.has_arts?
                    .checked
                  - else
                    .unchecked
              .line.list.clear-floats
                %h3 Facilities
                = render 'field_list', list: s.facilities[0..5]
              .line.list
                %h3 AP Classes
                = render 'field_list', list: s.ap_classes[0..5]

    :javascript
      $(function() {
        var map = Map({
          center: [42.36, -83.09],
          markers: #{@schools.map(&:marker).to_json},
          zoom: 11,
          zoomControl: false,
          touchZoom: false,
          scrollWheelZoom: false,
          doubleClickZoom: false,
          boxZoom: false
        });

        var lastPage = document.referrer;
        if (localStorage.getItem('lastSearch').length != 0) {
          $('#add-schools').attr('href', localStorage.getItem('lastSearch'));
        } else if (lastPage.match(/schools/)) {
          $('#add-schools').attr('href', lastPage);
        } else {
          $('#add-schools').attr('href', '/');
        }

        $('.fivee').each(function(i, el) {
          var e = $(el);
          e.find('.visual > .square').appendTo(
            e.find('.visual > .wrapper')
          );
        });

        var w = $(window);
        var compare = Compare(w);

        w.resize(compare.setStickyNav);
        w.scroll(compare.setStickyNav);

        if (w.width() < 701) {
          compare.hideSchools(1);
          compare.hideScroll(
            $('.compare > .school:nth-of-type(1)').prev(),
            $('.scroll > .left')
          );
          var showNext = function() {
            compare.showSchool('next');
            return false;
          }
          var showPrev = function() {
            compare.showSchool('prev');
            return false;
          }
          $('.scroll > .right').click(showNext);
          $('.scroll > .left').click(showPrev);
        }

      });
