.container_12
  .middle
    %h2 Compare Schools

    .compare
      - @schools.each do |s|
        .school.rounded
          .name= link_to s.display_name, s.link
          .type
            - grades = s.grades_served || s.age_groups
            = "#{s.governance} | #{grades.first} - #{grades.last}"
          .rating
            - if s.earlychild?
              = "#{s.early_childhood_rating}"
            - else
              = "#{s.excellent_schools_grade} | #{s.michigan_percentile}"
          .group
            %h2 Overview
          .group
            %h2 Performance
          .group
            %h2 Programs
