.summary
  .container_12
    .grid_5
      %h2= @school.name
      %h3
        Grades: #{@school.grades_served || 'Unknown'}
        %br/
      - if false
        #{@school.SCHOOL_STREET_ADDRESS_2012} &middot; #{@school.SCHOOL_CITY_STATE_ZIP_2012} 
       
      - if true 
        %br/
        .noprint
          .subtle= "Now Showing: #{current_search}"
          = link_to raw('&laquo; Previous'), previous_path(@school.id), :class => 'btn'
          = link_to 'Show List', schools_path(:filter => session[:filter], :loc => session[:loc]), :class => 'btn'
          = link_to raw('Next &raquo;'), next_path(@school.id), :class => 'btn'

    .grid_2.centered
      .circle_grade= @grades[:cumulative][:letter]
      .circle_grade.sub= @grades[:status][:letter]
      .circle_grade.sub= @grades[:progress][:letter]
      .circle_grade.sub= @grades[:climate][:letter]
                
        
    .grid_5
      #wrapper{:style => 'height: 200px; margin-top: 4em;'}
        = render :partial => 'shared/map', :object => @map
      %br/
      - unless true or @school.PDF_FILE_NAME.blank?
        .float_right
          %a.btn{:href => "/pdfs/#{@school.PDF_FILE_NAME}", :target => '_blank'}
            %i.icon-download-alt
            Download PDF
        %br/
        %br/
    
  .container_12
    .grid_6{:style => 'overflow: hidden;'}
      - unless true or (@school.school_contact_first_name.blank? and @school.school_contact_last_name.blank?)
        %p
          %b Contact:
          = @school.school_contact_first_name
          = @school.school_contact_last_name
      - @profile_fields.each do |k,v|
        - next if @school[k].blank?
        %p
          %b #{v}:
          = @school[k]
      
      
    .grid_3
      - if false
        .printonly
          - @demographics.each do |a,b|
            = a
            %br/
        #dems.noprint{:style => 'float: left; width: 220px; height: 140px; margin-right: 10px;'}
        .clear_floats
        
    - if false
      .grid_3
        - unless @school.PCT_FRL_FALL_2012.nil? 
          #{@school.PCT_FRL_FALL_2012.andand.to_i || 'N/A'}% free and reduced-price lunch
          %br/
        - unless @school.PCT_SPED_FALL_2011.nil? 
          #{@school.PCT_SPED_FALL_2011.andand.to_i || 'N/A'}% special education
          %br/
        - unless @school.PCT_ELL_FALL_2011.nil? 
          #{@school.PCT_ELL_FALL_2011.andand.to_i || 'N/A'}% English language learners
          %br/


.container_12.clear_floats
  .grid_12
    %h3 Raw Data Dumps
    %ul.nav.nav-pills
      %li.active= link_to 'Basic Info', '#basic', 'data-toggle' => 'tab'
      %li= link_to 'School Profile', '#profile', 'data-toggle' => 'tab'
      - if @school.meap_2012
        %li= link_to 'MEAP 2012', '#meap', 'data-toggle' => 'tab'
      - if @school.esd_k8_2013
        %li= link_to 'K8 2013', '#k8', 'data-toggle' => 'tab'
      - if @school.esd_hs_2013
        %li= link_to 'HS 2013', '#hs', 'data-toggle' => 'tab'
    .tab-content
      #basic.tab-pane.active
        - @school.basic.marshal_dump.each do |k,v|
          %b #{k}:
          = v
          %br/
      #profile.tab-pane
        - @school.profile.marshal_dump.each do |k,v|
          %b #{k}:
          = v
          %br/
      #meap.tab-pane
        - @school.meap_2012.marshal_dump.andand.each do |k,v|
          %b #{k}:
          = v
          %br/
      #k8.tab-pane
        - @school.esd_k8_2013.andand.marshal_dump.andand.each do |k,v|
          %b #{k}:
          = v
          %br/
      #hs.tab-pane
        - @school.esd_hs_2013.andand.marshal_dump.andand.each do |k,v|
          %b #{k}:
          = v
          %br/

%br/
 
- if false and @school.high?
  .container_12.clear_floats
    .grid_6
      %h3 How Is This School Doing Academically?
      
      = render :partial => 'shared/tip', :object => @tips["MME"]
      - if @high_ac[:empty]
        %p We have no data on this school's Michigan Merit Examination results.
      - else
        %p
          Following are percentages of
          %b 11th and 12th graders
          meeting and exceeding state standards on the Michigan Merit Examination (MME):
        %b Spring 2012
        #academics.barchart
          - if false
            .trend{:style => "left: #{130+(4*@school.PCT_PROF_ALLSTUD_ALL_R_MEAP_2012).to_i}px;"}= render :partial => 'shared/trend', :object => @school.TREND_PCT_PROF_ALLSTUD_ALL_R_MEAP_2008_2012
      
    .grid_6
      %h3 How Well Does This School Prepare Students for College?
      
      = render :partial => 'shared/tip', :object => @tips["ACT"]
      %b School Average ACT Score, 2011-12
      - if @school.AVG_ALLSTUD_ALLSUB_ACT_2012.nil?
        %div No data available for this score.
      - else
        #act.barchart{:style => 'height: 90px;'}
      = render :partial => 'shared/tip', :object => @tips["Graduation Rate"]
      %b Graduation Rate, 2012
      - if @school.PCT_ALLSTUD_12_GRAD_4YR_2012.nil?
        %div No data available for this score.
      - else
        #grad.barchart{:style => 'height: 90px;'}
      
      %br/
      .grid_6.alpha.omega
        %b Average ACT Score for admission, 2010-11
      .grid_3.alpha
        University of Michigan:
        %b 31
        %br/
        Michigan State University:
        %b 26
      .grid_3.omega
        Wayne State University:
        %b 21
        %br/
        %br/
        %br/
  
      .grid_6.alpha.omega
        = render :partial => 'shared/tip', :object => @tips["College Enrollment and Performance"]
        %b College Enrollment and Performance, Class of 2009:
        - if @school.NUM_REAL_HSGRAD_4R_PER_09COHORT_2009.nil? and @school.NUM_REAL_ENROLL_IHE_PER_09COHORT_2009.nil? and @school.NUM_REAL_1YR_IHE_PER_09COHORT_2009.nil?
          %div No data are available for this school.
        - else
          %table.enrollment
            %thead
              %tr
                %th 
                  %b Of every 10 students who started 9th grade...
                %th
                  .score= @school.NUM_REAL_HSGRAD_4R_PER_09COHORT_2009.andand.round(1) || 'N/A'
                  Graduated from this school on time
                    
                %th
                  .score= @school.NUM_REAL_ENROLL_IHE_PER_09COHORT_2009.andand.round(1) || 'N/A'
                  Enrolled in college
                %th
                  .score= @school.NUM_REAL_1YR_IHE_PER_09COHORT_2009.andand.round(1) || 'N/A'
                  Finished a year of college
            %tbody
              %tr
                %td
                  - 10.times do
                    = image_tag 'icons/student.png'
                %td
                  - @school.NUM_REAL_HSGRAD_4R_PER_09COHORT_2009.round(0).to_i.times do
                    = image_tag 'icons/student.png'
                %td
                  - @school.NUM_REAL_ENROLL_IHE_PER_09COHORT_2009.round(0).to_i.times do
                    = image_tag 'icons/student.png'
                %td
                  - @school.NUM_REAL_1YR_IHE_PER_09COHORT_2009.round(0).to_i.times do
                    = image_tag 'icons/student.png'

- elsif false and (@school.elementary? or @school.middle?)
  .container_12.clear_floats
    .grid_12  
      = render :partial => 'shared/tip', :object => @tips["How Is This School Doing Academically?"]
      %h3 How Is This School Doing Academically?
      = render :partial => 'shared/tip', :object => @tips["Michigan Education Assessment Program"]
      %p Following are the percentages of all students performing at or above grade level on the Michigan Education Assessment Program:
    .grid_6
      %h4 Reading, Fall 2012
      - if @elem_academics[:reading][:school][:scores].blank?
        We have no data to report for this school.
      - else
        #reading.barchart{:style => "height: #{40+50*@r_cats.size}px; position: relative;"}
          - if false
            .trend{:style => "left: #{130+(4*@school.PCT_PROF_ALLSTUD_ALL_R_MEAP_2012).to_i}px;"}= render :partial => 'shared/trend', :object => @school.TREND_PCT_PROF_ALLSTUD_ALL_R_MEAP_2007_2011
      
    .grid_6
      %h4 Math, Fall 2012
      - if @elem_academics[:math][:school][:scores].blank?
        We have no data to report for this school.
      - else
        #math.barchart{:style => "height: #{40+50*@m_cats.size}px;"}
          - if false
            .trend{:style => "left: #{130+(4*@school.PCT_PROF_ALLSTUD_ALL_M_MEAP_2012).to_i}px;"}= render :partial => 'shared/trend', :object => @school.TREND_PCT_PROF_ALLSTUD_ALL_M_MEAP_2007_2011
      
  %br/
  %br/
  
  .container_12
    .grid_6
      %h3 Student Performance Growth
      = image_tag 'coming_2013.png', :class => 'float_left', :style => 'margin-right: 10px;'
      %p This year, we can only report if students state standards or not. In the future, we will measure how much students progress. Every student should progress one entire grade level each year. But sometimes, students progress a lot and they still are not meeting state standards because they started the year so far behind. We think it is important to show which schools are helping students progress, even if their students are not yet meeting standards.
      
    .grid_6
      %h3 How Well Does This School Prepare Students for College?
      - if @school.elementary?
        %p 3rd grade reading is an early indicator if students are on track for graduation:
        - if @school.PCT_PROF_ALLSTUD_03_R_MEAP_2012.nil?
          %div We have no data about this school's 3rd grade reading level.
        - else
          #third.barchart{:style => 'height: 100px;'}
      - elsif @school.middle?
        = image_tag 'coming_2013.png', :class => 'float_left', :style => 'margin-right: 10px;'
        %h4 Percentage of 8th Graders meeting state standards in algebra
        %p 8th grade proficiency in algebra is an early indicator if students are on track for graduation
      
    
%br/

.container_12
- if false
  .grid_12
    %h3 Historical Trends
    - if @school.high?
      .grid_6.alpha
        %b Average ACT Score
        #historical_act{:style => "height: 220px; position: relative;"}
      .grid_6.omega
        %b 4-Year Graduation Rate
        #historical_grad{:style => "height: 220px; position: relative;"}
    - else    
      #historical.linechart{:style => "height: 220px; position: relative;"}
    
%br/
%br/

.container_12
- if false
  .grid_6
    = render :partial => 'shared/tip', :object => @tips["Is This School Organized for Improvement?"]
    %h3 Is This School Organized for Improvement?
    %p Teachers and students were surveyed about the five essential elements of their school. If a school is green, or strong, on ANY three of these elements, it is 10 times more likely to improve over time. If a school is not green on at least three elements, students at the school likely will do the same or worse next year.
    .overall
      %h2= @school.SCORE_DESCRIPTION_5E_2012
      = render :partial => 'shared/tip', :object => @tips["Overall score"]
      %h3 Overall score: #{@school.SCORE_OVERALL_5E_2012.nil? ? 'N/A' : @school.SCORE_OVERALL_5E_2012.to_i}
      %div Response rate: #{@school.TCH_RESPONSE_5E_2012.andand.to_i || 'N/A'}% teachers, #{@school.STUD_RESPONSE_5E_2012.andand.to_i || 'N/A'}% students
      - unless @school.RESULTS_LINK_5E.blank?
        %div= link_to "View the full report for this school", @school.RESULTS_LINK_5E, :target => '_blank'
    = render :partial => 'shared/5e', :collection => @elements, :as => :element
    %br.clear_floats/
    %table.sitevisit_key.clear_floats.noprint
      %tr{:style => 'height: 25px;'}
        %td.color1
        %td.color2
        %td.color3
        %td.color4
        %td.color5
      %tr
        %td Not yet organized
        %td Partially organized
        %td Moderately organized
        %td Organized
        %td Well organized
    
    
  .grid_6
    = render :partial => 'shared/tip', :object => @tips["What Is This School's Environment Like?"]
    %h3 What Is This School's Environment Like?
    %p Parents and community members visited this school unannounced to observe the learning environment and school culture. This is what they saw:
    
    %table.sitevisit_key
      %tr{:style => 'height: 25px;'}
        %td.color1
          .printonly 1
        %td.color2
          .printonly 2
        %td.color3
          .printonly 3
        %td.color4
          .printonly 4
        %td.color5
          .printonly 5
      %tr
        %td Strongly disagree
        %td Disagree
        %td Neither agree nor disagree
        %td Agree
        %td Strongly agree

    .section
      = image_tag 'icons/environment.png'
      %h4 Physical Environment
      = render :partial => 'shared/colors', :locals => { :items => @sitevisit[:env] }

    .section
      = image_tag 'icons/academic.png'
      %h4 Culture of Academic Achievement
      = render :partial => 'shared/colors', :locals => { :items => @sitevisit[:culture] }
    .clear_floats

    .section
      = image_tag 'icons/community.png'
      %h4 Community and Relationships
      = render :partial => 'shared/colors', :locals => { :items => @sitevisit[:community] }

%br/
%br/

.container_12
- if false
  .grid_6
    - unless @activities[:arts].empty? and @activities[:wellness].empty? and @activities[:academic].empty?
      = render :partial => 'shared/tip', :object => @tips["How Does This School Support Well-Rounded Development?"]
      %h3 How Does This School Support Well-Rounded Development?
      %p Extracurricular activities help students explore their interests and apply what they learn in school to the real world. Examples of these activities at this school include:
      - unless @activities[:arts].empty?
        .section
          = image_tag 'icons/arts.png'
          %h4 Arts and Culture
          = render :partial => 'shared/two_cols', :locals => { :items => @activities[:arts] }
        %br.clear_floats/
      - unless @activities[:wellness].empty?
        .section
          = image_tag 'icons/wellness.png'
          %h4 Wellness and Fitness
          = render :partial => 'shared/two_cols', :locals => { :items => @activities[:wellness] }
          %br.clear_floats/
      - unless @activities[:academic].empty?
        .section
          = image_tag 'icons/academic.png'
          %h4 Academic
          = render :partial => 'shared/two_cols', :locals => { :items =>  @activities[:academic] }
    
    
  .grid_6
    - unless @programs.empty?
      = render :partial => 'shared/tip', :object => @tips["How Does This School Help Students Overcome Challenges to Learning?"]
      %h3 How Does This School Help Students Overcome Challenges to Learning?
      %p Students may have learning disabilities, struggle with their behavior, or face challenges outside of school that affect their academic performance. This school provides the following programs to help students overcome such challenges:
      = render :partial => 'shared/two_cols', :locals => { :items => @programs }
      %br.clear_floats/      
      
    - unless @school.ADMISSIONS_LONG.blank?
      = render :partial => 'shared/tip', :object => @tips["What Are the School's Admission Requirements and Deadlines?"]
      %h3 What Are the School's Admission Requirements and Deadlines?
      %p= @school.ADMISSIONS_LONG

    
.container_12.noprint
  .grid_12{:style => 'padding: 4em 0;'}
    .subtle= "Now Showing: #{current_search}"
    = link_to raw('&laquo; Previous'), previous_path(@school.id), :class => 'btn'
    = link_to 'Show List', schools_path(:filter => session[:filter], :loc => session[:loc]), :class => 'btn'
    = link_to raw('Next &raquo;'), next_path(@school.id), :class => 'btn'

%br/
%br/

:javascript
  // Demographics pie chart
  var klosed = #{@school.closed?.to_json};
  var dem_data = #{@demographics.to_json};
  
  // Highschool academics
  var high    = #{@school.high?.to_json};
  var high_ac = #{@high_ac.to_json};
  var high_act = #{@high_act.to_json};
  var high_grad = #{@high_grad.to_json};


  // Elementary school academics - reading/math
  var elementary = #{@school.elementary?.to_json};
  var middle = #{@school.middle?.to_json};
  var elem_ac = #{@elem_academics.to_json};
  
  // Historical trends
  var history = #{@history.to_json};
  var history_labels = #{@history_labels.to_json};
  
= javascript_include_tag 'charts'