.summary.earlychild
  .container_12
    .grid_12{:style => 'margin-bottom: 1em;'}
      .noprint
        = link_to raw('&lt; Previous School'), previous_path(@school.id), :class => 'btn'
        = link_to raw('Next School &gt;'), next_path(@school.id), :class => 'btn'
      %br/
      %h2= raw(@school.esd_el_2014.andand.program_name || @school.name)
      %a.address{:href => @school.gmaps_url, :target => '_blank'} #{raw @school.address} &middot; #{@school.address2}

  .container_12
    .grid_3.overall-seal
      = render 'seal', :category => :overall, :rating => @el.andand.overall_rating

    .grid_3
      %h3.hours Hours
      .arial
        - num = 0
        - ['sunday', 'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday'].each do |day|
          - next if @ech[(day + 'dayopen').to_sym].blank? or @ech[(day + 'dayclose').to_sym].blank?
          - num += 1
          #{day.titleize}: #{@ech[(day + 'dayopen').to_sym]} &mdash; #{@ech[(day + 'dayclose').to_sym]}
          %br/
        - if num == 0
          No hours of operation listed.
        %p Months of operation: #{@ec.monthsofoperation}
        %p
          - unless @ec.gsccontact.blank?
            Contact person: #{@ec.gsccontact}
            %br/
          - unless @ec.gsemail.blank?
            Email: #{@ec.gsemail}
            %br/
          - unless @ec.phone.blank?
            Phone: #{format_phone(@ec.phone)}
            %br/
          - unless @ec.website.blank?
            Website: #{raw auto_link(@ec.website)}


    .grid_6.minimap_container
      .grid_3.alpha
        %a.btn.light.arial.print.noprint{:href => "javascript:window.print();"}
          = image_tag 'el_icons/print-icon.png'
          Print This Page
      .grid_3.omega
        %a.btn.light.arial.compare.noprint{:href => "/compare/+#{@school.id}"}
          = image_tag 'el_icons/compare-icon.png'
          Compare This School
      .clear_floats/
      .minimap= render :partial => 'shared/map', :object => @map
  

  %br.noprint/
  %br.noprint/
  
.container_12.clear_floats
  %ul.nav.nav-tabs
    %li.active
      %a{:href => '#overview', 'data-toggle' => 'tab'}
        .question.bebas About This School
        = render 'seal', :category => :overview, :rating => nil
    %li
      %a{:href => '#community', 'data-toggle' => 'tab'}
        .question.bebas What does the community think?
        = render 'seal', :category => :community, :rating => @el.andand.overall_site_visit_rating
    %li
      %a{:href => '#state', 'data-toggle' => 'tab'}
        .question.bebas What does the state think?
        = render 'seal', :category => :state, :rating => @el.andand.sas_score_rating
    %li
      %a{:href => '#staff', 'data-toggle' => 'tab'}
        .question.bebas What does the staff think?
        = render 'seal', :category => :staff, :rating => @el.andand.teacher_survey_rating
    
  .tab-content
    #overview.tab-pane.active.self_reported
      = render 'shared/tip', :tip => @tips[:ec_profile]
      - if @el.nil?
        %p.orange
          This program doesn't have an overall rating from Excellent Schools Detroit because it chose to opt out of 
          the community and staff surveys.
        
      %table
        - @profile_fields.each do |field,label|
          - val = @ech[field.to_sym]
          - unless val.blank?
            %tr
              %td
                %h3 #{label}:
              %td
                - if [:agefrom, :ageto].include? field
                  - if val.to_i > 11
                    #{(val.to_i/12).to_i} years,
                  #{val.to_i%12} months
                - else
                  = raw((val == '0') ? 'No' : (val == '1' ? 'Yes' : val))
  
    #community.tab-pane
      %p
        The Community rating is based on surveys conducted on-site at the program by a group of trained reviewers from the community.
        After spending four hours observing and taking notes, reviewers answer questions on a four-point scale that measures how much they
        agree with the statements below (I do not agree at all, I somewhat agree, I mostly agree, and I completely agree). A score
        of 4.0 out of 4.0 is considered an "excellent" rating.
      
      - if @el
        - @community.each do |field, info|
          .community_line
            %h3.score
              %span.points= info[:points].round(1)
              %span / 4.0
            %h3.statement= info[:statement]
            .explanation.arial= info[:explanation]
        
              
    #state.tab-pane
      %p
        The following star ratings are from Great Start to Quality's 5-Star Quality Rating and Improvement System (QRIS),
        which is a state-run program. The points in each category are from the program's self-assessment.

      .overall-stars        
        = render 'stars', :n => [@ec.andand.publishedrating.to_i, 0].max
      %table
        %thead
          %tr
            %th
              %span.points= @ec.andand.gscpts
              %span / 50
            %th Overall Score
        %tbody
          - @grades[:status][:summary_table].each do |item|
            %tr
              %td
                %span.points= item[:points]
                %span / #{item[:possible]}
              %td= item[:name]
    
      %br/
      %h3 Here is what the star ratings mean:
      - @stars.each do |n, desc|
        %div
          = render 'stars', :n => n
          = desc
    
    #staff.tab-pane

    

%br/
%br/
