- cache(@school.cache_key, condition: @school.can_cache?) do
  .container_12
    .middle
      .breadcrumbs
        %a.back-arrow-icon(href="#")
    %h2= @school.display_name
  .container_12.clear_floats.region-title(data-target="overview")
    %h2 OVERVIEW
  .container_12.info-region
    = render 'overview', school: @school
  .container_12.closed.region-title(data-target="performance")
    %h2 SCHOOL PERFORMANCE
  .container_12.info-region
    #performance.hide
      - if @school.high?
        = render "high_school_academics"
      - else
        = render "k_8_academics"
  .container_12.closed.region-title(data-target="programs")
    %h2 ACADEMIC PROGRAMS AND EXTRACURRICULAR ACTIVITIES
  .container_12.info-region
    = render 'programs_and_activities', school: @school

  :javascript
    var w = $(window);
    $(document).ready(function(e) {
      Map({
        center: #{@school.center.to_json},
        markers: #{[@school.marker].to_json},
        zoom: 15,
        zoomControl: false,
        dragging: false,
        touchZoom: false,
        scrollWheelZoom: false,
        doubleClickZoom: false,
        boxZoom: false,
        tap: false,
        keyboard: false
      });

      $('.back-arrow-icon').attr('href', document.referrer);

      if (!$('.overview-text').first().text().trim()) {
        $('#overview .fields')
          .css('float', 'none')
          .css('width', '100%')
          .css('margin-left', '0');
      }

      if (w.width() > 600) {
        $('.region-title').removeClass('closed');
        $('.info-region > div').removeClass('hide');
      }

      $('.region-title').click(function() {
        var me = $(this);
        var target = $('#' + me.data('target'));
        if (target.hasClass('hide')) {
          me.removeClass('closed');
          target.removeClass('hide');
        } else {
          me.addClass('closed');
          target.addClass('hide');
        }
      });

      var subjects = $('.subject')
      subjects.click(function() {
        var me = $(this);
        var target = $('#' + me.data('target'));
        var otherSubjects = me.siblings();
        var otherTargets = target.siblings();
        if (target.hasClass('hide')) {
          me.addClass('active');
          target.removeClass('hide');
          otherTargets.addClass('hide');
          otherSubjects.removeClass('active');
        } else {
          if (otherSubjects.hasClass('active').size > 1) {
            me.removeClass('active');
            target.addClass('hide');
          }
        }
      });

      var adjustGraphs = function() {
        if (w.width() < 990) {
          $('.content.four.bar').
            removeClass('four').
            addClass('two');
        } else {
          $('.content.two.bar').
            removeClass('two').
            addClass('four');
        }
      };
      adjustGraphs();
      w.resize(function() { adjustGraphs(); });

      var moveText = function() {
        var overview = $('#overview > .middle > .section:nth-of-type(4)'),
          policies = overview.
            find('> .columns > .column:nth-of-type(3)').
            first(),
          barGraph = $('.content.bar.two').first(),
          growthGraphs = $('.content.growth.two'),
          fivee = $('.content.two.fivee');
        if (w.width() < 501) {
          var header = $('<div class="header"></div>').
            insertBefore(policies);
          overview.find('> .header > .right-header').
            first().appendTo(header);
          var barLabels = barGraph.find('> .labels').clone();
          barLabels.prependTo(barGraph.
            find('> .visual:nth-of-type(3)').first()
          );
          barLabels.clone().prependTo(barGraph.
            find('> .visual:nth-of-type(4)').first()
          );
          barLabels.clone().prependTo(barGraph.
            find('> .visual:nth-of-type(5)').first()
          );
          growthGraphs.each(function(i, n) {
            var graph = $(n);
            var growthLabels = graph.
              find('> .labels').clone();
            growthLabels.prependTo(graph.
              find('> .visual:nth-of-type(3)').first()
            );
          });
          fivee.find('> .visual').first().
            find('.square').appendTo(fivee);
        } else {
          overview.
            find('> .columns > .header > .right-header').
            first().appendTo(
              overview.find('> .header').first()
            );
            barGraph.
              find('> .visual:nth-of-type(3) > .labels').
              first().remove();
            barGraph.
              find('> .visual:nth-of-type(4) > .labels').
              first().remove();
            barGraph.
              find('> .visual:nth-of-type(5) > .labels').
              first().remove();
        }
      }
      moveText();
      w.resize(function() { moveText(); });
    });
