.container_12.breadcrumbs
  %a.back-arrow-icon(href="/")
  %h2
    = @school.display_name
.container_12.clear_floats.section-title(data-target="overview")
  %h2 Overview
.container_12.info-region
  #overview
    .school-header
      .middle
        - if @school_photo
          .school-image
            %img(src="https://portal.excellentschoolsdetroit.org/files/#{@school_photo}")
        .school-title
          %h1= @school.display_name
    .middle
      .fields.clear_floats
        .field.border-bottom
          .field_key Excellent Schools Detroit rating
          .rating.field-value B
        .field.border-bottom
          %a(href="/compare/+#{@school.id}")
            .compare-arrow-icon
            Compare
          to other schools
        .field.border-bottom
          Grades served
          .field-value= @school.grades_served
        .field.border-bottom
          .transportation-icon
            .icon-text
              No transportation
          .schedule-icon
            .icon-text
              Year-round schedule
        .field.border-bottom
          Principal
          .field-value
        .field.border-bottom
          Governance
          .field-value= @school.governance
        .field.border-bottom
          Authorization
          .field-value= @school.authorizer
        .field
          Operator
          .field-value= @school.operator
      .map.clear_floats= render :partial => 'shared/map', :object => @map
      .overview-text
        =raw simple_format(@school.overview_text)
      .contact
        .envelope-icon
        %a{href: "mailto:#{@school.email}"} Email
        this school
      .contact
        .phone-icon
        %a{href: "tel:#{@school.phone}"} Call
        this school
      .contact
        .website-icon
        %a.external{:href => @school.school_url, :target => '_blank'} Visit
        this school's website
      .contact
        .facebook-icon
        %a.external{:href => @school.facebook_url, :target => '_blank'} Check
        out this school's Facebook
.container_12.closed.section-title(data-target="enrollment")
  %h2 Enrollment
.container_12.info-region
  #enrollment.hide
.container_12.closed.section-title(data-target="academics")
  %h2 Academics
.container_12.info-region
  #academics.hide
    - if @school.high?
      = render "high_school_academics"
    - elsif @school.k8?
    - elsif @school.earlychild?
    .field.border-bottom
      %a(href="/compare/+#{@school.id}")
        .compare-arrow-icon
        Compare
      to other schools
    .header Other Links
    .field
      %span
        %a(href="#")
          .plus-icon
          Download
        financial transparency PDF
      %span
        %a(href="#")
          .plus-icon
          Download
        staff transparency PDF
.container_12.closed.section-title(data-target="culture")
  %h2 Culture
.container_12.info-region
  #culture.hide
.container_12.closed.section-title(data-target="classes")
  %h2 Classes
.container_12.info-region
  #classes.hide
.container_12.closed.section-title(data-target="support")
  %h2 Support
.container_12.info-region
  #support.hide
.container_12.closed.section-title(data-target="activities")
  %h2 Activities
.container_12.info-region
  #activities.hide
.container_12.closed.section-title(data-target="activities")
  %h2 Other ratings
.container_12.info-region
  #other-ratings.hide

:javascript
  // Demographics pie chart
  var dem_data = #{@demographics.to_json};
  var enroll = #{@enrollment.to_json};
  var enroll_ticks = #{@enroll_ticks.to_json};

  // Highschool academics
  var high    = #{@school.high?.to_json};
  var high_ac = #{@high_ac.to_json};
  var high_act = #{@high_act.to_json};
  var high_grad = #{@high_grad.to_json};


  // Elementary school academics - reading/math
  var elementary = #{@school.elementary?.to_json};
  var middle = #{@school.middle?.to_json};
  var elem_ac = #{@elem_academics.to_json};

  // Historical trends
  var history = #{@history.to_json};

  $(document).ready(function(e) {
    var moveMap = function() {
      if ($(window).width() > 800) {
        $('.map').first().detach().appendTo('#overview');
      } else {
        $('.map').first().detach().insertAfter('.fields').first();
      }
    };

    moveMap();
    $(window).resize(function() { moveMap(); });

    $('.section-title').click(function() {
      var me = $(this);
      var target = $('#' + me.data('target'));
      if (target.hasClass('hide')) {
        me.removeClass('closed');
        target.removeClass('hide');
      } else {
        me.addClass('closed');
        target.addClass('hide');
      }
    });

    var subjects = $('.subject')
    subjects.click(function() {
      var me = $(this);
      var target = $('#' + me.data('target'));
      var otherSubjects = me.siblings();
      var otherTargets = target.siblings();
      if (target.hasClass('hide')) {
        me.addClass('active');
        target.removeClass('hide');
        otherTargets.addClass('hide');
        otherSubjects.removeClass('active');
      } else {
        if (otherSubjects.hasClass('active').size > 1) {
          me.removeClass('active');
          target.addClass('hide');
        }
      }
    });
  });
