- cache(@school.cache_key, condition: @school.can_cache?) do
  :css
    .map-container { height: 235px; }
    html {
      overflow-y: scroll;
      height: 100%;
    }
    body {
      height: auto;
      padding: 0;
      margin: 0;
      background-color: transparent;
      color: black;
      overflow-x: hidden;
    }
    body.schools-index {
      height: 100%;
    }
    #container {
      min-height: 100%;
      position: relative;
    }
    #bodywrap {
      padding: 0 0 180px 0;
      margin-bottom: 0;
    }
    #footer.l-footer-wrapper {
      height: 180px;
      width: 100%;
      padding: 2em 0;
      position: absolute;
      bottom: 0px;
      left: 0px;
    }
    #footer.l-footer-wrapper img {
      width: 100%;
      height: auto;
      max-width: 100%;
    }
    .float-right { float: right; }
    .float-left { float: left; }
    .clear-floats { clear: both; }
    .justify { text-align: justify; }
    .centered { text-align: center; }
    .hide { display: none; }
    .inline { display: inline-block; }
    .relative { position: relative; }
    .rounded {
      padding: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
    }
    .ib {
      display: inline-block;
      float: none;
    }
    .subtle { color: #134370; }
    .printonly { display: none; }
    .popover .popover-inner { width: 500px; }
    .popover a.close {
      position: absolute;
      right: 10px;
      top: 5px;
      color: #888;
    }
    .popover .popover-content {
      max-height: 400px;
      overflow-y: scroll;
    }
    .popover .popover-content table {
      width: 100%;
    }
    .popover .popover-content table th,
    .popover .popover-content table td {
      padding: 0.25em 0.5em;
    }
    .popover .popover-content table tr:nth-child(even) {
      background-color: #f4f4f4;
    }
    .orange { color: #f05a29; }
    .arial { font-family: 'Arial', 'sans-serif'; }
    .boxsizing {
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
    }
    .lead { font-size: 23px; }
    table td,
    table th { vertical-align: top; }
    h1 { color: #466778; }
    h3.bebas {
      font-size: 1.5em;
      color: #466778;
      margin-top: 0.5em;
    }
    h3.bebas.underlined {
      display: block;
      border-bottom: 1px solid #466778;
      padding-bottom: 5px;
    }
    h4 {
      color: #134370;
      text-transform: uppercase;
      margin: 0.5em 0 0 0;
    }
    hr {
      height: 1px;
      border: none;
      color: #2e5b8c;
      background-color: #2e5b8c;
    }
    .wf-loading h1,
    .wf-loading h2,
    .wf-loading h3,
    .wf-loading h4 { visibility: hidden; }
    .menu,
    .branding { text-align: left; }
    .nav.nav-pills,
    .nav.nav-tabs {
      padding-left: 0;
      margin-bottom: 0;
    }
    .nav.nav-pills a,
    .nav.nav-tabs a {
      border-color: #2e5b8c;
      border-bottom: none;
      margin-right: 0;
    }
    .nav.nav-pills a:hover,
    .nav.nav-tabs a:hover {
      background-color: #a3e2fa;
    }
    .nav.nav-pills .active a,
    .nav.nav-tabs .active a,
    .nav.nav-pills .active a:hover,
    .nav.nav-tabs .active a:hover {
      border-color: #2e5b8c;
      border-bottom-color: transparent;
    }
    .tab-content {
      border: 1px solid #2e5b8c;
      border-top: 0;
      margin-bottom: 20px;
      position: relative;
    }
    .tab-content .tab-pane {
      padding: 1em;
      position: relative;
      background-color: white;
    }
    #ground-wrapper { position: relative; }
    #ground-wrapper #ground {
      position: absolute;
      left: -5000px;
      right: -5000px;
      top: 47px;
      bottom: 0;
      z-index: -2;
    }
    a.external,
    a.external:visited {
      color: #466778;
      font-family: sans-serif;
    }
    a.external img,
    a.external:visited img {
      max-height: 13px;
      width: auto;
      margin-top: 6px;
    }
    .btn {
      background-color: #134370;
      color: white;
      padding: 0.5em;
      margin-right: 1em;
    }
    .btn img {
      max-height: 1em;
      width: auto;
      margin-right: 0.5em;
    }
    .btn.light {
      background-color: white;
      border: 1px solid #27b373;
      color: #27b373;
    }
    #outer_wrapper {
      position: absolute;
      top: 0;
      bottom: 0px;
      left: 0px;
      width: 100%;
    }
    #outer_wrapper #lefty {
      position: absolute;
      left: 0px;
      width: 35%;
      top: 0px;
      bottom: 0px;
      box-sizing: border-box;
      padding: 1em;
      border-right: 1px solid #2e5b8c;
      overflow-x: hidden;
      overflow-y: scroll;
      z-index: 10;
      border-right: 1px solid  $dblue;
    }
    #outer_wrapper #lefty h1 { margin-top: 0; }
    #outer_wrapper #lefty a.search {
      display: block;
      background-color: #27b373;
      color: white;
      margin: 0.5em 0;
    }
    #outer_wrapper #lefty a.do-compare {
      position: fixed;
      bottom: 0px;
      left: 0px;
      width: 300px;
      display: block;
      background-color: #f05a28;
      font-size: 1.4em;
      text-align: center;
      box-sizing: border-box;
    }
    #outer_wrapper #lefty a.do-compare.hide {
      display: none;
    }
    #outer_wrapper .wrapper {
      height: 100%;
      position: relative;
      border: 1px solid #134370;
      padding-left: 35%;
    }
    #outer_wrapper .wrapper .key { left: 35%; }
    #block-boxes-school-score-widget .boxes-box-content .score-right {
      min-height: 130px;
      padding-top: 1em !important;
    }
    #block-boxes-school-score-widget .boxes-box-content .score-right form input[type=text] { margin: 1em 0; }
    #block-boxes-did-you-know h2.printonly {
      display: none;
    }
    .block--boxes-did-you-know ul.nav {
      display: inline-block;
      margin-left: 2em;
      position: relative;
      top: 7px;
    }
    .block--boxes-did-you-know .tab-content {
      border: 0;
    }
    #block-mailchimp-lists-get-email-updates .block__content a:link,
    #block-mailchimp-lists-get-email-updates .block__content a:visited,
    #block-mailchimp-lists-get-email-updates .block__content input[type=submit] {
      border: none;
    }
    #block-mailchimp-lists-get-email-updates .block__content h3 {
      margin: 0;
    }
    #other_profile,
    #overview {
      position: relative;
    }
    #other_profile table td,
    table#climate-help td,
    #overview table td,
    #other_profile table th,
    table#climate-help th,
    #overview table th {
      padding: 0.25em 1em;
      vertical-align: top;
    }
    #other_profile table td:nth-child(1),
    table#climate-help td:nth-child(1),
    #overview table td:nth-child(1) {
      text-align: right;
      min-width: 200px;
      width: 33%;
    }
    #other_profile table h3,
    table#climate-help h3,
    #overview table h3 {
      margin: 0;
      color: #2e5b8c;
    }
    #other_profile table,
    #overview table { width: 100%; }
    .help {
      display: block;
      width: 20px;
      height: 20px;
      position: absolute;
      right: 8px;
      top: 8px;
      cursor: pointer;
    }
    .elements_wrapper {
      padding: 1em 1em 0 1em;
      background-color: white;
    }
    .elements_wrapper .element_label {
      min-height: 50px;
      margin: 3px 0;
      padding-top: 7px;
    }
    .elements_wrapper .elements_score {
      height: 45px;
      margin: 3px 0;
      background-image: url(/assets/5e_scale.png);
      background-repeat: no-repeat;
      background-position: right top;
    }
    .elements_wrapper .elements_score .bar {
      position: absolute;
      left: 67px;
      height: 10px;
      top: 10px;
      background-color: #134370;
    }
    .elements_wrapper .circled {
      -webkit-border-radius: 999px;
      -moz-border-radius: 999px;
      border-radius: 999px;
      behavior: url(PIE.htc);
      width: 28px;
      height: 28px;
      font-size: 14px;
      font-weight: bold;
      padding: 6px 0;
      text-align: center;
      background-color: #134370;
      color: white;
      margin-bottom: 10px;
    }
    .blue h2,
    .blue h3 {
      background-color: #00aff0;
      padding: 0.5em;
      margin-bottom: 0;
      color: white;
    }
    .blue ul {
      background-color: #cff0fc;
      padding: 0;
      margin: 0;
      padding-top: 0.5em;
    }
    .blue ul li {
      padding: 0.5em;
      list-style: none;
    }
    .blue ul li a,
    .blue ul li a:visited {
      color: black;
      font-weight: bold;
    }
    .blue ul li:hover { background-color: #78d5f7; }
    .map {
      width: 100%;
      height: 100%;
    }
    .key {
      padding: 10px;
      position: absolute;
      left: 0px;
      bottom: 0px;
      width: 600px;
      max-width: 100%;
      background-color: white;
      background-color: rgba(255, 255, 255, 0.8);
      z-index: 100;
    }
    .key .square {
      width: 14px;
      height: 14px;
      margin-right: 3px;
      display: inline-block;
      border: 1px solid #333;
      float: none;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      border-radius: 8px;
    }
    .key .item {
      text-wrap: none;
      white-space: nowrap;
      margin-right: 1em;
    }
    .leaflet-control-layers-base input,
    .leaflet-control-layers-overlays input {
      display: inline;
    }
    #showing {
      padding: 10px 10px 10px 10px;
      position: absolute;
      right: 0px;
      top: 5px;
      width: 300px;
      max-width: 100%;
      background-color: white;
      background-color: rgba(255, 255, 255, 0.8);
      z-index: 100;
    }
    .form-search input[type=text],
    .form-byname input[type=text] {
      display: block;
      width: 100% !important;
      margin-bottom: 0.5em !important;
    }
    .form-search input,
    .form-byname input,
    .form-search select,
    .form-byname select,
    .form-search .btn,
    .form-byname .btn {
      margin-bottom: 0.5em;
    }
    .form-byname input[type=text] {
      width: 270px;
      max-width: 100%;
    }
    ul.school_list { padding-left: 0; }
    ul.school_list li.school {
      list-style: none;
      margin-bottom: 1em;
      position: relative;
      padding-left: 50px;
      padding-top: 0px;
    }
    ul.school_list li.school .mini-el-icon {
      position: absolute;
      left: 0px;
      top: 6px;
      height: auto;
      width: 40px;
    }
    ul.school_list li.school h3 {
      margin-top: 0;
      margin-bottom: 0;
    }
    #block-boxes-school-score-widget.block.block--boxes.block--boxes-simple.block--boxes-school-score-widget.by-name .score-right {
      background-image: url('/assets/theme/schoolbook_icon.png');
      background-position-x: 10px;
      background-position-y: 10px;
    }
    .column {
      width: 30%;
      float: left;
      margin: 0 1%;
    }
    .k12 .grade_container {
      width: 130px;
      height: 0px;
      margin-bottom: 0;
    }
    .k12 .grade_container .grade {
      background-color: #29b473;
    }
    .k12 h2.block__title img {
      height: 32px;
      width: auto;
      margin: -8px 4px -8px 0px;
      vertical-align: middle;
      position: relative;
    }
    .k12 .subscore_wrapper table.scores { width: 100%; }
    .k12 .subscore_wrapper table.scores h3 {
      color: #2e5b8c;
      margin: 0;
    }
    .k12 .subscore_wrapper table.scores tr {
      border-bottom: 1px solid #2e5b8c;
    }
    .k12 .subscore_wrapper table.scores td,
    .k12 .subscore_wrapper table.scores th {
      text-align: left;
      padding: 6px 15px;
      vertical-align: top;
    }
    .k12 .subscore_wrapper table.scores td:nth-child(1) {
      width: 450px;
      text-align: right;
    }
    .k12 .subscore_wrapper table.scores td i.help {
      top: 0;
      right: 0;
    }
    .k12 .subscore_wrapper table.scores tbody tr:nth-child(odd) {
      background-color: rgba(255, 255, 255, 0.2);
    }
    .k12.top .grade_container {
      width: 80px;
      height: 80px;
    }
    .k12.top .boxes-box-content {
      min-height: 80px;
      position: relative;
    }
    .k12.top .subscore_wrapper {
      margin-left: 80px;
    }
    .k12.top .grade {
      width: 70px;
      height: 60px;
      font-size: 40px;
      margin-bottom: 2px;
    }
    .k12.top .grade.sub3 {
      font-size: 12px;
      width: 70px;
      height: 25px;
      padding: 5px;
    }
    .grade {
      display: inline-block;
      background-color: #00aff0;
      font-size: 70px;
      color: white;
      width: 130px;
      height: 105px;
      padding: 8px 5px;
      text-align: center;
      margin-bottom: 10px;
    }
    .grade.na {
      font-size: 55px;
      padding-top: 20px;
    }
    .grade.earlychild {
      font-size: 18px;
      height: auto;
    }
    .grade.sub {
      font-size: 18px;
      width: 40px;
      height: 40px;
      display: inline-block;
    }
    .grade.sub.na {
      font-size: 15px;
      padding-top: 11px;
    }
    .grade.sub a {
      color: white;
    }
    .grade.sub3 {
      font-size: 18px;
      width: 130px;
      height: 40px;
      display: inline-block;
    }
    .grades a,
    .grades a.active {
      background-color: #27b373;
      color: white;
    }
    .home-index input[type=text],
    .schools-index input[type=text] {
      font-size: 1.3em;
      padding: 5px 8px;
      margin: 0em 0;
      max-width: 100%;
      width: 100%;
    }
    .home-index input[type=text]#q,
    .schools-index input[type=text]#q {
      margin-top: 0;
    }
    .home-index .btn.search,
    .schools-index .btn.search {
      background-color: #27b373;
      color: white;
      max-width: 100%;
      width: 100%;
      display: block;
      font-size: 1.3em;
      text-align: right;
    }
    #lefty .grades a {
      font-size: 13px;
    }
    .schools-index .l-footer-wrapper {
      display: none;
    }
    .site-logo img {
      max-width: 100%;
      height: auto;
    }
    .graph,
    .history {
      height: 250px;
      float: left;
      margin-right: 50px;
      margin-bottom: 20px;
      max-width: 100%;
    }
    .summary.closed {
      background-color: #e8e8e8;
    }
    .summary .wrapper {
      height: 180px;
      border: 1px solid #27b373;
    }
    .summary .lead {
      color: #134370;
    }
    .summary h2 {
      font-size: 2.5em;
      margin-top: 0;
      color: #f05a29;
      margin-bottom: 0em;
    }
    .summary .blue {
      width: 170px;
      text-align: center;
    }
    .summary .blue h3 {
      margin-top: 0;
    }
    .summary .grades_container {
      background-color: #cff0fc;
      padding: 20px 20px 10px 20px;
      width: 170px;
    }
    .summary .grades_container .grade:nth-child(1) {
      display: block;
      margin: 0 auto 10px auto;
    }
    .summary .grades_container .grade img {
      width: 70%;
      height: auto;
      margin-top: 3px;
    }
    .summary .grades_container i.help {
      right: 28px;
      top: 28px;
    }
    .summary a.btn.compare,
    .summary a.btn.print {
      display: block;
      margin: 0.5em 0;
      box-sizing: border-box;
    }
    .summary a.address {
      color: #f05a29;
    }
    .summary .hours h3 {
      color: #2e5b8c;
      border-bottom: 1px solid #2e5b8c;
    }
    .summary .hours .arial {
      font-size: 0.9em;
    }
    .summary .hours .day {
      font-weight: bold;
    }
    .profile .lead {
      color: #134370;
      margin-bottom: 0em;
    }
    .profile .nav-pills > li > a {
      color: #134370;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
    }
    .profile .nav-pills > li > a:hover {
      background-color: #e2e2e2;
    }
    .profile .nav-pills > li.active > a {
      color: white;
    }
    table.compare {
      margin: 2em 0;
      font-size: 0.9em;
    }
    table.compare tbody tr:nth-child(odd) {
      background-color: #f4f8ff;
    }
    table.compare td,
    table.compare th {
      border-collapse: collapse;
      max-width: 300px;
      padding: 0.5em 1em;
      text-align: left;
    }
    table.compare td:first-child,
    table.compare th:first-child {
      text-align: right;
    }
    table.compare td h3,
    table.compare th h3 {
      margin-top: 0;
    }
    table.compare td a.close,
    table.compare th a.close {
      font-size: 0.7em;
      color: white;
      margin-left: 10px;
    }
    .tab-content .tab-pane {
      padding: 1em 5em 4em 5em;
    }
    ul.nav li {
      width: 23.5%;
      background-color: #dae1e4;
      text-align: center;
      margin-right: 2%;
      border-radius: 4px 4px 0 0;
    }
    ul.nav li a {
      height: 230px;
      padding: 9px 0 9px 0;
    }
    ul.nav li.active {
      background-color: white;
    }
    ul.nav li:last-of-type {
      margin-right: 0;
    }
    ul.nav img {
      margin-top: 1em;
    }
    ul.nav .question {
      color: #466778;
      border-bottom: 1px solid #2e5b8c;
      display: block;
      padding: 0 9px 9px 9px;
      font-family: 'Lato Regular';
      font-size: 1.2em;
      text-align: left;
    }
    ul.nav .question.hide {
      display: none;
    }
    ul.nav .stars {
      display: block;
      margin-top: 30%;
      font-size: 2em;
    }
    ul.nav li.active .question {
      color: #2e5b8c;
    }
    .overall-stars {
      font-size: 2em;
      padding-top: 10px;
    }
    .turquoise {
      color: #466778;
    }
    .earlychild .community_line:first-of-type {
      border-top: 1px solid #2e5b8c;
    }
    .earlychild #state p {
      border-bottom: 1px solid #2e5b8c;
      padding-bottom: 1em;
    }
    .earlychild #state table {
      width: 100%;
    }
    .earlychild #state table thead {
      font-size: 1.5em;
    }
    .earlychild #state table thead th {
      text-align: left;
    }
    .earlychild #state table td,
    .earlychild #state table th {
      padding: 9px 20px;
      border-bottom: 1px solid #2e5b8c;
    }
    .earlychild #state table td:first-child,
    .earlychild #state table th:first-child {
      text-align: center;
    }
    .earlychild #state .gs-logo {
      width: 200px;
      height: auto;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .earlychild #staff .staff-rating {
      position: relative;
      width: 100%;
      padding-top: 30px;
      padding-bottom: 40px;
    }
    .earlychild #staff .staff-rating .axis {
      text-align: center;
      color: #27b373;
    }
    .earlychild #staff .staff-rating .axis .left {
      float: left;
    }
    .earlychild #staff .staff-rating .axis .right {
      float: right;
    }
    .earlychild #staff .staff-rating .bar {
      height: 20px;
    }
    .earlychild #staff .staff-rating .bar div {
      height: 100%;
      display: inline-block;
      margin-right: -4px;
    }
    .earlychild #staff .staff-rating .bar .light-green {
      background-color: #d4f0e3;
      width: 50%;
    }
    .earlychild #staff .staff-rating .bar .bronze {
      background-color: #a17644;
      width: 20%;
    }
    .earlychild #staff .staff-rating .bar .silver {
      background-color: #938886;
      width: 20%;
    }
    .earlychild #staff .staff-rating .bar .gold {
      background-color: #ffc75d;
      width: 10%;
    }
    .earlychild #staff .staff-rating .not-rated {
      color: #f05a29;
      font-size: 14px;
      text-align: center;
    }
    .earlychild #staff .staff-rating .pointer {
      position: absolute;
      border-right: 2px solid #27b373;
      padding-right: 0.5em;
    }
    .earlychild #staff .staff-rating .pointer.state {
      top: 0px;
      padding-bottom: 45px;
      color: #27b373;
      font-size: 90%;
    }
    .earlychild #staff .staff-rating .pointer.score {
      bottom: 0px;
      padding-top: 35px;
      color: #2e5b8c;
      border-color: #2e5b8c;
    }
    .earlychild .points {
      color: #2e5b8c;
    }
    .earlychild .stars {
      color: #2e5b8c;
      letter-spacing: -2px;
      font-size: 1.4em;
      margin-right: 9px;
    }
    .earlychild .grade-legend {
      margin-top: 1em;
      clear: both;
    }
    .earlychild .grade-legend h3 {
      padding-top: 0.5em;
    }
    .earlychild .grade-legend img {
      width: 60px;
      height: auto;
      margin-right: 1em;
      margin-bottom: 1em;
      float: left;
    }
    .earlychild .el-icon,
    .k12 .el-icon,
    .earlychild .mini-el-icon,
    .k12 .mini-el-icon {
      width: 60%;
      height: auto;
    }
    .earlychild .overall-seal .centered.nomobile,
    .k12 .overall-seal .centered.nomobile {
      display: block !important;
    }
    .earlychild .el-icon.overview,
    .k12 .el-icon.overview {
      margin-top: 0;
    }
    .earlychild .mini-el-icon,
    .k12 .mini-el-icon {
      width: 40px;
      height: auto;
      float: right;
      margin-left: 0.5em;
    }
    .earlychild .overall-seal,
    .k12 .overall-seal {
      padding-top: 1em;
      text-align: center;
    }
    .earlychild .overall-seal .el-icon,
    .k12 .overall-seal .el-icon {
      width: 100%;
      height: auto;
      margin-top: 1em;
      max-width: 200px;
    }
    .earlychild .community_line,
    .k12 .community_line {
      padding: 0.5em 0;
      position: relative;
      padding-bottom: 0.66em;
    }
    .earlychild .community_line .score,
    .k12 .community_line .score {
      width: 10%;
      float: left;
    }
    .earlychild .community_line h3,
    .k12 .community_line h3 {
      margin-top: 0;
    }
    .earlychild .community_line .statement,
    .k12 .community_line .statement,
    .earlychild .community_line .explanation,
    .k12 .community_line .explanation {
      text-align: left;
      padding-left: 5px;
      float: right;
      width: 90%;
    }
    .earlychild .community_line .statement,
    .k12 .community_line .statement {
      color: #2e5b8c;
      margin-bottom: 3px;
    }
    .earlychild .community_line.level-0,
    .k12 .community_line.level-0 {
      font-size: 1.2em;
      padding-left: 30px;
    }
    .earlychild .community_line.level-1,
    .k12 .community_line.level-1 {
      padding-left: 30px;
    }
    .earlychild .community_line.level-2,
    .k12 .community_line.level-2 {
      font-size: 0.9em;
      padding-left: 50px;
    }
    .k12 .el-icon {
      marign-top: 0;
    }
    .home-index ul.nav li {
      width: 30%;
      margin-right: 2%;
    }
    .home-index ul.nav li a {
      min-height: 0;
      padding-bottom: 0;
    }
    .home-index ul.nav li a .question {
      border-bottom: none;
    }
    .home-index ul.nav.left li {
      width: 100%;
      margin-right: 0;
    }
    .home-index .tab-content .tab-pane {
      padding: 1em;
      padding-top: 1.5em;
    }
    .home-index .block {
      background-color: white;
      padding: 1em 2em;
      border: 1px solid #2e5b8c;
    }
    .home-index #top-tabs.nav-tabs > li.active > a {
      background-color: #dae1e4;
    }
    .home-index #top-tabs.nav-tabs > li.active > a .question {
      border-bottom: 1px solid #2e5b8c;
      color: #466778;
    }
    .home-index #top {
      background-color: #dae1e4;
    }
    .home-index #top ul.top {
      list-style: none;
      padding-left: 0;
      margin-top: 0;
    }
    .home-index #top ul.top li {
      margin-bottom: 1em;
    }
    .home-index #top ul.top li a,
    .home-index #top ul.top li a:visited {
      color: #466778;
    }
    .home-index #top ul.top .mini-icon {
      height: 25px;
      width: auto;
      margin-right: 1em;
    }
    .share {
      margin: 0.5em 0;
    }
    .share .share-button {
      display: inline-block;
      width: 24px;
      height: 30px;
      background-position: 0px 0px;
      background-repeat: no-repeat;
      margin-right: 0px;
    }
    .share #fb-share {
      background-image: url(/assets/el_icons/facebook_sprite.png);
      background-position: 5px 0px;
    }
    .share #fb-share:hover {
      background-position: 5px -74px;
    }
    .share #tw-share {
      background-image: url(/assets/el_icons/twitter_sprite.png);
      background-position: 0px 2px;
    }
    .share #tw-share:hover {
      background-position: 0 -68px;
    }
    .share #plus-share {
      background-image: url(/assets/el_icons/googleplus_sprite.png);
      background-position: 0px 2px;
    }
    .share #plus-share:hover {
      background-position: 0 -72px;
    }
    .share #pin-share {
      background-image: url(/assets/el_icons/pinterest_sprite.png);
      background-position: 0px 2px;
    }
    .share #pin-share:hover {
      background-position: 0 -73px;
    }
    @media only screen and (min-width: 960px) {
      .mobile_only { display: none; }
      .home-index .fourplex #loc { display: none; }
    }
    @media only screen and (max-width: 960px) {
      .container_12 .column { width: 100%; }
      ul.nav.nav-tabs li,
      ul.nav.nav-tabs li a { height: 60px; }
      #overview table td,
      #overview table td:nth-child(1) { width: 100%; }
      #overview table td { padding: 0.25em 0; }
      .earlychild .community_line .score { width: 70px; }
      .earlychild #state .gs-logo { position: relative; }
      .earlychild .community_line .explanation,
      .earlychild .community_line .statement { width: 90%; }
    }
    @media only screen and (max-width: 959px) {
      body { min-width: 0px; }
      .container_12 { width: auto; }
      .container_12 .grid_1,
      .container_12 .grid_2,
      .container_12 .grid_3,
      .container_12 .grid_4,
      .container_12 .grid_5,
      .container_12 .grid_6,
      .container_12 .grid_7,
      .container_12 .grid_8,
      .container_12 .grid_9,
      .container_12 .grid_10,
      .container_12 .grid_11,
      .container_12 .grid_12 {
        margin-left: 10px;
        margin-right: 10px;
        text-align: left;
        width: auto;
        float: none;
      }
      .alpha,
      .omega {
        margin-left: 0;
        margin-right: 0;
      }
      .align_center,
      .align_right { text-align: left; }
      h2 { margin-top: 0; }
      aside p { text-align: center; }
      #bodywrap {
        padding: 0.5em 1em;
        overflow-x: hidden;
      }
      .l-content-left,
      .l-content-right { width: auto; }
      .branding { text-align: center; }
      .branding .site-logo img { max-width: 50%; }
      .branding .l-region--branding { display: none; }
      .branding .form-byname input[type=text] {
        width: 200px;
        max-width: 100%;
      }
      .popover-inner { max-width: 280px; }
      .nomobile { display: none !important; }
      .usabilla_live_button_container { display: none; }
      .column { padding: 0 0.5em; }
      /*.details { background-color: @dturq; padding: 0.5em; }*/
      ul.nav.nav-tabs li {
        width: 100%;
        text-align: left;
        margin-bottom: 2px;
        padding: 0.5em 1em 1em 1em;
        position: relative;
      }
      ul.nav.nav-tabs li a {
        border: none;
        min-height: 0;
      }
      ul.nav.nav-tabs li .question { padding: none; }
      ul.nav.nav-tabs li a:hover {
        background-color: inherit;
      }
      ul.nav.nav-tabs li .question {
        border-bottom: none;
        font-size: 2.2em;
        padding: 0;
        margin-top: 6px;
      }
      ul.nav.nav-tabs li .mini-el-icon {
        margin-top: -25px;
      }
      ul.nav.nav-tabs li .el-icon {
        position: absolute;
        right: 5px;
        top: 5px;
        height: auto;
        width: 40px;
        margin-top: 0;
      }
      ul.nav.nav-tabs li.active a { border: none; }
      ul.nav.nav-tabs li:not(.active) {
        border-radius: 4px;
      }
      .home-index #top-tabs.nav-tabs > li.active > a {
        background-color: transparent;
        border-bottom: 0;
      }
      .home-index #top-tabs.nav-tabs > li.active > a .question {
        border-bottom: none;
      }
      #ground-wrapper #ground { top: 52px; }
      .tab-content { border: none; }
      .tab-content .tab-pane { padding: 0.5em 1em; }
      .earlychild ul.nav.nav-tabs li a {
        min-height: 0;
      }
      .earlychild #state table th {
        padding: 9px 20px 9px 0;
        min-width: 90px;
      }
      .earlychild #state table td { padding-left: 0px; }
      .earlychild #state .stars { display: block; }
      .grades { line-height: 2; }
      .form-search #loc {
        font-size: 1.3em;
        padding: 8px;
      }
      #lefty .l-content-right,
      #front-filter .l-content-right { width: 80%; }
      .grade { display: block; }
      .summary .minimap { display: none; }
      .summary .grades_container img {
        height: 50px;
        width: auto;
        margin: 10px 10px 0 0;
      }
      .summary .el-icon { max-width: 80%; }
      .summary a.btn.print,
      .summary a.btn.compare {
        margin: 0;
      }
      .profile .block .grade_container {
        position: static;
      }
      .subscore_wrapper {
        margin-left: 0;
        overflow: hidden;
      }
      .subscore_wrapper table.scores {
        max-width: 100%;
      }
      .subscore_wrapper table.scores thead {
        display: none;
      }
      .subscore_wrapper table.scores tbody .relative {
        display: inline-block;
      }
      .subscore_wrapper table.scores tbody td i.help {
        display: none;
      }
      .subscore_wrapper table.scores tbody td {
        display: inline-block;
        overflow: hidden;
        padding: 6px 2px;
      }
      .subscore_wrapper table.scores tbody td:nth-child(1) {
        width: auto;
        display: block;
        background-color: rgba(255, 255, 255, 0.2);
        padding: 6px 15px;
      }
      .subscore_wrapper table.scores tbody td:nth-child(2) {
        padding-left: 2em;
      }
      .subscore_wrapper table.scores tbody td:nth-child(2):before {
        content: 'Score: ';
      }
      .subscore_wrapper table.scores tbody td:nth-child(3):before {
        content: '(';
      }
      .subscore_wrapper table.scores tbody td:nth-child(3):after {
        content: ' points of';
      }
      .subscore_wrapper table.scores tbody td:nth-child(4):after {
        content: ')';
      }
      .subscore_wrapper table.scores tbody tr:nth-child(odd) {
        background-color: transparent;
      }
      #block-boxes-school-score-widget.block.block--boxes.block--boxes-simple.block--boxes-school-score-widget.by-name .score-right {
        background: none;
      }
      #enroll { max-width: 100%; }
      #other_profile table td,
      #overview table td {
        display: inline-block;
        overflow: hidden;
      }
      #other_profile table td:nth-child(1),
      #overview table td:nth-child(1) {
        display: block;
        text-align: left;
        padding-bottom: 0;
      }
      #footer.l-footer-wrapper {
        height: auto;
        position: static;
        text-align: center;
        padding-bottom: 0.5em;
        background-color: transparent;
      }
      #footer.l-footer-wrapper img {
        margin: 10px;
        height: auto;
        width: 100%;
      }
      #footer.l-footer-wrapper .l-footer {
        padding-left: 0;
      }
      #footer.l-footer-wrapper .l-footer .grid_3 {
        float: left;
        width: 20%;
      }
      #outer_wrapper { top: 85px; }
      #outer_wrapper #lefty {
        position: static;
        width: auto;
      }
      #outer_wrapper .wrapper { display: none; }
    }
    @media only screen and (max-width: 775px) {
      .earlychild .community_line .statement,
      .earlychild .community_line .explanation { width: 87%; }
    }
    @media only screen and (max-width: 600px) {
      .earlychild .community_line .statement,
      .earlychild .community_line .explanation { width: 85%; }
    }
    @media only screen and (max-width: 530px) {
      .earlychild .community_line .statement,
      .earlychild .community_line .explanation { width: 83%; }
    }
    @media only screen and (max-width: 470px) {
      .earlychild .community_line .statement,
      .earlychild .community_line .explanation { width: 80%; }
    }
    @media only screen and (max-width: 400px) {
      .earlychild .community_line .statement,
      .earlychild .community_line .explanation { width: 78%; }
    }
    .caret {
      display: inline-block;
      width: 0;
      height: 0;
      text-indent: -99999px;
      *text-indent: 0;
      vertical-align: top;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-top: 4px solid #000000;
      opacity: 0.3;
      filter: alpha(opacity=30);
      content: "\2193";
    }
    .typeahead {
      margin-top: 2px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      z-index: 1105;
    }
    .label,
    .badge {
      display: inline-block;
      padding: 2px 4px;
      font-size: 11.844px;
      font-weight: bold;
      line-height: 14px;
      color: #fff;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
      white-space: nowrap;
      vertical-align: baseline;
      background-color: #999999;
    }
    .label {
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
    }
    .nav {
      margin-left: 0;
      margin-bottom: 18px;
      list-style: none;
    }
    .nav > li > a {
      display: block;
    }
    .nav > li > a:hover {
      text-decoration: none;
      background-color: #eeeeee;
    }
    .nav .nav-header {
      display: block;
      padding: 3px 15px;
      font-size: 11px;
      font-weight: bold;
      line-height: 18px;
      color: #999999;
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
      text-transform: uppercase;
    }
    .nav li + .nav-header {
      margin-top: 9px;
    }
    .nav-list {
      padding-left: 14px;
      padding-right: 14px;
      margin-bottom: 0;
    }
    .nav-list > li > a,
    .nav-list .nav-header {
      margin-left: -15px;
      margin-right: -15px;
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    }
    .nav-list > li > a {
      padding: 3px 15px;
    }
    .nav-list .active > a,
    .nav-list .active > a:hover {
      color: #ffffff;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
      background-color: #0088cc;
    }
    .nav-list [class^="icon-"] {
      margin-right: 2px;
    }
    .nav-tabs,
    .nav-pills {
      *zoom: 1;
    }
    .nav-tabs:before,
    .nav-pills:before,
    .nav-tabs:after,
    .nav-pills:after {
      display: table;
      content: "";
    }
    .nav-tabs:after,
    .nav-pills:after {
      clear: both;
    }
    .nav-tabs > li,
    .nav-pills > li {
      float: left;
    }
    .nav-tabs > li > a,
    .nav-pills > li > a {
      padding-right: 12px;
      padding-left: 12px;
      margin-right: 2px;
      line-height: 14px;
    }
    .nav-tabs {
      border-bottom: 1px solid #ddd;
    }
    .nav-tabs > li {
      margin-bottom: -1px;
    }
    .nav-tabs > li > a {
      padding-top: 9px;
      padding-bottom: 9px;
      border: 1px solid transparent;
      -webkit-border-radius: 4px 4px 0 0;
      -moz-border-radius: 4px 4px 0 0;
      border-radius: 4px 4px 0 0;
    }
    .nav-tabs > li > a:hover {
      border-color: #eeeeee #eeeeee #dddddd;
    }
    .nav-tabs > .active > a,
    .nav-tabs > .active > a:hover {
      color: #555555;
      background-color: #ffffff;
      border: 1px solid #ddd;
      border-bottom-color: transparent;
      cursor: default;
    }
    .nav-pills > li > a {
      padding-top: 8px;
      padding-bottom: 8px;
      margin-top: 2px;
      margin-bottom: 2px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
    }
    .nav-pills .active > a,
    .nav-pills .active > a:hover {
      color: #ffffff;
      background-color: #0088cc;
    }
    .nav-stacked > li {
      float: none;
    }
    .nav-stacked > li > a {
      margin-right: 0;
    }
    .nav-tabs.nav-stacked {
      border-bottom: 0;
    }
    .nav-tabs.nav-stacked > li > a {
      border: 1px solid #ddd;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
    }
    .nav-tabs.nav-stacked > li:first-child > a {
      -webkit-border-radius: 4px 4px 0 0;
      -moz-border-radius: 4px 4px 0 0;
      border-radius: 4px 4px 0 0;
    }
    .nav-tabs.nav-stacked > li:last-child > a {
      -webkit-border-radius: 0 0 4px 4px;
      -moz-border-radius: 0 0 4px 4px;
      border-radius: 0 0 4px 4px;
    }
    .nav-tabs.nav-stacked > li > a:hover {
      border-color: #ddd;
      z-index: 2;
    }
    .nav-pills.nav-stacked > li > a {
      margin-bottom: 3px;
    }
    .nav-pills.nav-stacked > li:last-child > a {
      margin-bottom: 1px;
    }
    .nav .open .caret,
    .nav .open.active .caret,
    .nav .open a:hover .caret {
      border-top-color: #ffffff;
      opacity: 1;
      filter: alpha(opacity=100);
    }
    .tabs-stacked .open > a:hover {
      border-color: #999999;
    }
    .tabbable {
      *zoom: 1;
    }
    .tabbable:before,
    .tabbable:after {
      display: table;
      content: "";
    }
    .tabbable:after {
      clear: both;
    }
    /*.tab-content{overflow:hidden;}*/
    .tabs-below .nav-tabs,
    .tabs-right .nav-tabs,
    .tabs-left .nav-tabs {
      border-bottom: 0;
    }
    .tab-content > .tab-pane,
    .pill-content > .pill-pane {
      display: none;
    }
    .tab-content > .active,
    .pill-content > .active {
      display: block;
    }
    .tabs-below .nav-tabs {
      border-top: 1px solid #ddd;
    }
    .tabs-below .nav-tabs > li {
      margin-top: -1px;
      margin-bottom: 0;
    }
    .tabs-below .nav-tabs > li > a {
      -webkit-border-radius: 0 0 4px 4px;
      -moz-border-radius: 0 0 4px 4px;
      border-radius: 0 0 4px 4px;
    }
    .tabs-below .nav-tabs > li > a:hover {
      border-bottom-color: transparent;
      border-top-color: #ddd;
    }
    .tabs-below .nav-tabs .active > a,
    .tabs-below .nav-tabs .active > a:hover {
      border-color: transparent #ddd #ddd #ddd;
    }
    .tabs-left .nav-tabs > li,
    .tabs-right .nav-tabs > li {
      float: none;
    }
    .tabs-left .nav-tabs > li > a,
    .tabs-right .nav-tabs > li > a {
      min-width: 74px;
      margin-right: 0;
      margin-bottom: 3px;
    }
    .tabs-left .nav-tabs {
      float: left;
      margin-right: 19px;
      border-right: 1px solid #ddd;
    }
    .tabs-left .nav-tabs > li > a {
      margin-right: -1px;
      -webkit-border-radius: 4px 0 0 4px;
      -moz-border-radius: 4px 0 0 4px;
      border-radius: 4px 0 0 4px;
    }
    .tabs-left .nav-tabs > li > a:hover {
      border-color: #eeeeee #dddddd #eeeeee #eeeeee;
    }
    .tabs-left .nav-tabs .active > a,
    .tabs-left .nav-tabs .active > a:hover {
      border-color: #ddd transparent #ddd #ddd;
      *border-right-color: #ffffff;
    }
    .tabs-right .nav-tabs {
      float: right;
      margin-left: 19px;
      border-left: 1px solid #ddd;
    }
    .tabs-right .nav-tabs > li > a {
      margin-left: -1px;
      -webkit-border-radius: 0 4px 4px 0;
      -moz-border-radius: 0 4px 4px 0;
      border-radius: 0 4px 4px 0;
    }
    .tabs-right .nav-tabs > li > a:hover {
      border-color: #eeeeee #eeeeee #eeeeee #dddddd;
    }
    .tabs-right .nav-tabs .active > a,
    .tabs-right .nav-tabs .active > a:hover {
      border-color: #ddd #ddd #ddd transparent;
      *border-left-color: #ffffff;
    }
    .popover {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1010;
      display: none;
      max-width: 600px;
      padding: 1px;
      text-align: left;
      white-space: normal;
      background-color: #fff;
      border: 1px solid #ccc;
      border: 1px solid rgba(0, 0, 0, 0.2);
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px;
      -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
      -webkit-background-clip: padding-box;
      -moz-background-clip: padding;
      background-clip: padding-box;
    }
    .popover.top {
      margin-top: -10px;
    }
    .popover.right {
      margin-left: 10px;
    }
    .popover.bottom {
      margin-top: 10px;
    }
    .popover.left {
      margin-left: -10px;
    }
    .popover-title {
      padding: 8px 14px;
      margin: 0;
      font-size: 14px;
      font-weight: normal;
      line-height: 18px;
      background-color: #f7f7f7;
      border-bottom: 1px solid #ebebeb;
      -webkit-border-radius: 5px 5px 0 0;
      -moz-border-radius: 5px 5px 0 0;
      border-radius: 5px 5px 0 0;
    }
    .popover-title:empty {
      display: none;
    }
    .popover-content {
      padding: 9px 14px;
    }
    .popover .arrow,
    .popover .arrow:after {
      position: absolute;
      display: block;
      width: 0;
      height: 0;
      border-color: transparent;
      border-style: solid;
    }
    .popover .arrow {
      border-width: 11px;
    }
    .popover .arrow:after {
      border-width: 10px;
      content: "";
    }
    .popover.top .arrow {
      bottom: -11px;
      left: 50%;
      margin-left: -11px;
      border-top-color: #999;
      border-top-color: rgba(0, 0, 0, 0.25);
      border-bottom-width: 0;
    }
    .popover.top .arrow:after {
      bottom: 1px;
      margin-left: -10px;
      border-top-color: #fff;
      border-bottom-width: 0;
    }
    .popover.right .arrow {
      top: 50%;
      left: -11px;
      margin-top: -11px;
      border-right-color: #999;
      border-right-color: rgba(0, 0, 0, 0.25);
      border-left-width: 0;
    }
    .popover.right .arrow:after {
      bottom: -10px;
      left: 1px;
      border-right-color: #fff;
      border-left-width: 0;
    }
    .popover.bottom .arrow {
      top: -11px;
      left: 50%;
      margin-left: -11px;
      border-bottom-color: #999;
      border-bottom-color: rgba(0, 0, 0, 0.25);
      border-top-width: 0;
    }
    .popover.bottom .arrow:after {
      top: 1px;
      margin-left: -10px;
      border-bottom-color: #fff;
      border-top-width: 0;
    }
    .popover.left .arrow {
      top: 50%;
      right: -11px;
      margin-top: -11px;
      border-left-color: #999;
      border-left-color: rgba(0, 0, 0, 0.25);
      border-right-width: 0;
    }
    .popover.left .arrow:after {
      right: 1px;
      bottom: -10px;
      border-left-color: #fff;
      border-right-width: 0;
    }
  .summary.earlychild
    .middle
      .container_12
        .grid_12{:style => 'margin-bottom: 1em;'}
          %br/
          %h2= @school.display_name
          %a.address{:href => @school.gmaps_url, :target => '_blank'} #{raw @school.street}
          .noprint
            - if @school.school_url
              %a.external{:href => @school.school_url, :target => '_blank'}
                = image_tag 'external.png'
                School Website

      .container_12
        .column.overall-seal
          = render 'seal',
            :category => :overall,
            :rating => @school.early_childhood_rating,
            :school => @school

        .column.hours
          %h3 Hours
          .arial
            - num = 0
            - ['sunday', 'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday'].each do |day|
              - next if @school.send("#{day}_open".to_sym).blank? or @school.send("#{day}_close".to_sym).blank?
              - num += 1
              %span.day #{day.titleize}:
              #{@school.send("#{day}_open".to_sym)} &mdash; #{@school.send("#{day}_close".to_sym)}
              %br/
            - if num == 0
              No hours of operation listed.
            %p
              -unless @school.months_of_operation.blank?
                %span.day Months of operation:
                #{@school.months_of_operation}
            %p
              - unless @school.contact.blank?
                %span.day Contact person:
                #{@school.contact}
                %br/
              - unless @school.email.blank?
                %span.day Email:
                #{@school.email}
                %br/
              - unless @school.phone.blank?
                %span.day Phone:
                #{format_phone(@school.phone)}
          %h3 Share
          = render 'shared/share'


        .column.map-container
          #map


      %br.noprint/
      %br.noprint/

      #ground-wrapper
        #ground
        .container_12.clear-floats.details.earlychild
          %ul.nav.nav-tabs
            %li{:class => 'active'}
              %a{:href => '#overview', 'data-toggle' => 'tab'}
                .question.bebas
                  %span.nomobile About This School
                  %span.mobile_only About
                = render 'seal',
                  :category => :overview,
                  :rating => nil,
                  :school => @school
            %li
              %a{:href => '#community', 'data-toggle' => 'tab'}
                .question.bebas
                  %span.nomobile What does the community think?
                  %span.mobile_only Community's Rating
                = render 'seal', :category => :community,
                  :rating => @school.site_visit_rating,
                  :school => @school,
                  :year => ('2015' if @school.site_visit_rating_year == '2015')
            %li{:class => ''}
              %a{:href => '#state', 'data-toggle' => 'tab'}
                .question.bebas
                  %span.nomobile What does the state think?
                  %span.mobile_only State's Rating
                = render 'seal',
                  :category => :state,
                  :rating => @school.sas_score_rating,
                  :school => @school
            %li
              %a{:href => '#staff', 'data-toggle' => 'tab'}
                .question.bebas
                  %span.nomobile What does the staff think?
                  %span.mobile_only Staff's Rating
                = render 'seal',
                  :category => :staff,
                  :rating => @school.teacher_survey_rating,
                  :school => @school,
                  :year => ('2015' if @school.staff_survey_rating_year == '2015')

          .tab-content
            #overview.tab-pane.self_reported{:class => 'active'}
              /= render 'shared/tip', :tip => @tips[:ec_profile]
              - if @school.nil?
                %p.orange
                  This program doesn't have an overall rating from Excellent Schools Detroit because it did not participate in the community and staff surveys.
              - if @school.message
                %p= raw @school.message

              %table
                = render 'ec_profile_field', label: 'Program Specialty', val: @school.specialty
                = render 'ec_profile_field', label: 'Schedule Type', val: @school.schedule
                = render 'ec_profile_field', label: 'Accepts Ages from', val: @school.age_from
                = render 'ec_profile_field', label: 'Accepts Ages to', val: @school.age_to
                = render 'ec_profile_field', label: 'Total Licensed Capacity', val: @school.capacity
                = render 'ec_profile_field', label: 'Written Contract', val: @school.contract
                = render 'ec_profile_field', label: 'Financial Assistance', val: @school.subsidy
                = render 'ec_profile_field', label: 'Program Eligibility Criteria', val: @school.eligibility
                = render 'ec_profile_field', label: 'Care Setting', val: @school.setting
                = render 'ec_profile_field', label: 'Payment Schedule', val: @school.pay_schedule
                = render 'ec_profile_field', label: 'Application / Registration Fee', val: sprintf("$%.2f", @school.fee)
                = render 'ec_profile_field', label: 'Provides Transportation', val: @school.transportation
                = render 'ec_profile_field', label: 'Additional program information', val: @school.additional_info
                = render 'ec_profile_field', label: 'Age Groups', val: @school.age_groups
                = render 'ec_profile_field', label: 'Teacher Evaluations', val: @school.evaluation
                = render 'ec_profile_field', label: 'Languages spoken by program staff', val: @school.language
                = render 'ec_profile_field', label: 'Partner name - 1', val: @school.partner_one
                = render 'ec_profile_field', label: 'Details of partnership - 1', val: @school.partner_one_detail
                = render 'ec_profile_field', label: 'Partner name - 2', val: @school.partner_two
                = render 'ec_profile_field', label: 'Details of partnership - 2', val: @school.partner_two_detail
                = render 'ec_profile_field', label: 'Partner name - 3', val: @school.partner_three
                = render 'ec_profile_field', label: 'Details of partnership - 3', val: @school.partner_three_detail
                = render 'ec_profile_field', label: 'Actual Enrollment', val: @school.actual_enrollment
                = render 'ec_profile_field', label: 'Licensed Enrollment', val: @school.licensed_enrollment
                = render 'ec_profile_field', label: 'Number of children with special needs', val: @school.special_enrollment
                = render 'ec_profile_field', label: 'Number of children receiving subsidy', val: @school.subsidy_enrollment
              = render 'one_col_field_list',
                label: 'Special Needs Experience',
                list: @school.special
              = render 'one_col_field_list',
                label: 'Environment',
                list: @school.environment
              = render 'one_col_field_list',
                label: 'Meals Provided',
                list: @school.meals
              = render 'one_col_field_list',
                label: 'Enrichment opportunities',
                list: @school.enrichment
              = render 'one_col_field_list',
                label: 'Field trips and other extended programming',
                list: @school.extended
              = render 'one_col_field_list',
                label: 'Facilities Available',
                list: @school.facilities
              = render 'one_col_field_list',
                label: 'Frequency of feedback provided to parents on childs progress',
                list: @school.feedback_freq
              = render 'one_col_field_list',
                label: 'Type of feedback provided to parents on child\'s progress',
                list: @school.feedback_type
              = render 'one_col_field_list',
                label: 'Health/Dental/Vision Care',
                list: @school.medical
              = render 'one_col_field_list',
                label: 'Access to mental health services',
                list: @school.mental
              = render 'one_col_field_list',
                label: 'Playground and/or physical activity space on site',
                list: @school.physical_activity
              = render 'one_col_field_list',
                label: 'Family and community support',
                list: @school.support
              = render 'legend', :school => @school, :tab => :overall

            #community.tab-pane
              %p.turquoise
                The Community rating is based on surveys conducted on-site at the program by a group of trained reviewers from the community.
                After spending four hours observing and taking notes, reviewers answer questions on a four-point scale that measures how much they
                agree with the statements below (I do not agree at all, I somewhat agree, I mostly agree, and I completely agree). A score
                of 4.0 out of 4.0 is considered an "excellent" rating.

              - if @school
                .community_line
                  %div
                    %h3.score
                      %span.points= @school.community_clc_fair_average.round(1)
                      %span / 4.0
                    %h3.statement Cultural Awareness
                    .explanation.arial The rating is based on how well teachers showed respect to all children regardless of race, culture and ability.

                  %div.clear-floats
                    %h3.score
                      %span.points= @school.community_professionalism_fair_average.round(1)
                      %span / 4.0
                    %h3.statement Professionalism
                    .explanation.arial The rating is based on how teachers and staff behave and treat each other while in the room with children.

                  %div.clear-floats
                    %h3.score
                      %span.points= @school.community_safety_fair_average.round(1)
                      %span / 4.0
                    %h3.statement Program Environment
                    .explanation.arial This rating is based on the conditions of the classroom.

                  %div.clear-floats
                    %h3.score
                      %span.points= @school.community_interactions_fair_average.round(1)
                      %span / 4.0
                    %h3.statement Relationships & Interactions
                    .explanation.arial The rating is based on how well teachers manage the classroom.

                  %div.clear-floats
                    %h3.score
                      %span.points= @school.community_family_fair_average.round(1)
                      %span / 4.0
                    %h3.statement Collaboration
                    .explanation.arial The rating is based on how the family, community and school work together.

              = render 'legend', school: @school, :tab => :community


            #state.tab-pane{:class => ''}
              %p.turquoise
                The following star ratings are from Great Start to Quality's 5-Star Quality Rating and Improvement System (QRIS),
                which is a state-run program. The points in each category are from the program's self-assessment.

              .overall-stars.relative
                = image_tag 'el_icons/gs_logo.png', :class => 'gs-logo'
                = render 'stars', :n => [@school.published_rating.to_i, 0].max
              %table
                %thead
                  %tr
                    %th
                      %span.points= @school.points_total
                      %span / 50
                    %th Overall Score
                %tbody
                  %tr
                    %td
                      %span.points= @school.points_staff
                      %span / 16
                    %td Staff Qualifications and Professional Development
                  %tr
                    %td
                      %span.points= @school.points_family
                      %span / 8
                    %td Family and Community Partnerships
                  %tr
                    %td
                      %span.points= @school.points_admin
                      %span / 6
                    %td Administration and Management
                  %tr
                    %td
                      %span.points= @school.points_env
                      %span / 8
                    %td Environment
                  %tr
                    %td
                      %span.points= @school.points_curriculum
                      %span / 12
                    %td Curriculum and Instruction

              %br/
              %h3 Here is what the star ratings mean:
              %div
                = render 'stars', :n => 0
                Program meets state licensing requirements
              %div
                = render 'stars', :n => 1
                Program meets state licensing requirements and is participating in Great Start to Quality
              %div
                = render 'stars', :n => 2
                Program demonstrates quality across some standards
              %div
                = render 'stars', :n => 3
                Program demonstrates quality across several standards
              %div
                = render 'stars', :n => 4
                Program demonstrates quality across almost all standards
              %div
                = render 'stars', :n => 5
                Program demonstrates highest quality

              = render 'legend', school: @school, :tab => :state

            #staff.tab-pane
              %p.turquoise
                Teachers and staff were asked to complete a survey about their program. They answered questions on a five-point scale. Those answers were averaged to create the numbers below.

              %br/

              - if @school.teacher_score_mean
                = render 'staff_rating', :score => @school.teacher_score_mean, :state => 3.64
              - else
                .community_line
                  %div
                    %h3.score
                      %span.points= @school.staff_program_environment_average.andand.to_f.andand.round(1)
                      %span / 5.0
                    %h3.statement Program Environment
                    .explanation.arial Program Environment is  the overall feel for all persons, including children, families, and staff, in the program environment. It measures the it factor that is often hard to define,  but is necessary for any learning to begin. It measures attributes like an inviting and safe place for children as well as a supportive place for staff to work. It make children, family, and staff feel welcome and respected regardless of differences.
                  %div.clear-floats
                    %h3.score
                      %span.points= @school.staff_family_community_average.to_f.round(1)
                      %span / 5.0
                    %h3.statement Collaboration
                    .explanation.arial Family and Community Partnerships is the extent to which programs facilitate relationships between families in their program and the community. It includes the extent in which programs invite parents to bring what they know from the community to the program while also building connections to other families and resources in the community.
                  %div.clear-floats
                    %h3.score
                      %span.points= @school.staff_cultural_linguistic_average.to_f.round(1)
                      %span / 5.0
                    %h3.statement Cultural Awareness
                    .explanation.arial Cultural and Linguistic Competence is the extent to which a program understands and implements cultural and linguistic practice. This includes programs that provide staff with opportunities to learn more about their own backgrounds, teachers who learn more about practices and materials for parents in their home language.
                  %div.clear-floats
                    %h3.score
                      %span.points= @school.staff_culture_climate_average.to_f.round(1)
                      %span / 5.0
                    %h3.statement General Culture and Climate
                    .explanation.arial General Climate and Culture measures parts of the early learning environment that are supportive, safe, and facilitate childrens learning. It includes caring relationships between educators and children, educators' expectations for children's learning, and to what extent educators believe in children's ability to succeed.
                .clear-floats
              = render 'legend', school: @school, :tab => :staff


        %br/
        %br/

      :javascript
        $(document).ready(function(e) {
          Map({
            center: #{@school.center.to_json},
            markers: #{[@school.marker].to_json},
            zoom: 15,
            zoomControl: false,
            dragging: false,
            touchZoom: false,
            scrollWheelZoom: false,
            doubleClickZoom: false,
            boxZoom: false,
            tap: false,
            keyboard: false
          });

          $('.region-title').click(function() {
            var me = $(this);
            var target = $('#' + me.data('target'));
            if (target.hasClass('hide')) {
              me.removeClass('closed');
              target.removeClass('hide');
            } else {
              me.addClass('closed');
              target.addClass('hide');
            }
          });
        });
