<!doctype html>
%html
  %head
    %meta(charset='utf-8')
    = wicked_pdf_stylesheet_link_tag 'print'
    = wicked_pdf_javascript_include_tag 'application'
    = csrf_meta_tag
  %body
    .container
      .container_12.info-region
        .school-header
          .school-title
            %h1= @school.display_name
            - if @school.status != 'Mature' && @school.status != 'Suburban'
              = @school.status
          .grades-served= "Grades Served: #{@school.grades_served.first} - #{@school.grades_served.last}"
      .container_12.info-region
        #performance
          - if @school.high?
            .middle
              .section.border-bottom
                .stat-region
                  %h2 Are students at this school ready for college?
                  %h3 Average percent of students scoring at the college-ready level on ACT, 2013-14
                  .content.four
                    = render 'bar_graph.html.haml', title: 'English',
                      school_average: @school.english_college_ready,
                      detroit_average: @detroit.english_college_ready,
                      state_average: @state.english_college_ready
                    = render 'bar_graph.html.haml', title: 'Math',
                      school_average: @school.math_college_ready,
                      detroit_average: @detroit.math_college_ready,
                      state_average: @state.math_college_ready
                    = render 'bar_graph.html.haml', title: 'Reading',
                      school_average: @school.reading_college_ready,
                      detroit_average: @detroit.reading_college_ready,
                      state_average: @state.reading_college_ready
                    = render 'bar_graph.html.haml', title: 'Science',
                      school_average: @school.science_college_ready,
                      detroit_average: @detroit.science_college_ready,
                      state_average: @state.science_college_ready
              .section.border-bottom
                .stat-region
                  %h2 Did students at this school grow academically?
                  %h3 Average difference in the performance of 11th grade students on the ACT compared to their predicted performance based on their 7th and 8th grade state test results. Based on 2012-14 ACT results.
                  .content.growth.two
                    .labels
                      .label SCHOOL
                      .label DETROIT
                    = render 'two_bar_graph.html.haml', title: 'English',
                      subject: 'english', scale: 10,
                      school_growth: @school.english_growth,
                      detroit_growth: @detroit.english_growth,
                      zero_bar: 'PREDICTED SCORE'
                    = render 'two_bar_graph.html.haml', title: 'Math',
                      subject: 'math', scale: 10,
                      school_growth: @school.math_growth,
                      detroit_growth: @detroit.math_growth,
                      zero_bar: 'PREDICTED SCORE'
                  .content.growth.two
                    .labels
                      .label SCHOOL
                      .label DETROIT
                    = render 'two_bar_graph.html.haml', title: 'Reading',
                      subject: 'reading', scale: 10,
                      school_growth: @school.reading_growth,
                      detroit_growth: @detroit.reading_growth,
                      zero_bar: 'PREDICTED SCORE'
                    = render 'two_bar_graph.html.haml', title: 'Science',
                      subject: 'science', scale: 10,
                      school_growth: @school.science_growth,
                      detroit_growth: @detroit.science_growth,
                      zero_bar: 'PREDICTED SCORE'
              .section.border-bottom
                .stat-region
                  %h2 Do students at this school graduate high school, enroll in college and stay in college?
                  %h3 Average percent of 9th graders who graduate in 4 and 5 years from high school, percent of graduates that enroll in college, and percent of enrollees that persist into a second year of college. Based on graduating classes 2011-14.
                  .content.four.bar
                    .labels
                      .label SCHOOL
                      .label DETROIT
                      .label STATE
                    = render 'three_bar_graph.html.haml',
                      title: 'Graduate in 4 Years',
                      school_average: @school.graduate_in_four_years,
                      detroit_average: @detroit.graduate_in_four_years,
                      state_average: @state.graduate_in_four_years
                    = render 'three_bar_graph.html.haml',
                      title: 'Graduate in 5 Years',
                      school_average: @school.graduate_in_five_years,
                      detroit_average: @detroit.graduate_in_five_years,
                      state_average: @state.graduate_in_five_years
                    = render 'three_bar_graph.html.haml',
                      title: 'Enroll in College',
                      school_average: @school.enroll_in_college,
                      detroit_average: @detroit.enroll_in_college,
                      state_average: @state.enroll_in_college
                    = render 'three_bar_graph.html.haml',
                      title: 'Stay in College',
                      school_average: @school.stay_in_college,
                      detroit_average: @detroit.stay_in_college,
                      state_average: @state.stay_in_college
                  .content.two.fivee
                    = render 'five_essentials.html.haml',
                      overall_rating: @school.five_e_overall_rating,
                      effective_leaders: @school.five_e_effective_leaders,
                      collaborative_teachers: @school.five_e_collaborative_teachers,
                      involved_families: @school.five_e_involved_families,
                      supportive_environment: @school.five_e_supportive_environment,
                      ambitious_instruction: @school.five_e_ambitious_instruction,
                      report_id: @school.five_e_report_id
      .container_12.clear_floats.region-title
        %h2= @school.display_name
      .container_12.info-region
        - if @school.high?
          - if @school.has_academic_programs?
            .section.border-bottom
              .header
                .icon-text
                  .star-icon
                  Academic Programs
              .columns.two
                = render 'column',
                  title: 'Academic Focus',
                  list: @school.academic_focus
                - if @school.has_ell?
                  .column
                    .title English Language Learners
                    .content.light-cyan-background
                      - if @school.ell_level.present?
                        %span.key Level:
                        = @school.ell_level
                        <br/>
                        <br/>
                      - if @school.ell_languages.present?
                        %span.key Languages
                        = render 'field_list', list: @school.ell_languages
                  = render 'column',
                    title: 'Personalized Learning Options',
                    list: @school.instructional_model
                - if @school.special_ed_level.present? || @school.special_ed_programs.present?
                  .column
                    .title Special Education
                    .content.light-cyan-background
                      - if @school.special_ed_level.present?
                        %span.key Level:
                        = @school.special_ed_level
                        <br/>
                        <br/>
                      - if @school.special_ed_programs.present?
                        %span.key Programs
                        = render 'field_list', list: @school.special_ed_programs
