.container_12
  .grid_8
    %br/
    %br/
    %h1= @school.name
    
    %h3
      Grades #{@school.AUTHORIZED_GRADES_2011} &middot; #{@school.HEADCOUNT_ALL_FALL_2011.to_i} students &middot; #{@school.SCHOOL_TYPE_2011}
      %br/
      #{@school.SCHOOL_STREET_ADDRESS_2011} &middot; #{@school.SCHOOL_CITY_STATE_ZIP_2011} 
      
    %br/
    %p
      %b School Mission:
      = @school.SCHOOL_MISSION
      
  .grid_4
    #wrapper{:style => 'height: 200px; margin-top: 4em;'}
      = render :partial => 'shared/map', :object => @map    
    %br/
    %br/
    
.container_12
  .grid_4
    %b= link_to @school.SCHOOL_WEBSITE, "http://#{@school.SCHOOL_WEBSITE}"
    %br/
    %b Phone:
    = @school.SCHOOL_PHONE
    %br/
    %b Fax:
    = @school.SCHOOL_FAX
    %br/
    %b Hours:
    = @school.SCHOOL_HOURS_AM_PM
    %br/
    %b Principal:
    = @school.PRINCIPAL_FIRST
    = @school.PRINCIPAL_LAST
    
  .grid_4
    %b Nearest bus stop:
    = @school.NEAREST_BUS_STOP
    %br/
    %b Bus routes within 0.5mi:
    = @school.BUS_ROUTES
    %br/
    
  .grid_4
    %h4 Demographics
    #dems{:style => 'float: left; width: 220px; height: 140px; margin-right: 10px;'}
    
%br/
%br/

- if false
  .container_12
    .grid_3
      %h3 Overall School Rating: ?
    .grid_3
      Top-to-bottom school ranking: 58 out of 70
    .grid_3
      School Site Visit: 10 out of 20
    .grid_3
      5 Essentials Survey: #{@school.SCORE_OVERALL_5E_2012} out of 100


 
- if @high
  .container_12
    .grid_6
      %h3 How Is This School Doing Academically?
      %p Following are percentages of grade 11 and 12 students scoring proficient and advanced on the Michigan Merit Examination:
      
      %b Spring 2011
      #academics.barchart
      
    .grid_6
      %h3 How Well Does This School Prepare Students for College?
      %b Average ACT Score for admission, 2010-11
      .grid_3.alpha
        University of Michigan: 26.0
        %br/
        Michigan State University: 24.0
      .grid_3.omega
        Wayne State University: 23.3
        %br/
        Wayne Cty Community College: 22.2
        
      %div
        %b School Average ACT Score, 2010-11
      %div All Students: #{@school.AVG_ALLSTUD_ALLSUB_ACT_2011} (Trend: #{@school.TREND_ALLSTUD_ALLSUB_ACT_2007_2011})
      %b Graduation Rate, 2011
      %div All Students: #{@school.PCT_ALLSTUD_12_GRAD_4YR_2011} (Trend: #{@school.TREND_ALLSTUD_12_GRAD_4YR_2007_2011})
      
      %b College Enrollment and Performance:
      %div Of every 10 students who started 9th grade...
      %div #{@school.NUM_REAL_HSGRAD_4R_PER_09COHORT_2009} graduated on time
      %div #{@school.NUM_REAL_ENROLL_IHE_PER_09COHORT_2009} enrolled in college
      %div #{@school.NUM_REAL_1YR_IHE_PER_09COHORT_2009} finished a year of college
      
- else
  .container_12
    .grid_12  
      %h3 How Is This School Doing Academically?
      %p Following are the percentages of grade 6 students performing at or above grade level on the Michigan Education Assessment Program:
    .grid_6
      %h4 Reading, 2010-11
      #reading.barchart
      
    .grid_6
      %h4 Math, 2010-11
      #math.barchart
      
  %br/
  %br/
  
  .container_12
    .grid_6
      %h3 Student Performance Growth
      %p This year, we can only report if students state standards or not. In the future, we how much students progress. Every student should progress one entire grade level each year. But sometimes, students progress a lot and they still are not meeting state standards because they started the year so far behind. We think it is important to show which schools are helping students progress, even if their students are not yet meeting standards.
      
    .grid_6
      %h3 How Well Does This School Prepare Students for College?
      %p 3rd grade reading is an early indicator if students are on track for graduation:
      %b Reading, 2010-11
      %div All Students: #{@school.PCT_PROF_ALLSTUD_03_R_MEAP_2011}% (Trend: #{@school.TREND_PCT_PROF_ALLSTUD_03_R_MEAP_2007_2011})
      
    
%br/
%br/    

.container_12
  .grid_6
    %h3 Is This School Organized for Improvement?
    %p Teachers and students were surveyed about the five essential elements of their school. If a school is green, or strong, on ANY three of these elements, it is 10 times more likely to improve over time. If a school is not green on at least three elements, students at the school likely will do the same or worse next year.
    .centered
      %h3 Overall score: #{@school.SCORE_OVERALL_5E_2012}
      %b= @school.SCORE_DESCRIPTION_5E_2012
      %div Response rate: #{@school.TCH_RESPONSE_5E_2012.to_i}% teachers, #{@school.STUD_RESPONSE_5E_2012.to_i}% students
    = render :partial => 'shared/5e', :collection => @elements, :as => :element
    
  .grid_6
    %h3 What Is This School's Environment Like?
    %p Parents and community members visited this school unannounced to observe the learning environment and school culture. This is what they saw:
    
    %table.sitevisit_key
      %tr{:style => 'height: 25px;'}
        %td.color1
        %td.color2
        %td.color3
        %td.color4
        %td.color5
      %tr
        %td Strongly disagree
        %td Disagree
        %td Neither agree nor disagree
        %td Agree
        %td Strongly agree

    %h4 Physical Environment
    = render :partial => 'shared/colors', :locals => { :items => @sitevisit[:env] }

    %h4 Culture of Academic Achievement
    = render :partial => 'shared/colors', :locals => { :items => @sitevisit[:culture] }

    %h4 Community and Relationships
    = render :partial => 'shared/colors', :locals => { :items => @sitevisit[:community] }

%br/
%br/

.container_12
  .grid_6
    %h3 How Does This School Support Well-Rounded Development?
    %p Extracurricular activities help students explore their interests and apply what they learn in school to the real world. Examples of these activities at this school include:
    %h4 Arts and Culture
    - arts = ('A'..'H').collect { |i| @school["#{i}_ART_CULTURE_ACTIVITIES_2012"] }.reject { |i| i.blank? }
    = render :partial => 'shared/two_cols', :locals => { :items => arts }
    %br/
    %h4 Wellness and Fitness
    - wellness = ('A'..'H').collect { |i| @school["#{i}_WELLNESS_FITNESS_ACTIVITIES_2012"] }.reject { |i| i.blank? }
    = render :partial => 'shared/two_cols', :locals => { :items => wellness }
    %br/
    %h4 Academic
    - academic = ('A'..'H').collect { |i| @school["#{i}_ACADEMIC_ACTIVITES_2012"] }.reject { |i| i.blank? }
    = render :partial => 'shared/two_cols', :locals => { :items => academic }
    
    
  .grid_6
    %h3 How Does This School Help Students Overcome Challenges to Learning?
    %p Students may have learning disabilities, struggle with their behavior, or face challenges outside of school that affect their academic performance. This school provides the following programs to help students overcome such challenges:
    - programs = ('A'..'M').collect { |i| @school["#{i}_PROGRAMS_LEARNING_2012"] }.reject { |i| i.blank? }
    = render :partial => 'shared/two_cols', :locals => { :items => programs }
    %br/
    %h3 What Are the School's Admission Requirements and Deadlines?
    %p= @school.ADMISSIONS

    
%br/
%br/    

:javascript
  // Demographics pie chart
  var dem_data = #{@demographics.to_json};
  
  // Highschool academics
  var high  = #{@high.to_json};
  var sch   = #{@high_ac[:school].to_json};
  var mi    = #{@high_ac[:state].to_json};
  var ticks = #{@high_ac[:ticks].to_json};

  // Elementary school academics - reading
  var elem_ac = #{@elem_academics.to_json};
  

  $(document).ready(function() {
  
    // Demographics pie chart
    var dem_plot = jQuery.jqplot ('dems', [dem_data], 
      { 
        grid: { background: '#ffffff', drawBorder: false, shadow: false }, 
        seriesDefaults: {
          renderer: jQuery.jqplot.PieRenderer, 
          shadow: false,
          rendererOptions: {
            showDataLabels: false,
            diameter: 90,
            padding: 0
          }
        }, 
        legend: { show:true, location: 'e', border: '0px', fontSize: '13px' }
      }
    );     

    if(high) {
      // High school academics  
      var hs_academics_plot = jQuery.jqplot ('academics', [mi, sch], 
        { 
          seriesDefaults: {
            renderer: jQuery.jqplot.BarRenderer, 
            shadow: false,
            pointLabels: { show: true, location: 'e', edgeTolerance: -15 },
            rendererOptions: {
              barDirection: 'horizontal',
              barWidth: 16,
              barPadding: 3
            }
          }, 
          grid: { background: '#ffffff', drawGridlines: false, drawBorder: false, shadow: false }, 
          series: [ { label:'State' }, { label:'School' } ],              
          legend: { show:true, location: 'e', border: '0px', fontSize: '13px' },
          axes: {
            yaxis: {
              renderer: $.jqplot.CategoryAxisRenderer,
              ticks: ticks,
              showTickMarks: false
            },
            xaxis: { min: 0, max: 100, pad: 1.05, numberTicks: 5 }
          }  
        }
      );  
      
    } else {
      // Elementary school academics - reading 
      var plots = ['reading', 'math'];
      for(var i in plots) {
        var name = plots[i];
        var elem_academics_plot = jQuery.jqplot (name, [elem_ac[name].state, elem_ac[name].school], 
          { 
            seriesDefaults: {
              renderer: jQuery.jqplot.BarRenderer, 
              shadow: false,
              pointLabels: { show: true, location: 'e', edgeTolerance: -15 },
              rendererOptions: {
                barDirection: 'horizontal',
                barWidth: 16,
                barPadding: 3
              }
            }, 
            grid: { background: '#ffffff', drawGridlines: false, drawBorder: false, shadow: false }, 
            series: [ { label:'State' }, { label:'School' } ],              
            legend: { show:true, location: 'e', border: '0px', fontSize: '13px' },
            axes: {
              yaxis: {
                renderer: $.jqplot.CategoryAxisRenderer,
                ticks: elem_ac.ticks,
                showTickMarks: false
              },
              xaxis: { min: 0, max: 100, pad: 1.05, numberTicks: 5 }
            }  
          }
        );  
      }


    }
        

  });
