.summary
  .container_12
    .grid_12
      .noprint
        = link_to raw('&lt; Previous School'), previous_path(@school.id), :class => 'btn'
        = link_to raw('Next School &gt;'), next_path(@school.id), :class => 'btn'
      %br/
      %h2
        = @school.name
        - copy = @category_copy[@school.esd.andand.schoolcategory.andand.titleize]
        - if copy
          (#{copy[0].titleize})
        - if @school.basic.school_status == 'Closed'
          (Closed)
      %p
        Grades: #{@school.grades_served || 'Unknown'}
        %br/
        - unless @school.basic.governance.blank?
          Governance: #{@school.basic.governance}
        - unless @school.basic.operator.blank?
          = "/"
          Operator:  #{@school.basic.operator}
        - unless @school.basic.authorizer.blank?
          = "/"
          Authorizer: #{@school.basic.authorizer}

  .container_12
    .grid_3
      - letter = @grades[:cumulative][:letter].to_s
      .blue.relative
        %h3 Overall Score
        
      .grades_container.relative
        = render 'shared/tip', :tip => @tips[:grade_overall], :placement => 'right'
        - if letter.blank? or School::NA_GRADES.include? letter
          .grade.na{:title => 'No Grade'} N/A
        - elsif letter.length < 3
          .grade{:title => "Cumulative Grade"}= letter
        - elsif letter == 'Promising'
          .grade{:title => 'Promising'}= image_tag '/images/icon_thumbup_white.png', :alt => 'Promising'
        - else
          %p
            %b= raw letter
        .grade.sub{:title => 'Academic Status', :class => ((@grades[:status][:letter] || 'N/A') == 'N/A') ? 'na' : ''}
          = link_to (@grades[:status][:letter] || 'N/A'), '#academic-status'
        .grade.sub{:title => 'Academic Progress', :class => ((@grades[:progress][:letter] || 'N/A') == 'N/A') ? 'na' : ''}
          = link_to (@grades[:progress][:letter] || 'N/A'), '#academic-progress'
        .grade.sub{:title => 'School Climate', :class => ((@grades[:climate][:letter] || 'N/A') == 'N/A') ? 'na' : ''}
          = link_to (@grades[:climate][:letter] || 'N/A'), '#school-climate'
      = link_to 'Compare This School', "/compare/+#{@school.id}", :class => 'btn compare noprint'
                
    .grid_5.minimap_container
      .minimap= render :partial => 'shared/map', :object => @map
      %p
        %a{:href => @school.gmaps_url, :target => '_blank'} #{@school.address} &middot; #{@school.address2}
      
      = link_to 'Print', "javascript:window.print();", :class => 'btn noprint'

      - unless true or @school.PDF_FILE_NAME.blank?
        .float_right
          %a.btn{:href => "/pdfs/#{@school.PDF_FILE_NAME}", :target => '_blank'}
            %i.icon-download-alt
            Download PDF
        %br/
        %br/
        
    .grid_4
      - if copy
        %p #{copy[0]}: #{copy[1]}

      - if letter.blank? or ['N/A', 'Incomplete Status &amp; No Progress Data', 'No Progress Data', 'Incomplete Status Data', 'Undetermined'].include? letter
        %p 
          There is not enough data available at this time to accurately assign an overall grade. This happens because the
          school uses different assessments to measure student academic status and/or progress than most schools, or the school
          is too new for enough data to be available. We recommend that you visit with the school's leadership to better understand
          how the school performs against a college ready standard.
         
  

  %br.noprint/
  %br.noprint/
  %hr/
  
- if @school.esd
  .container_12.clear_floats.profile
    .grid_12
      %p.lead Score Breakdown
      = render 'shared/grade_overview', :section => :status, :grades => @grades,   :title => 'Academic Status',   :icon => 'icon_status_white.png',
        :tabs => [:summary, :details, :history]
      = render 'shared/grade_overview', :section => :progress, :grades => @grades, :title => 'Academic Progress', :icon => 'icon_progress_white.png',
        :tabs => [:summary]
      = render 'shared/grade_overview', :section => :climate, :grades => @grades,  :title => 'School Climate',    :icon => 'icon_climate_white.png',
        :tabs => [:summary, :details]
    
.container_12.clear_floats
  .grid_12.self_reported
    %ul.nav.nav-tabs
      %li.active= link_to 'Demographics', '#other_demographics', 'data-toggle' => 'tab'
      %li= link_to 'Self-Reported Profile', '#other_profile', 'data-toggle' => 'tab'
      %li= link_to 'Other Details', '#other_details', 'data-toggle' => 'tab', :class => 'nomobile'
    .tab-content
      #other_demographics.tab-pane.active
        %h2.printonly Demographics
        #dems.noprint{:style => 'float: left; width: 420px; height: 180px; margin-right: 40px;'}
        .printonly{:style => 'float: left; width: 420px; height: 180px; margin-right: 40px;'}
          - @demographics.each do |arr|
            %div= arr[0]
          
        #enroll{:style => 'float: left; width: 360px; height: 160px;'}

      #other_profile.tab-pane
        %h2.printonly.clear_floats Self-Reported Profile
        = render 'shared/tip', :tip => @tips[:self_reported]
        %table
          - @profile_fields.each do |field,label|
            - val = @school.profile.send(field)
            - unless val.blank?
              %tr
                %td
                  %h3 #{label}:
                %td= (val == '0') ? 'No' : (val == '1' ? 'Yes' : val)

      #other_details.tab-pane.nomobile
        %h2.printonly Other Details
        = render 'shared/tip', :tip => @tips[:other_details]

        - if e = @school.esd
          %h3 Challenge Factors:
          %div Overall Student Characteristics Points: #{e.studchrs_pts}
          - if old = (@school.k8? ? @school.esd_k8_2014 : e)
            %div Socio-economic Status: #{(old.econdis_pct.to_f*100).to_i}%
            %div Special Education: #{(old.sped_pct.to_f*100).to_i}%
            %div English Language Learners: #{(old.ell_pct.to_f*100).to_i}%
          - if @school.high?
            %br/
            %div FAFSA Completion Rate: #{"#{(@school.esd_hs_2014.andand.fafsa_rate.to_f*100).to_i}%" || 'N/A'}
        


.container_12
  .grid_6{:style => 'overflow: hidden;'}
    - unless true or (@school.school_contact_first_name.blank? and @school.school_contact_last_name.blank?)
      %p
        %b Contact:
        = @school.school_contact_first_name
        = @school.school_contact_last_name
    - @profile_fields.each do |k,v|
      - next if @school[k].blank?
      %p
        %b #{v}:
        = @school[k]


- unless Rails.env == 'production'
  .container_12.clear_floats.noprint
    .grid_12
      %h2 Raw Data
      %ul.nav.nav-tabs
        %li.active= link_to 'Basic Info', '#basic', 'data-toggle' => 'tab'
        %li= link_to 'School Profile', '#profile', 'data-toggle' => 'tab'
        - if @school.meap_2012
          %li= link_to 'MEAP 2012', '#meap', 'data-toggle' => 'tab'
        - if @school.esd_k8_2014
          %li= link_to 'K8 2014', '#k8', 'data-toggle' => 'tab'
        - if @school.esd_hs_2014
          %li= link_to 'HS 2014', '#hs', 'data-toggle' => 'tab'
        - if @school.act_2014
          %li= link_to 'ACT 2014', '#act', 'data-toggle' => 'tab'
        - if @school.fiveessentials_2014
          %li= link_to '5Essentials 2014', '#fivee', 'data-toggle' => 'tab'
      .tab-content
        #basic.tab-pane.active
          - @school.basic.marshal_dump.each do |k,v|
            %b #{k}:
            = v
            %br/
        #profile.tab-pane
          - @school.profile.andand.marshal_dump.each do |k,v|
            %b #{k}:
            = v
            %br/
        #meap.tab-pane
          - @school.meap_2012.andand.marshal_dump.andand.each do |k,v|
            %b #{k}:
            = v
            %br/
        #k8.tab-pane
          - @school.esd_k8_2014.andand.marshal_dump.andand.each do |k,v|
            %b #{k}:
            = v
            %br/
        #hs.tab-pane
          - @school.esd_hs_2014.andand.marshal_dump.andand.each do |k,v|
            %b #{k}:
            = v
            %br/
        #act.tab-pane
          - @school.act_2014.andand.marshal_dump.andand.each do |k,v|
            %b #{k}:
            = v
            %br/
        #fivee.tab-pane
          - @school.fiveessentials_2014.andand.marshal_dump.andand.each do |k,v|
            %b #{k}:
            = v
            %br/
  
%br/
 


.container_12
- if false
  .grid_6
    %h3 Is This School Organized for Improvement?
    %p Teachers and students were surveyed about the five essential elements of their school. If a school is green, or strong, on ANY three of these elements, it is 10 times more likely to improve over time. If a school is not green on at least three elements, students at the school likely will do the same or worse next year.
    .overall
      %h2= @school.SCORE_DESCRIPTION_5E_2012
      %h3 Overall score: #{@school.SCORE_OVERALL_5E_2012.nil? ? 'N/A' : @school.SCORE_OVERALL_5E_2012.to_i}
      %div Response rate: #{@school.TCH_RESPONSE_5E_2012.andand.to_i || 'N/A'}% teachers, #{@school.STUD_RESPONSE_5E_2012.andand.to_i || 'N/A'}% students
      - unless @school.RESULTS_LINK_5E.blank?
        %div= link_to "View the full report for this school", @school.RESULTS_LINK_5E, :target => '_blank'
    = render :partial => 'shared/5e', :collection => @elements, :as => :element
    %br.clear_floats/
    %table.sitevisit_key.clear_floats.noprint
      %tr{:style => 'height: 25px;'}
        %td.color1
        %td.color2
        %td.color3
        %td.color4
        %td.color5
      %tr
        %td Not yet organized
        %td Partially organized
        %td Moderately organized
        %td Organized
        %td Well organized
    
    
  .grid_6
    %h3 What Is This School's Environment Like?
    %p Parents and community members visited this school unannounced to observe the learning environment and school culture. This is what they saw:
    
    %table.sitevisit_key
      %tr{:style => 'height: 25px;'}
        %td.color1
          .printonly 1
        %td.color2
          .printonly 2
        %td.color3
          .printonly 3
        %td.color4
          .printonly 4
        %td.color5
          .printonly 5
      %tr
        %td Strongly disagree
        %td Disagree
        %td Neither agree nor disagree
        %td Agree
        %td Strongly agree

    .section
      = image_tag 'icons/environment.png'
      %h4 Physical Environment
      = render :partial => 'shared/colors', :locals => { :items => @sitevisit[:env] }

    .section
      = image_tag 'icons/academic.png'
      %h4 Culture of Academic Achievement
      = render :partial => 'shared/colors', :locals => { :items => @sitevisit[:culture] }
    .clear_floats

    .section
      = image_tag 'icons/community.png'
      %h4 Community and Relationships
      = render :partial => 'shared/colors', :locals => { :items => @sitevisit[:community] }

    

%br/
%br/

:javascript
  // Demographics pie chart
  var dem_data = #{@demographics.to_json};
  var enroll = #{@enrollment.to_json};
  var enroll_ticks = #{@enroll_ticks.to_json};
  
  // Highschool academics
  var high    = #{@school.high?.to_json};
  var high_ac = #{@high_ac.to_json};
  var high_act = #{@high_act.to_json};
  var high_grad = #{@high_grad.to_json};


  // Elementary school academics - reading/math
  var elementary = #{@school.elementary?.to_json};
  var middle = #{@school.middle?.to_json};
  var elem_ac = #{@elem_academics.to_json};
  
  // Historical trends
  var history = #{@history.to_json};
  var history_labels = #{@history_labels.to_json};
  
  
  $(document).ready(function(e) {
    /*var x = #{@school.centroid.x.to_json}, y = #{@school.centroid.y.to_json};
    var p = new L.LatLng(y, x);
    var b = new L.LatLngBounds(p, p);
    map.map.panInsidebounds(b);*/
  });
  
= javascript_include_tag 'charts'


