- participant = !!@school.esd_el_2014

.summary.earlychild
  .container_12
    .grid_12{:style => 'margin-bottom: 1em;'}
      - unless Rails.env.production?
        .noprint
          = link_to raw('&lt; Previous School'), previous_path(@school.id), :class => 'btn light'
          = link_to raw('Next School &gt;'), next_path(@school.id), :class => 'btn light'
      %br/
      %h2= @school.name
      %a.address{:href => @school.gmaps_url, :target => '_blank'} #{raw @school.address} &middot; #{@school.address2}
      .noprint
        - if @school.school_url
          %a.external{:href => @school.school_url, :target => '_blank'}
            = image_tag 'external.png'
            School Website
        - if @school.facebook_url
          %a.external{:href => @school.facebook_url, :target => '_blank'}
            = image_tag 'external.png'
            Facebook

  .container_12
    .grid_3.overall-seal
      = render 'seal', :category => :overall, :rating => @el.andand.overall_rating, :school => @school

    .grid_3.hours
      %h3 Hours
      .arial
        - num = 0
        - ['sunday', 'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday'].each do |day|
          - next if @ech[(day + 'dayopen').to_sym].blank? or @ech[(day + 'dayclose').to_sym].blank?
          - num += 1
          %span.day #{day.titleize}:
          #{@ech[(day + 'dayopen').to_sym]} &mdash; #{@ech[(day + 'dayclose').to_sym]}
          %br/
        - if num == 0
          No hours of operation listed.
        %p
          %span.day Months of operation:
          #{@ec.monthsofoperation}
        %p
          - unless @ec.gsccontact.blank?
            %span.day Contact person:
            #{@ec.gsccontact}
            %br/
          - unless @ec.gsemail.blank?
            %span.day Email:
            #{@ec.gsemail}
            %br/
          - unless @ec.phone.blank?
            %span.day Phone:
            #{format_phone(@ec.phone)}


    .grid_6.minimap_container
      .grid_3.alpha
        %a.btn.light.arial.print.noprint.nomobile{:href => "javascript:window.print();"}
          = image_tag 'el_icons/print-icon.png'
          Print This Page
      .grid_3.omega
        %a.btn.light.arial.compare.noprint{:href => "/compare/+#{@school.id}"}
          = image_tag 'el_icons/compare-icon.png'
          Compare This School
      .clear_floats/
      .minimap= render :partial => 'shared/map', :object => @map
  

  %br.noprint/
  %br.noprint/

#ground-wrapper  
  #ground
  .container_12.clear_floats.details.earlychild
    %ul.nav.nav-tabs
      %li{:class => participant ? 'active' : ''}
        %a{:href => '#overview', 'data-toggle' => 'tab'}
          .question.bebas
            %span.nomobile About This School
            %span.mobile_only About
          = render 'seal', :category => :overview, :rating => nil, :school => @school
      %li
        %a{:href => '#community', 'data-toggle' => 'tab'}
          .question.bebas
            %span.nomobile What does the community think?
            %span.mobile_only Community's Rating
          = render 'seal', :category => :community, :rating => @el.andand.overall_site_visit_rating, :school => @school
      %li{:class => participant ? '' : 'active'}
        %a{:href => '#state', 'data-toggle' => 'tab'}
          .question.bebas
            %span.nomobile What does the state think?
            %span.mobile_only State's Rating
          - if participant
            = render 'seal', :category => :state, :rating => @el.andand.sas_score_rating, :school => @school
          - else
            = render 'stars', :n => [@ec.andand.publishedrating.to_i, 0].max
      %li
        %a{:href => '#staff', 'data-toggle' => 'tab'}
          .question.bebas
            %span.nomobile What does the staff think?
            %span.mobile_only Staff's Rating
          = render 'seal', :category => :staff, :rating => @el.andand.teacher_survey_rating, :school => @school
      
    .tab-content
      #overview.tab-pane.self_reported{:class => participant ? 'active' : ''}
        = render 'shared/tip', :tip => @tips[:ec_profile]
        - if @el.nil?
          %p.orange
            This program doesn't have an overall rating from Excellent Schools Detroit because it did not participate in the community and staff surveys.
            
        - if @ec.andand.gscmessage
          %p= raw @ec.gscmessage
          
        %table
          - @profile_fields.each do |field,label|
            - val = @ech[field.to_sym]
            - unless val.blank?
              %tr
                %td
                  %h3 #{label}:
                %td.arial
                  - if [:agefrom, :ageto].include? field
                    - if val.to_i > 11
                      #{(val.to_i/12).to_i} years,
                    #{val.to_i%12} months
                  - else
                    = raw((val == '0') ? 'No' : (val == '1' ? 'Yes' : val))

        = render 'legend', :legend => @legend, :tab => :overall
    
      #community.tab-pane
        %p.turquoise
          The Community rating is based on surveys conducted on-site at the program by a group of trained reviewers from the community.
          After spending four hours observing and taking notes, reviewers answer questions on a four-point scale that measures how much they
          agree with the statements below (I do not agree at all, I somewhat agree, I mostly agree, and I completely agree). A score
          of 4.0 out of 4.0 is considered an "excellent" rating.
        
        - if @el
          - @community.each do |field, info|
            .community_line
              %h3.score
                %span.points= info[:points].round(1)
                %span / 4.0
              %h3.statement= info[:statement]
              .explanation.arial= info[:explanation]

        = render 'legend', :legend => @legend_sub, :tab => :community
          
                
      #state.tab-pane{:class => participant ? '' : 'active'}
        %p.turquoise
          The following star ratings are from Great Start to Quality's 5-Star Quality Rating and Improvement System (QRIS),
          which is a state-run program. The points in each category are from the program's self-assessment.
  
        .overall-stars        
          = render 'stars', :n => [@ec.andand.publishedrating.to_i, 0].max
        %table
          %thead
            %tr
              %th
                %span.points= @ec.andand.gscpts
                %span / 50
              %th Overall Score
          %tbody
            - @grades[:status][:summary_table].each do |item|
              %tr
                %td
                  %span.points= item[:points]
                  %span / #{item[:possible]}
                %td= item[:name]
      
        %br/
        %h3 Here is what the star ratings mean:
        - @stars.each do |n, desc|
          %div
            = render 'stars', :n => n
            = desc

        = render 'legend', :legend => @legend_sub, :tab => :state
      
      #staff.tab-pane
        %p.turquoise
          Teachers and staff here were asked to complete  a survey about their program. The survey
          included items about community engagement, family engagement, cultural and linguistic competence,
          and climate and culture. Teachers and staff answered questions on a four-point scale. Those answers
          were then averaged to create the number below.
          
        %hr
        %br/
          
        - if @el.andand.teacher_score_mean
          = render 'staff_rating', :score => @el.teacher_score_mean, :state => 3.64

        = render 'legend', :legend => @legend_sub, :tab => :staff


  %br/
  %br/
