- cache(@school.cache_key, condition: @school.can_cache?) do
  .summary.earlychild
    .middle
      .container_12
        .grid_12{:style => 'margin-bottom: 1em;'}
          %br/
          %h2= @school.display_name
          %a.address{:href => @school.gmaps_url, :target => '_blank'} #{raw @school.street}
          .noprint
            - if @school.school_url
              %a.external{:href => @school.school_url, :target => '_blank'}
                = image_tag 'external.png'
                School Website
            - if @school.facebook_url
              %a.external{:href => @school.facebook_url, :target => '_blank'}
                = image_tag 'external.png'
                Facebook

      .container_12
        .grid_3.overall-seal
          = render 'seal',
            :category => :overall,
            :rating => @school.early_childhood_rating,
            :school => @school

        .grid_3.hours
          %h3 Hours
          .arial
            - num = 0
            - ['sunday', 'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday'].each do |day|
              - next if @school.send("#{day}_open".to_sym).blank? or @school.send("#{day}_close".to_sym).blank?
              - num += 1
              %span.day #{day.titleize}:
              #{@school.send("#{day}_open".to_sym)} &mdash; #{@school.send("#{day}_close".to_sym)}
              %br/
            - if num == 0
              No hours of operation listed.
            %p
              %span.day Months of operation:
              #{@school.months_of_operation}
            %p
              - unless @school.contact.blank?
                %span.day Contact person:
                #{@school.contact}
                %br/
              - unless @school.email.blank?
                %span.day Email:
                #{@school.email}
                %br/
              - unless @school.phone.blank?
                %span.day Phone:
                #{format_phone(@school.phone)}
          %h3 Share
          = render 'shared/share'


        .grid_4.map-container
          #map


      %br.noprint/
      %br.noprint/

      #ground-wrapper
        #ground
        .container_12.clear_floats.details.earlychild
          %ul.nav.nav-tabs
            %li{:class => 'active'}
              %a{:href => '#overview', 'data-toggle' => 'tab'}
                .question.bebas
                  %span.nomobile About This School
                  %span.mobile_only About
                = render 'seal',
                  :category => :overview,
                  :rating => nil,
                  :school => @school
            %li
              %a{:href => '#community', 'data-toggle' => 'tab'}
                .question.bebas
                  %span.nomobile What does the community think?
                  %span.mobile_only Community's Rating
                = render 'seal', :category => :community,
                  :rating => @school.site_visit_rating,
                  :school => @school,
                  :year => ('2015' if @school.site_visit_rating_year == '2015')
            %li{:class => ''}
              %a{:href => '#state', 'data-toggle' => 'tab'}
                .question.bebas
                  %span.nomobile What does the state think?
                  %span.mobile_only State's Rating
                = render 'seal',
                  :category => :state,
                  :rating => @school.sas_score_rating,
                  :school => @school
            %li
              %a{:href => '#staff', 'data-toggle' => 'tab'}
                .question.bebas
                  %span.nomobile What does the staff think?
                  %span.mobile_only Staff's Rating
                = render 'seal',
                  :category => :staff,
                  :rating => @school.teacher_survey_rating,
                  :school => @school,
                  :year => ('2015' if @school.staff_survey_rating_year == '2015')

          .tab-content
            #overview.tab-pane.self_reported{:class => 'active'}
              /= render 'shared/tip', :tip => @tips[:ec_profile]
              - if @school.nil?
                %p.orange
                  This program doesn't have an overall rating from Excellent Schools Detroit because it did not participate in the community and staff surveys.
              - if @school.message
                %p= raw @school.message

              %table
                = render 'ec_profile_field', label: 'Program Specialty', val: @school.specialty
                = render 'ec_profile_field', label: 'Schedule Type', val: @school.schedule
                = render 'ec_profile_field', label: 'Accepts Ages from', val: @school.age_from
                = render 'ec_profile_field', label: 'Accepts Ages to', val: @school.age_to
                = render 'ec_profile_field', label: 'Total Licensed Capacity', val: @school.capacity
                = render 'ec_profile_field', label: 'Financial Assistance', val: @school.subsidy
                = render 'ec_profile_field', label: 'Special Needs Experience', val: @school.special
                = render 'ec_profile_field', label: 'Care Setting', val: @school.setting
                = render 'ec_profile_field', label: 'Environment', val: @school.environment
                = render 'ec_profile_field', label: 'Meals Provided', val: @school.meals
                = render 'ec_profile_field', label: 'Payment Schedule', val: @school.pay_schedule
                = render 'ec_profile_field', label: 'Application / Registration Fee', val: sprintf("$%.2f", @school.fee)
                = render 'ec_profile_field', label: 'Provides Transportation?', val: @school.transportation
                = render 'ec_profile_field', label: 'Additional program information', val: @school.additional_info
                = render 'ec_profile_field', label: 'Age Groups', val: @school.age_groups
                = render 'ec_profile_field', label: 'Enrichment opportunities', val: @school.enrichment
                = render 'ec_profile_field', label: 'Teacher Evaluations', val: @school.evaluation
                = render 'ec_profile_field', label: 'Field trips and other extended programming', val: @school.extended
                = render 'ec_profile_field', label: 'Facilities Available', val: @school.facilities
                = render 'ec_profile_field', label: 'Frequency of feedback provided to parents on child’s progress', val: @school.feedback_freq
                = render 'ec_profile_field', label: 'Type of feedback provided to parents on child\'s progress', val: @school.feedback_type
                = render 'ec_profile_field', label: 'Languages spoken by program staff', val: @school.language
                = render 'ec_profile_field', label: 'Health/Dental/Vision Care', val: @school.medical
                = render 'ec_profile_field', label: 'Access to mental health services', val: @school.mental
                = render 'ec_profile_field', label: 'Partner name - 1', val: @school.partner_one
                = render 'ec_profile_field', label: 'Details of partnership - 1', val: @school.partner_one_detail
                = render 'ec_profile_field', label: 'Partner name - 2', val: @school.partner_two
                = render 'ec_profile_field', label: 'Details of partnership - 2', val: @school.partner_two_detail
                = render 'ec_profile_field', label: 'Partner name - 3', val: @school.partner_three
                = render 'ec_profile_field', label: 'Details of partnership - 3', val: @school.partner_three_detail
                = render 'ec_profile_field', label: 'Playground and/or physical activity space on site', val: @school.physical_activity
                = render 'ec_profile_field', label: 'Family and community support', val: @school.support
                = render 'ec_profile_field', label: 'Actual Enrollment', val: @school.actual_enrollment
                = render 'ec_profile_field', label: 'Licensed Enrollment', val: @school.licensed_enrollment
                = render 'ec_profile_field', label: 'Number of children with special needs', val: @school.special_enrollment
                = render 'ec_profile_field', label: 'Number of children receiving subsidy', val: @school.subsidy_enrollment
              = render 'legend', :school => @school, :tab => :overall

            #community.tab-pane
              %p.turquoise
                The Community rating is based on surveys conducted on-site at the program by a group of trained reviewers from the community.
                After spending four hours observing and taking notes, reviewers answer questions on a four-point scale that measures how much they
                agree with the statements below (I do not agree at all, I somewhat agree, I mostly agree, and I completely agree). A score
                of 4.0 out of 4.0 is considered an "excellent" rating.

              - if @school
                .community_line
                  %div
                    %h3.score
                      %span.points= @school.community_clc_fair_average.round(1)
                      %span / 4.0
                    %h3.statement Cultural Awareness
                    .explanation.arial The rating is based on how well teachers showed respect to all children regardless of race, culture and ability.

                  %div.clear_floats
                    %h3.score
                      %span.points= @school.community_professionalism_fair_average.round(1)
                      %span / 4.0
                    %h3.statement Professionalism
                    .explanation.arial The rating is based on how teachers and staff behave and treat each other while in the room with children.

                  %div.clear_floats
                    %h3.score
                      %span.points= @school.community_safety_fair_average.round(1)
                      %span / 4.0
                    %h3.statement Program Environment
                    .explanation.arial This rating is based on the conditions of the classroom.

                  %div.clear_floats
                    %h3.score
                      %span.points= @school.community_interactions_fair_average.round(1)
                      %span / 4.0
                    %h3.statement Relationships & Interactions
                    .explanation.arial The rating is based on how well teachers manage the classroom.

                  %div.clear_floats
                    %h3.score
                      %span.points= @school.community_family_fair_average.round(1)
                      %span / 4.0
                    %h3.statement Collaboration
                    .explanation.arial The rating is based on how the family, community and school work together.

              = render 'legend', school: @school, :tab => :community


            #state.tab-pane{:class => ''}
              %p.turquoise
                The following star ratings are from Great Start to Quality's 5-Star Quality Rating and Improvement System (QRIS),
                which is a state-run program. The points in each category are from the program's self-assessment.

              .overall-stars.relative
                = image_tag 'el_icons/gs_logo.png', :class => 'gs-logo'
                = render 'stars', :n => [@school.published_rating.to_i, 0].max
              %table
                %thead
                  %tr
                    %th
                      %span.points= @school.points_total
                      %span / 50
                    %th Overall Score
                %tbody
                  %tr
                    %td
                      %span.points= @school.points_staff
                      %span / 16
                    %td Staff Qualifications and Professional Development
                  %tr
                    %td
                      %span.points= @school.points_family
                      %span / 8
                    %td Family and Community Partnerships
                  %tr
                    %td
                      %span.points= @school.points_admin
                      %span / 6
                    %td Administration and Management
                  %tr
                    %td
                      %span.points= @school.points_curriculum
                      %span / 12
                    %td Curriculum and Instruction

              %br/
              %h3 Here is what the star ratings mean:
              %div
                = render 'stars', :n => 0
                Program meets state licensing requirements
              %div
                = render 'stars', :n => 1
                Program meets state licensing requirements and is participating in Great Start to Quality
              %div
                = render 'stars', :n => 2
                Program demonstrates quality across some standards
              %div
                = render 'stars', :n => 3
                Program demonstrates quality across several standards
              %div
                = render 'stars', :n => 4
                Program demonstrates quality across almost all standards
              %div
                = render 'stars', :n => 5
                Program demonstrates highest quality

              = render 'legend', school: @school, :tab => :state

            #staff.tab-pane
              %p.turquoise
                Teachers and staff were asked to complete a survey about their program. They answered questions on a five-point scale. Those answers were averaged to create the numbers below.

              %br/

              - if @school.teacher_score_mean
                = render 'staff_rating', :score => @school.teacher_score_mean, :state => 3.64
              - else
                .community_line
                  %div
                    %h3.score
                      %span.points= @school.staff_program_environment_average.andand.to_f.andand.round(1)
                      %span / 5.0
                    %h3.statement Program Environment
                    .explanation.arial Program Environment is  the overall feel for all persons, including children, families, and staff, in the program environment. It measures the “it” factor that is often hard to define,  but is necessary for any learning to begin. It measures attributes like an inviting and safe place for children as well as a supportive place for staff to work. It make children, family, and staff feel welcome and respected regardless of differences.
                  %div.clear_floats
                    %h3.score
                      %span.points= @school.staff_family_community_average.to_f.round(1)
                      %span / 5.0
                    %h3.statement Collaboration
                    .explanation.arial Family and Community Partnerships is the extent to which programs facilitate relationships between families in their program and the community. It includes the extent in which programs invite parents to bring what they know from the community to the program while also building connections to other families and resources in the community.
                  %div.clear_floats
                    %h3.score
                      %span.points= @school.staff_cultural_linguistic_average.to_f.round(1)
                      %span / 5.0
                    %h3.statement Cultural Awareness
                    .explanation.arial Cultural and Linguistic Competence is the extent to which a program understands and implements cultural and linguistic practice. This includes programs that provide staff with opportunities to learn more about their own backgrounds, teachers who learn more about practices and materials for parents in their home language.
                  %div.clear_floats
                    %h3.score
                      %span.points= @school.staff_culture_climate_average.to_f.round(1)
                      %span / 5.0
                    %h3.statement General Culture and Climate
                    .explanation.arial General Climate and Culture measures parts of the early learning environment that are supportive, safe, and facilitate children’s learning. It includes caring relationships between educators and children, educators' expectations for children's learning, and to what extent educators believe in children's ability to succeed.
                .clear_floats
              = render 'legend', school: @school, :tab => :staff


        %br/
        %br/

      :javascript
        $(document).ready(function(e) {
          Map({
            center: #{@school.center.to_json},
            markers: #{[@school.marker].to_json},
            zoom: 15,
            zoomControl: false,
            dragging: false,
            touchZoom: false,
            scrollWheelZoom: false,
            doubleClickZoom: false,
            boxZoom: false,
            tap: false,
            keyboard: false
          });

          $('.region-title').click(function() {
            var me = $(this);
            var target = $('#' + me.data('target'));
            if (target.hasClass('hide')) {
              me.removeClass('closed');
              target.removeClass('hide');
            } else {
              me.addClass('closed');
              target.addClass('hide');
            }
          });
        });
