.container_12
  .grid_8
    %br/
    %br/
    %h1= @school.name
    
    .subhead
      Grades #{@school.AUTHORIZED_GRADES_2011} &middot; #{@school.HEADCOUNT_ALL_FALL_2011.to_i} students &middot; #{@school.SCHOOL_TYPE_2011}
      %br/
      #{@school.SCHOOL_STREET_ADDRESS_2011} &middot; #{@school.SCHOOL_CITY_STATE_ZIP_2011} 
      
    %p
      %b School Mission:
      = @school.SCHOOL_MISSION
      
  .grid_4
    %br/
    #wrapper{:style => 'height: 200px;'}
      = render :partial => 'shared/map', :object => @map    
    %br/
    %br/
    
    
.container_12
  .grid_3
    %h3 Overall School Rating: ?
  .grid_3
    Top-to-bottom school ranking: 58 out of 70
  .grid_3
    School Site Visit: 10 out of 20
  .grid_3
    5 Essentials Survey: #{@school.SCORE_OVERALL_5E_2012} out of 100
    
%br/
%br/
 
- if @high
  .container_12
    .grid_6
      %h3 How Is This School Doing Academically?
      %p Following are percentages of grade 11 and 12 students scoring proficient and advanced on the Michigan Merit Examination:
      
      %b Spring 2011
      %div Reading: #{@school.PCT_PROF_ALLSTUD_11_R_MME_2011}% (Trend: #{@school.TREND_PCT_ALLSTUD_11_R_MME_2007_2011})
      %div Writing: #{@school.PCT_PROF_ALLSTUD_11_W_MME_2011}% (Trend: #{@school.TREND_PCT_PROF_ALLSTUD_11_W_MME_2007_2011})
      %div Math:    #{@school.PCT_PROF_ALLSTUD_11_M_MME_2011}% (Trend: #{@school.TREND_PCT_PROF_ALLSTUD_11_M_MME_2007_2011}) 
      %div Science: #{@school.PCT_PROF_ALLSTUD_11_S_MME_2011}% (Trend: #{@school.TREND_PCT_PROF_ALLSTUD_11_S_MME_2007_2011}) 
      %div Social Studies: #{@school.PCT_PROF_ALLSTUD_11_X_MME_2011}% (Trend: #{@school.TREND_PCT_PROF_ALLSTUD_11_X_MME_2007_2011})
      
    .grid_6
      %h3 How Well Does This School Prepare Students for College?
      %b Average ACT Score for admission, 2010-11
      .grid_3.alpha
        University of Michigan: 26.0
        %br/
        Michigan State University: 24.0
      .grid_3.omega
        Wayne State University: 23.3
        %br/
        Wayne Cty Community College: 22.2
        
      %div
        %b School Average ACT Score, 2010-11
      %div All Students: #{@school.AVG_ALLSTUD_ALLSUB_ACT_2011} (Trend: #{@school.TREND_ALLSTUD_ALLSUB_ACT_2007_2011})
      %b Graduation Rate, 2011
      %div All Students: #{@school.PCT_ALLSTUD_12_GRAD_4YR_2011} (Trend: #{@school.TREND_ALLSTUD_12_GRAD_4YR_2007_2011})
      
      %b College Enrollment and Performance:
      %div Of every 10 students who started 9th grade...
      %div #{@school.NUM_REAL_HSGRAD_4R_PER_09COHORT_2009} graduated on time
      %div #{@school.NUM_REAL_ENROLL_IHE_PER_09COHORT_2009} enrolled in college
      %div #{@school.NUM_REAL_1YR_IHE_PER_09COHORT_2009} finished a year of college
      
- else
  .container_12
    .grid_12  
      %h3 How Is This School Doing Academically?
      %p Following are the percentages of grade 6 students performing at or above grade level on the Michigan Education Assessment Program:
    .grid_6
      %h4 Reading, 2010-11
      All students: #{@school.PCT_PROF_ALLSTUD_05_R_MEAP_2011}%
      (Trend: #{@school.TREND_PCT_PROF_ALLSTUD_05_R_MEAP_2007_2011})
      %br/
      Female: #{@school.PCT_PROF_FEMALE_05_R_MEAP_2011}%
      %br/
      Male: #{@school.PCT_PROF_MALE_05_R_MEAP_2011}%
      %br/
      Low Income: #{@school.PCT_PROF_LOWINCOME_05_R_MEAP_2011}%
      %br/
      Special Education: #{@school.PCT_PROF_SPED_05_R_MEAP_2011}%
      %br/
    .grid_6
      %h4 Math, 2010-11
      All students: #{@school.PCT_PROF_ALLSTUD_05_M_MEAP_2011}%
      (Trend: #{@school.TREND_PCT_PROF_ALLSTUD_05_M_MEAP_2007_2011})
      %br/
      Female: #{@school.PCT_PROF_FEMALE_05_M_MEAP_2011}%
      %br/
      Male: #{@school.PCT_PROF_MALE_05_M_MEAP_2011}%
      %br/
      Low Income: #{@school.PCT_PROF_LOWINCOME_05_M_MEAP_2011}%
      %br/
      Special Education: #{@school.PCT_PROF_SPED_05_M_MEAP_2011}%
      %br/

    
%br/
%br/    

.container_12
  .grid_6
    %h3 Is This School Organized for Improvement?
    %p Teachers and students were surveyed about the five essential elements of their school. If a school is green, or strong, on ANY three of these elements, it is 10 times more likely to improve over time. If a school is not green on at least three elements, students at the school likely will do the same or worse next year.
    %b Overall score: #{@school.SCORE_OVERALL_5E_2012}
    %div= @school.SCORE_DESCRIPTION_5E_2012
    %div Response rate: #{@school.TCH_RESPONSE_5E_2012}% teachers, #{@school.STUD_RESPONSE_5E_2012} students
    %div Effective leaders:       #{@school.SCORE_LDR_5E_2012}
    %div Collaborative teachers:  #{@school.SCORE_TCH_5E_2012}
    %div Involved families:       #{@school.SCORE_FAM_5E_2012}
    %div Supportive environment:  #{@school.SCORE_ENV_5E_2012}
    %div Ambitious instruction:   #{@school.SCORE_INS_5E_2012}
    
  .grid_6
    %h3 What Is This School's Environment Like?
    %p Parents and community members visited this school unannounced to observe the learning environment and school culture. This is what they saw:
    %h4 Physical Environment
    %div There are procedures in place to ensure school safety and security. #{@school.SAFETY_PROCEDURES_SITEVISIT_2012}
    %div Physical facilities are well maintained and in good repair. #{@school.FACILITY_CONDITION_SITEVISIT_2012}
    - if false
      %div The school appears to be located in a safe neighborhood.#{@school.SAFE_NBHD_SITEVISIT_2012}
      %div Information about college is clearly displayed. #{@school.SAFETY_PROCEDURES_SITEVISIT_2012}
      %div Information about careers and technical training is clearly displayed. #{@school.CAREER_TRAINING_INFO_SITEVISIT_2012}
    %h4 Information for Parents
    %div The school calendar lists activities and programs and is available to staff, students, parents, and the community. #{@school.CALENDAR_SITEVISIT_2012}
    %h4 Learning Environment &amp; Interpersonal Relationships
    %div Students appear to be following the school's code of conduct. #{@school.STUD_BEHAVE_SITEVISIT_2012}
    %div Displays of academic progress are obvious in hallways and classrooms. #{@school.STUDENT_RECOGNITION_SITEVISIT_2012}
    - if false
      Support services are available to students.
      Students appear to be happy and friendly
    %div Teachers appear to have positive relationships with the students. #{@school.TCH_STUD_RELATE_SITEVISIT_2012}

%br/
%br/

.container_12
  .grid_6
    %h3 How Does This School Support Well-Rounded Development?
    %p Extracurricular activities help students explore their interests and apply what they learn in school to the real world. Examples of these activities at this school include:
    %h4 Arts and Culture
    = raw ('A'..'H').collect { |i| @school["#{i}_ART_CULTURE_ACTIVITIES_2012"] }.reject { |i| i.blank? }.join(' &middot; ')
    %h4 Wellness and Fitness
    = raw ('A'..'H').collect { |i| @school["#{i}_WELLNESS_FITNESS_ACTIVITIES_2012"] }.reject { |i| i.blank? }.join(' &middot; ')
    %h4 Academic
    = raw ('A'..'H').collect { |i| @school["#{i}_ACADEMIC_ACTIVITES_2012"] }.reject { |i| i.blank? }.join(' &middot; ')
    
  .grid_6
    %h3 How Does This School Help Students Overcome Challenges to Learning?
    %p Students may have learning disabilities, struggle with their behavior, or face challenges outside of school that affect their academic performance. This school provides the following programs to help students overcome such challenges:
    - programs = ('A'..'M').collect { |i| @school["#{i}_PROGRAMS_LEARNING_2012"] }.reject { |i| i.blank? }
    .grid_3.alpha
      - programs[0...programs.length/2].each do |i|
        = i
        %br/
    .grid_3.omega
      - programs[programs.length/2..-1].each do |i|
        = i
        %br/
    
%br/
%br/    

.container_12
  .grid_4
    %b= link_to @school.SCHOOL_WEBSITE, "http://#{@school.SCHOOL_WEBSITE}"
    %br/
    %b Phone:
    = @school.SCHOOL_PHONE
    %br/
    %b Fax:
    = @school.SCHOOL_FAX
    %br/
    %b Hours:
    = @school.SCHOOL_HOURS_AM_PM
    %br/
    %b Principal:
    = @school.PRINCIPAL_FIRST
    = @school.PRINCIPAL_LAST
    
  .grid_4
    %b Nearest bus stop:
    = @school.NEAREST_BUS_STOP
    %br/
    %b Bus routes within 0.5mi:
    = @school.BUS_ROUTES
    %br/
    
  .grid_4
    %b Admission requirements and deadlines:
    = @school.ADMISSIONS
    
%br/
%br/