.summary.k12
  .container_12
    .grid_12{:style => 'margin-bottom: 1em;'}
      .noprint
        - if @school.school_url
          = link_to raw('School Website'), @school.school_url, :class => 'btn light'
        - if @school.facebook_url
          = link_to raw('Facebook'), @school.facebook_url, :class => 'btn light'
        - unless Rails.env.production?
          = link_to raw('&lt; Previous School'), previous_path(@school.id), :class => 'btn light'
          = link_to raw('Next School &gt;'), next_path(@school.id), :class => 'btn light'
        %br/
        %br/
          
      %h2
        = @school.name
        - copy = @category_copy[@school.esd.andand.schoolcategory.andand.titleize]
        - if copy
          (#{copy[0].titleize})
        - if @school.basic.school_status == 'Closed'
          (Closed)
      %a.address{:href => @school.gmaps_url, :target => '_blank'} #{raw @school.address} &middot; #{@school.address2}

  .container_12
    .grid_3.overall-seal
      - letter = @grades[:cumulative][:letter].to_s
      = image_tag School.grade_image(@grades[:cumulative][:letter].to_s, :normal), :class => 'el-icon'

    .grid_3.hours
      %h3 Grades
      .arial #{@school.grades_served || 'Unknown'}
      - unless @school.basic.governance.blank?
        %h3 Governance
        .arial #{@school.basic.governance}
      - unless @school.basic.operator.blank?
        %h3 Operator
        .arial #{@school.basic.operator}
      - unless @school.basic.authorizer.blank?
        %h3 Authorizer
        .arial #{@school.basic.authorizer}

      - if copy
        %p.arial #{copy[0]}: #{copy[1]}

    .grid_6.minimap_container
      .grid_3.alpha
        %a.btn.light.arial.print.noprint.nomobile{:href => "javascript:window.print();"}
          = image_tag 'el_icons/print-icon.png'
          Print This Page
      .grid_3.omega
        %a.btn.light.arial.compare.noprint{:href => "/compare/+#{@school.id}"}
          = image_tag 'el_icons/compare-icon.png'
          Compare This School
      .clear_floats/
      .minimap= render :partial => 'shared/map', :object => @map
      - if letter.blank? or ['N/A', 'Incomplete Status &amp; No Progress Data', 'No Progress Data', 'Incomplete Status Data', 'Undetermined'].include? letter
        %p 
          There is not enough data available at this time to accurately assign an overall grade. This happens because the
          school uses different assessments to measure student academic status and/or progress than most schools, or the school
          is too new for enough data to be available. We recommend that you visit with the school's leadership to better understand
          how the school performs against a college ready standard.

      
      - unless true or @school.PDF_FILE_NAME.blank?
        .float_right
          %a.btn{:href => "/pdfs/#{@school.PDF_FILE_NAME}", :target => '_blank'}
            %i.icon-download-alt
            Download PDF

    
  .clear_floats
  %br.noprint/
  %br.noprint/
  
- if @school.esd
  #ground-wrapper  
    #ground
    .container_12.clear_floats.details.k12
      .grid_12
  
        %ul.nav.nav-tabs
          %li.active
            %a{:href => '#overview', 'data-toggle' => 'tab'}
              .question.bebas
                %span.nomobile About This School
                %span.mobile_only About
              = render 'seal', :school => @school, :category => :overview, :rating => nil
          %li
            %a{:href => '#status', 'data-toggle' => 'tab'}
              .question.bebas
                %span.nomobile How do the students do on tests?
                %span.mobile_only Academic Status
              = render 'tab_grade', :grade => @grades[:status]
          %li
            %a{:href => '#progress', 'data-toggle' => 'tab'}
              .question.bebas
                %span.nomobile Have their grades improved?
                %span.mobile_only Academic Progress
              = render 'tab_grade', :grade => @grades[:progress]
          %li
            %a{:href => '#climate', 'data-toggle' => 'tab'}
              .question.bebas
                %span.nomobile What is the environment like?
                %span.mobile_only School Climate
              = render 'tab_grade', :grade => @grades[:climate]
  
  
        .tab-content
          #overview.tab-pane.active
            %p.turquoise
              Our Scorecard measures schools across three categories. Schools receive a final grade based on the three
              categories, plus any extra credit. Excellent Schools Detroit recommends schools with a C+ grade or better.
              We also recommend "Fresh Start" schools or new schools that we consider promising. If we do not feel comfortable
              with the amount of data collected for a school, we label it "No Grade" until we can gather more information.
            - unless true
              %p.turquoise
                The following information is entered by a staff member from this school.
              %hr/
              %p.orange Lorem ipsum dolor sit amet..
              %hr/
            
      
            #other_profile
              = render 'shared/tip', :tip => @tips[:self_reported]
              - @profile_fields.each do |group,fields|
                - unless fields.keys.reject { |i| @school.profile.send(i).blank? }.empty?
                  %h3.bebas.underlined= group
                  %table
                    - fields.each do |field,label|
                      - val = @school.profile.send(field)
                      - unless val.blank?
                        %tr
                          %td
                            %h3 #{label}:
                          %td.arial
                            - vals = val.split(",").collect { |v| v.squish }
                            - labels = vals.collect { |v| School::VALUE_LABELS[v] || v }
                            = labels.join(', ')
      
            - if false
              #other_details
                %h3.bebas.underlined Extra Credit
                = render 'shared/tip', :tip => @tips[:other_details]
        
                - if e = @school.esd
                  %p.turquoise
                    We acknowledge  challenges faced by schools that serve high populations of low-income students, English
                    language learners and special education students. We give schools extra credit if they face these challenges
                    or if they have many students that complete the Free Application for Federal Student Aid (FAFSA).
                    
                  %table
                    - @extra_credit.each do |label,val|
                      %tr
                        %td
                          %h3 #{label}:
                        %td= (val == '0') ? 'No' : (val == '1' ? 'Yes' : val)
  
            %h3.bebas.underlined Demographics
            - @demographics.each do |arr|
              %div= arr[0]
                
            %br/
            %br/
            %h3.bebas.underlined Enrollment By Grade
            #enroll{:style => 'float: left; width: 360px; height: 160px;'}
            
            .clear_floats
                  
          #status.tab-pane  
            %p.turquoise
              We measure school performance using state-mandated tests and high school graduation rates. 
              This is excluded from the "Fresh Start" schools.
              
            = render 'grades', :section => :status, :grades => @grades,   :title => 'Academic Status', :tabs => [:summary, :details]
            
          #progress.tab-pane
            %p.turquoise
              We measure how much students are learning during a school year on computer-based growth assessments, and
              how much students improved year-over-year on state tests.
          
            = render 'grades', :section => :progress, :grades => @grades, :title => 'Academic Progress',  :tabs => [:summary, :details]
          
          #climate.tab-pane
            %p.turquoise
              We measure what students, teachers, and community volunteers think and feel about the school. We do this through
              community site visits and surveys.
  
            = render 'grades', :section => :climate, :grades => @grades,  :title => 'School Climate', :tabs => [:summary, :details]
      



- unless true or Rails.env == 'production'
  .container_12.clear_floats.noprint
    .grid_12
      %h2 Raw Data
      %ul.nav.nav-tabs
        %li.active= link_to 'Basic Info', '#basic', 'data-toggle' => 'tab'
        %li= link_to 'School Profile', '#profile', 'data-toggle' => 'tab'
        - if @school.meap_2012
          %li= link_to 'MEAP 2012', '#meap', 'data-toggle' => 'tab'
        - if @school.esd_k8_2014
          %li= link_to 'K8 2014', '#k8', 'data-toggle' => 'tab'
        - if @school.esd_hs_2014
          %li= link_to 'HS 2014', '#hs', 'data-toggle' => 'tab'
        - if @school.act_2014
          %li= link_to 'ACT 2014', '#act', 'data-toggle' => 'tab'
        - if @school.fiveessentials_2014
          %li= link_to '5Essentials 2014', '#fivee', 'data-toggle' => 'tab'
      .tab-content
        #basic.tab-pane.active
          - @school.basic.marshal_dump.each do |k,v|
            %b #{k}:
            = v
            %br/
        #profile.tab-pane
          - @school.profile.andand.marshal_dump.each do |k,v|
            %b #{k}:
            = v
            %br/
        #meap.tab-pane
          - @school.meap_2012.andand.marshal_dump.andand.each do |k,v|
            %b #{k}:
            = v
            %br/
        #k8.tab-pane
          - @school.esd_k8_2014.andand.marshal_dump.andand.each do |k,v|
            %b #{k}:
            = v
            %br/
        #hs.tab-pane
          - @school.esd_hs_2014.andand.marshal_dump.andand.each do |k,v|
            %b #{k}:
            = v
            %br/
        #act.tab-pane
          - @school.act_2014.andand.marshal_dump.andand.each do |k,v|
            %b #{k}:
            = v
            %br/
        #fivee.tab-pane
          - @school.fiveessentials_2014.andand.marshal_dump.andand.each do |k,v|
            %b #{k}:
            = v
            %br/
  
%br/
%br/

:javascript
  // Demographics pie chart
  var dem_data = #{@demographics.to_json};
  var enroll = #{@enrollment.to_json};
  var enroll_ticks = #{@enroll_ticks.to_json};
  
  // Highschool academics
  var high    = #{@school.high?.to_json};
  var high_ac = #{@high_ac.to_json};
  var high_act = #{@high_act.to_json};
  var high_grad = #{@high_grad.to_json};


  // Elementary school academics - reading/math
  var elementary = #{@school.elementary?.to_json};
  var middle = #{@school.middle?.to_json};
  var elem_ac = #{@elem_academics.to_json};
  
  // Historical trends
  var history = #{@history.to_json};
  var history_labels = #{@history_labels.to_json};
  
  
  $(document).ready(function(e) {
    /*var x = #{@school.centroid.x.to_json}, y = #{@school.centroid.y.to_json};
    var p = new L.LatLng(y, x);
    var b = new L.LatLngBounds(p, p);
    map.map.panInsidebounds(b);*/
  });
  
= javascript_include_tag 'charts'


