- cache(@school.cache_key, condition: @school.can_cache?) do
  .container_12.breadcrumbs
    %a.back-arrow-icon(href="/")
    %h2
      = @school.display_name
  .container_12.clear_floats.section-title(data-target="overview")
    %h2 OVERVIEW
  .container_12.info-region
    #overview
      .school-header
        .middle
          - if @school.photo
            .school-image
              %img(src="https://portal.excellentschoolsdetroit.org/files/#{@school.photo}")
          .school-title
            %h1= @school.display_name
      .middle
        .fields.clear_floats
          =render 'field', key: 'Excellent Schools Detroit Rating', value: 'B'
          .field.border-bottom
            %a(href="/compare/+#{@school.tid}")
              .compare-arrow-icon
              Compare
            to other schools
          =render 'field', key: 'Grades Served', value: @school.grades_served_label
          .field.border-bottom
            .transportation-icon
              .icon-text
                No transportation
            .schedule-icon
              .icon-text
                Year-round schedule
          =render 'field', key: 'Principal', value: @school.principal
          =render 'field', key: 'Governance', value: @school.governance
          =render 'field', key: 'Authorizer', value: @school.authorizer
          =render 'field', key: 'Operator', value: @school.operator
          =render 'field', key: 'Application Process', value: @school.application_process
          =render 'field', key: 'Admissions URL', value: @school.admissions_url
          =render 'field', key: 'Application Fee', value: @school.application_fee
          - if @school.application_fee == 'Yes'
            =render 'field', key: 'Application Fee Amount', value: sprintf("$%.2f", @school.application_fee_amount)
          =render 'field', key: 'Applications Received', value: @school.applications_received
          =render 'field', key: 'Dress Code', value: @school.dress_code
          =render 'field', key: 'Bullying Policy', value: @school.bullying_policy

        .school-map-wrapper
          #map
        .overview-text
          =raw simple_format(@school.overview_text)
        - if !@school.email.blank?
          .contact
            .envelope-icon
            %a{href: "mailto:#{@school.email}"} Email
            this school
        - if !@school.phone.blank?
          .contact
            .phone-icon
            %a{href: "tel:#{@school.phone}"} Call
            this school
        - if !@school.school_url.blank?
          .contact
            .website-icon
            %a.external{:href => @school.school_url, :target => '_blank'} Visit
            this school's website
        - if !@school.facebook_url.blank?
          .contact
            .facebook-icon
            %a.external{:href => @school.facebook_url, :target => '_blank'} Check
            out this school's Facebook
  .container_12.closed.section-title(data-target="performance")
    %h2 SCHOOL PERFORMANCE
  .container_12.info-region
    #performance.hide
      - if @school.high?
        = render "high_school_academics"
      - else
        = render "k_8_academics"
  .container_12.closed.section-title(data-target="community")
    %h2 COMMUNITY AND EXTRACURRICULAR ACTIVITIES
  .container_12.info-region
    #community.hide
      .middle
        .fields
          =render 'field', key: 'Parent Involvement', value: @school.parent_involvement
          =render 'field_list', key: 'Academic Focus', value: @school.academic_focus
          =render 'field_list', key: 'Instructional Model', value: @school.instructional_model
          =render 'field_list', key: 'Arts - Visual', value: @school.arts_visual
          =render 'field_list', key: 'Arts - Media', value: @school.arts_media
          =render 'field_list', key: 'Arts - Music', value: @school.arts_music
          =render 'field_list', key: 'Arts - Performing & Written', value: @school.arts_performing_written
          =render 'field', key: 'Immersion', value: @school.immersion
          =render 'field_list', key: 'Foreign Lanuage', value: @school.foreign_language
          =render 'field_list', key: 'AP Classes', value: @school.ap_classes
          =render 'field', key: 'Dual Enrollment', value: @school.dual_enrollment
          =render 'field', key: 'Dual Enrollment Institution', value: @school.dual_enrollment_institution
          =render 'field', key: 'Special Education Level', value: @school.special_ed_level
          =render 'field_list', key: 'Special Education Programs', value: @school.special_ed_programs
          =render 'field', key: 'ELL Level', value: @school.ell_level
          =render 'field_list', key: 'ELL Languages', value: @school.ell_languages
          =render 'field_list', key: 'College Prep', value: @school.college_prep
          =render 'field_list', key: 'Extra Learning Resources', value: @school.extra_learning_resources
          =render 'field_list', key: 'Facilities', value: @school.facilities
          =render 'field_list', key: 'Skills Training', value: @school.skills_training
          =render 'field_list', key: 'Before/After Care', value: @school.before_after_care
          =render 'field_list', key: 'Staff Resources', value: @school.staff_resources
          =render 'field_list', key: 'Boy Sports', value: @school.boy_sports
          =render 'field_list', key: 'Girl Sports', value: @school.girl_sports
          =render 'field_list', key: 'Student Clubs', value: @school.student_clubs
          =render 'field', key: 'Student Clubs - Dance', value: @school.student_clubs_dance
          =render 'field', key: 'Student Clubs - Language', value: @school.student_clubs_language
          =render 'field_list', key: 'Student Clubs - Other', value: @school.student_clubs_other
  .container_12.closed.section-title(data-target="other")
    %h2 OTHER LINKS
  .container_12.info-region
    #other.hide
      .middle
        .fields
          .field.border-bottom
            %span
              %a(href="#")
                .plus-icon
                Download
              financial transparency PDF
            %span
              %a(href="#")
                .plus-icon
                Download
              staff transparency PDF

  :javascript
    $(document).ready(function(e) {
      var moveMapElement = function() {
        if ($(window).width() > 800) {
          $('.school-map-wrapper').first().detach().
            appendTo('#overview .school-header').first();
        } else {
          $('.school-map-wrapper').first().detach().
            insertAfter('#overview .fields').first();
        }
      };
      moveMapElement();
      $(window).resize(function() { moveMapElement(); });

      Map({
        center: #{@school.center.to_json},
        markers: #{[@school.marker].to_json},
        zoom: 15,
        zoomControl: false,
        dragging: false,
        touchZoom: false,
        scrollWheelZoom: false,
        doubleClickZoom: false,
        boxZoom: false,
        tap: false,
        keyboard: false
      });

      if (!$('.overview-text').first().text().trim()) {
        $('#overview .fields')
          .css('float', 'none')
          .css('width', '100%')
          .css('margin-left', '0');
      }

      if ($(window).width() > 600) {
        $('.section-title').removeClass('closed');
        $('.info-region > div').removeClass('hide');
      }

      $('.section-title').click(function() {
        var me = $(this);
        var target = $('#' + me.data('target'));
        if (target.hasClass('hide')) {
          me.removeClass('closed');
          target.removeClass('hide');
        } else {
          me.addClass('closed');
          target.addClass('hide');
        }
      });

      var subjects = $('.subject')
      subjects.click(function() {
        var me = $(this);
        var target = $('#' + me.data('target'));
        var otherSubjects = me.siblings();
        var otherTargets = target.siblings();
        if (target.hasClass('hide')) {
          me.addClass('active');
          target.removeClass('hide');
          otherTargets.addClass('hide');
          otherSubjects.removeClass('active');
        } else {
          if (otherSubjects.hasClass('active').size > 1) {
            me.removeClass('active');
            target.addClass('hide');
          }
        }
      });
    });
