.summary
  .container_12
    .grid_8
      %br/
      %br/
      %h1= @school.name
      
      %h3
        Grades #{@school.AUTHORIZED_GRADES_2011} &middot; #{@school.HEADCOUNT_ALL_FALL_2011.to_i} students &middot; #{@school.SCHOOL_TYPE_2011}
        %br/
        #{@school.SCHOOL_STREET_ADDRESS_2011} &middot; #{@school.SCHOOL_CITY_STATE_ZIP_2011} 
        
      %br/
      .noprint
        .subtle= "Now Showing: #{current_search}"
        = link_to raw('&laquo; Previous'), previous_path(@school.id), :class => 'btn'
        = link_to 'Show List', schools_path(:filter => session[:filter], :loc => session[:loc]), :class => 'btn'
        = link_to raw('Next &raquo;'), next_path(@school.id), :class => 'btn'

      %br/
      %br/
      - unless @school.SCHOOL_MISSION_LONG.blank?
        %p
          %h4{:style => 'display: inline;'} School Mission:
          = @school.SCHOOL_MISSION_LONG
                
        
    .grid_4
      #wrapper{:style => 'height: 200px; margin-top: 4em;'}
        = render :partial => 'shared/map', :object => @map    
      %br/
      %br/
    
  .container_12
    .grid_3{:style => 'overflow: hidden;'}
      - unless @school.SCHOOL_WEBSITE.blank?
        %b= link_to @school.SCHOOL_WEBSITE, "http://#{@school.SCHOOL_WEBSITE}"
        %br/
      %b Phone:
      = @school.SCHOOL_PHONE || 'Unknown'
      %br/
      - unless @school.SCHOOL_FAX.blank?
        %b Fax:
        = @school.SCHOOL_FAX
        %br/
      %b Hours:
      = @school.SCHOOL_HOURS_AM_PM || 'Unknown'
      %br/
      - unless @school.PRINCIPAL_FIRST.blank? and @school.PRINCIPAL_LAST.blank?
        %b Principal:
        = @school.PRINCIPAL_FIRST
        = @school.PRINCIPAL_LAST
      
    .grid_3
      - unless @school.NEAREST_BUS_STOP.blank?
        %b Nearest bus stop:
        = @school.NEAREST_BUS_STOP
        %br/
      - unless @school.BUS_ROUTES.blank?
        %b Bus routes within 0.5mi:
        = @school.BUS_ROUTES
        %br/
      
    .grid_3
      #dems{:style => 'float: left; width: 220px; height: 140px; margin-right: 10px;'}
      
    .grid_3
      - unless @school.PCT_FRL_FALL_2011.nil? 
        #{@school.PCT_FRL_FALL_2011.andand.to_i || 'N/A'}% free and reduced-price lunch
        %br/
      - unless @school.PCT_SPED_FALL_2011.nil? 
        #{@school.PCT_SPED_FALL_2011.andand.to_i || 'N/A'}% special education
        %br/
      - unless @school.PCT_ELL_FALL_2011.nil? 
        #{@school.PCT_ELL_FALL_2011.andand.to_i || 'N/A'}% English language learners
        %br/
    
%br/

%br/
 
- if @school.high?
  .container_12
    .grid_6
      %h3 How Is This School Doing Academically?
      
      - if @high_ac[:empty]
        %p We have no data on this school's Michigan Merit Examination results.
      - else
        %p
          Following are percentages of
          %b 11th and 12th graders
          meeting and exceeding state standards on the Michigan Merit Examination (MME):
        %b Spring 2011
        #academics.barchart
      
    .grid_6
      %h3 How Well Does This School Prepare Students for College?
        
      %b School Average ACT Score, 2010-11
      #act.barchart{:style => 'height: 90px;'}
      %b Graduation Rate, 2011
      #grad.barchart{:style => 'height: 90px;'}
      
      %br/
      .grid_6.alpha.omega
        %b Average ACT Score for admission, 2010-11
      .grid_3.alpha
        University of Michigan:
        %b 31
        %br/
        Michigan State University:
        %b 26
      .grid_3.omega
        Wayne State University:
        %b 21
        %br/
        Wayne Cty Community College:
        %b 22.2
        %br/
        %br/
  
      .grid_6.alpha.omega
        %b College Enrollment and Performance, Class of 2009:
        - if @school.NUM_REAL_HSGRAD_4R_PER_09COHORT_2009.nil? and @school.NUM_REAL_ENROLL_IHE_PER_09COHORT_2009.nil? and @school.NUM_REAL_1YR_IHE_PER_09COHORT_2009.nil?
          %div No data are available for this school.
        - else
          %table.enrollment
            %thead
              %tr
                %th 
                  %b Of every 10 students who started 9th grade...
                %th
                  .score= @school.NUM_REAL_HSGRAD_4R_PER_09COHORT_2009.andand.round(1) || 'N/A'
                  Graduated from this school on time
                    
                %th
                  .score= @school.NUM_REAL_ENROLL_IHE_PER_09COHORT_2009.andand.round(1) || 'N/A'
                  Enrolled in college
                %th
                  .score= @school.NUM_REAL_1YR_IHE_PER_09COHORT_2009.andand.round(1) || 'N/A'
                  Finished a year of college
            %tbody
              %tr
                %td
                  - 10.times do
                    = image_tag 'icons/student.png'
                %td
                  - @school.NUM_REAL_HSGRAD_4R_PER_09COHORT_2009.round(0).to_i.times do
                    = image_tag 'icons/student.png'
                %td
                  - @school.NUM_REAL_ENROLL_IHE_PER_09COHORT_2009.round(0).to_i.times do
                    = image_tag 'icons/student.png'
                %td
                  - @school.NUM_REAL_1YR_IHE_PER_09COHORT_2009.round(0).to_i.times do
                    = image_tag 'icons/student.png'

- elsif @school.elementary? or @school.middle?
  .container_12
    .grid_12  
      %h3 How Is This School Doing Academically?
      %p Following are the percentages of grade 6 students performing at or above grade level on the Michigan Education Assessment Program:
    .grid_6
      %h4 Reading, Fall 2011
      #reading.barchart{:style => "height: #{40+50*@r_cats.size}px;"}
      
    .grid_6
      %h4 Math, Fall 2011
      #math.barchart{:style => "height: #{40+50*@m_cats.size}px;"}
      
  %br/
  %br/
  
  .container_12
    .grid_6
      %h3 Student Performance Growth
      = image_tag 'coming_2013.png', :class => 'float_left', :style => 'margin-right: 10px;'
      %p This year, we can only report if students state standards or not. In the future, we how much students progress. Every student should progress one entire grade level each year. But sometimes, students progress a lot and they still are not meeting state standards because they started the year so far behind. We think it is important to show which schools are helping students progress, even if their students are not yet meeting standards.
      
    .grid_6
      %h3 How Well Does This School Prepare Students for College?
      - if @school.elementary?
        %p 3rd grade reading is an early indicator if students are on track for graduation:
        - if @school.PCT_PROF_ALLSTUD_03_R_MEAP_2011.nil?
          %div We have no data about this school's 3rd grade reading level.
        - else
          #third.barchart{:style => 'height: 100px;'}
      - elsif @school.middle?
        = image_tag 'coming_2013.png', :class => 'float_left', :style => 'margin-right: 10px;'
        %h4 Percentage of 8th Graders meeting state standards in algebra
        %p 8th grade proficiency in algebra is an early indicator if students are on track for graduation
      
    
%br/
%br/    

.container_12
  .grid_6
    %h3 Is This School Organized for Improvement?
    %p Teachers and students were surveyed about the five essential elements of their school. If a school is green, or strong, on ANY three of these elements, it is 10 times more likely to improve over time. If a school is not green on at least three elements, students at the school likely will do the same or worse next year.
    .overall
      %b= @school.SCORE_DESCRIPTION_5E_2012
      %h3 Overall score: #{@school.SCORE_OVERALL_5E_2012.nil? ? 'N/A' : @school.SCORE_OVERALL_5E_2012.to_i}
      %div Response rate: #{@school.TCH_RESPONSE_5E_2012.andand.to_i || 'N/A'}% teachers, #{@school.STUD_RESPONSE_5E_2012.andand.to_i || 'N/A'}% students
    = render :partial => 'shared/5e', :collection => @elements, :as => :element
    %br.clear_floats/
    %table.sitevisit_key.clear_floats
      %tr{:style => 'height: 25px;'}
        %td.color1
        %td.color2
        %td.color3
        %td.color4
        %td.color5
      %tr
        %td Not yet organized
        %td Partially organized
        %td Moderately organized
        %td Organized
        %td Well organized
    
    
  .grid_6
    %h3 What Is This School's Environment Like?
    %p Parents and community members visited this school unannounced to observe the learning environment and school culture. This is what they saw:
    
    %table.sitevisit_key
      %tr{:style => 'height: 25px;'}
        %td.color1
        %td.color2
        %td.color3
        %td.color4
        %td.color5
      %tr
        %td Strongly disagree
        %td Disagree
        %td Neither agree nor disagree
        %td Agree
        %td Strongly agree

    .section
      = image_tag 'icons/environment.png'
      %h4 Physical Environment
      = render :partial => 'shared/colors', :locals => { :items => @sitevisit[:env] }

    .section
      = image_tag 'icons/academic.png'
      %h4 Culture of Academic Achievement
      = render :partial => 'shared/colors', :locals => { :items => @sitevisit[:culture] }
    .clear_floats

    .section
      = image_tag 'icons/community.png'
      %h4 Community and Relationships
      = render :partial => 'shared/colors', :locals => { :items => @sitevisit[:community] }

%br/
%br/

.container_12
  .grid_6
    - unless @activities[:arts].empty? and @activities[:wellness].empty? and @activities[:academic].empty?
      %h3 How Does This School Support Well-Rounded Development?
      %p Extracurricular activities help students explore their interests and apply what they learn in school to the real world. Examples of these activities at this school include:
      - unless @activities[:arts].empty?
        .section
          = image_tag 'icons/arts.png'
          %h4 Arts and Culture
          = render :partial => 'shared/two_cols', :locals => { :items => @activities[:arts] }
        %br.clear_floats/
      - unless @activities[:wellness].empty?
        .section
          = image_tag 'icons/wellness.png'
          %h4 Wellness and Fitness
          = render :partial => 'shared/two_cols', :locals => { :items => @activities[:wellness] }
          %br.clear_floats/
      - unless @activities[:academic].empty?
        .section
          = image_tag 'icons/academic.png'
          %h4 Academic
          = render :partial => 'shared/two_cols', :locals => { :items =>  @activities[:academic] }
    
    
  .grid_6
    - unless @programs.empty?
      %h3 How Does This School Help Students Overcome Challenges to Learning?
      %p Students may have learning disabilities, struggle with their behavior, or face challenges outside of school that affect their academic performance. This school provides the following programs to help students overcome such challenges:
      = render :partial => 'shared/two_cols', :locals => { :items => @programs }
      %br.clear_floats/      
      
    - unless @school.ADMISSIONS_LONG.blank?
      %h3 What Are the School's Admission Requirements and Deadlines?
      %p= @school.ADMISSIONS_LONG

    
.container_12.noprint
  .grid_12{:style => 'padding: 4em 0;'}
    .subtle= "Now Showing: #{current_search}"
    = link_to raw('&laquo; Previous'), previous_path(@school.id), :class => 'btn'
    = link_to 'Show List', schools_path(:filter => session[:filter], :loc => session[:loc]), :class => 'btn'
    = link_to raw('Next &raquo;'), next_path(@school.id), :class => 'btn'

%br/
%br/    

:javascript
  // Demographics pie chart
  var dem_data = #{@demographics.to_json};
  
  // Highschool academics
  var high    = #{@school.high?.to_json};
  var high_ac = #{@high_ac.to_json};
  var high_act = #{@high_act.to_json};
  var high_grad = #{@high_grad.to_json};


  // Elementary school academics - reading/math
  var elementary = #{@school.elementary?.to_json};
  var middle = #{@school.middle?.to_json};
  var elem_ac = #{@elem_academics.to_json};
  
  var colors = {
    light:  '#eef',
    dblue:  '#004270',
    orange: '#f79421',
    lblue:  '#85d5e3',
    yellow: '#ffcc4e',
    lgreen: '#8dc63f',
    red:    '#953734',
    greyish:'#556677'
  };


  $(document).ready(function() {
  
    // Demographics pie chart
    var dem_plot = jQuery.jqplot ('dems', [dem_data], 
      { 
        grid: { background: '#eef', drawBorder: false, shadow: false }, 
        seriesColors: [ colors.lgreen, colors.dblue, colors.orange, colors.red, colors.yellow ],
        seriesDefaults: {
          renderer: jQuery.jqplot.PieRenderer, 
          shadow: false,
          rendererOptions: {
            showDataLabels: false,
            diameter: 90,
            padding: 0
          }
        }, 
        legend: { show:true, location: 'e', border: '0px', fontSize: '13px', background: '#eef' }
      }
    );     

    if(high && $('#academics').length > 0) {
      // High school academics  
      var hs_academics_plot = jQuery.jqplot ('academics', [high_ac.state.scores, high_ac.school.scores],
        { 
          seriesColors: [ colors.lblue, colors.orange ],
          seriesDefaults: {
            renderer: jQuery.jqplot.BarRenderer, 
            shadow: false,
            pointLabels: { show: true, location: 'e', edgeTolerance: -15 },
            rendererOptions: {
              barDirection: 'horizontal',
              barWidth: 16,
              barPadding: 3
            }
          }, 
          grid: { background: '#ffffff', drawGridlines: false, drawBorder: false, shadow: false }, 
          series: [
            { label:'State', pointLabels: { show: true, labels: high_ac.state.labels } },
            { label:'School', pointLabels: { show: true, labels: high_ac.school.labels } }
          ],              
          legend: { show:true, location: 'e', border: '0px', fontSize: '13px' },
          axes: {
            yaxis: {
              renderer: $.jqplot.CategoryAxisRenderer,
              ticks: high_ac.ticks,
              showTickMarks: false
            },
            xaxis: { min: 0, max: 100, pad: 1.05, numberTicks: 5 }
          }  
        }
      );
      
      var hs_act_plot = jQuery.jqplot ('act', [high_act.state, high_act.school],
        { 
          seriesColors: [ colors.light, colors.orange ],
          seriesDefaults: {
            renderer: jQuery.jqplot.BarRenderer, 
            shadow: false,
            pointLabels: { show: true, location: 'e', edgeTolerance: -15 },
            rendererOptions: {
              barDirection: 'horizontal',
              barWidth: 16,
              barPadding: 3
            }
          }, 
          grid: { background: '#ffffff', drawGridlines: false, drawBorder: false, shadow: false }, 
          series: [
            { label:'State' },
            { label:'School' }
          ],              
          legend: { show:true, location: 'e', border: '0px', fontSize: '13px' },
          axes: {
            yaxis: {
              renderer: $.jqplot.CategoryAxisRenderer,
              ticks: high_act.ticks,
              showTickMarks: false
            },
            xaxis: { min: 0, max: 36, pad: 1.05, numberTicks: 5 }
          }  
        }
      );
      var hs_grad_plot = jQuery.jqplot ('grad', [high_grad.state, high_grad.school],
        { 
          seriesColors: [ colors.light, colors.orange ],
          seriesDefaults: {
            renderer: jQuery.jqplot.BarRenderer, 
            shadow: false,
            pointLabels: { show: true, location: 'e', edgeTolerance: -15 },
            rendererOptions: {
              barDirection: 'horizontal',
              barWidth: 16,
              barPadding: 3
            }
          }, 
          grid: { background: '#ffffff', drawGridlines: false, drawBorder: false, shadow: false }, 
          series: [
            { label:'State' },
            { label:'School' }
          ],              
          legend: { show:true, location: 'e', border: '0px', fontSize: '13px' },
          axes: {
            yaxis: {
              renderer: $.jqplot.CategoryAxisRenderer,
              ticks: high_grad.ticks,
              showTickMarks: false
            },
            xaxis: { min: 0, max: 100, pad: 1.05, numberTicks: 5 }
          }  
        }
      );      

      
    } else {
      // Elementary school academics - reading 
      var plots = ['reading', 'math', 'third'];
      for(var i in plots) {
        var name = plots[i];
        if(elem_ac[name].school.length == 0 || $('#' + name).length == 0) {
          continue;
        }
        var elem_academics_plot = jQuery.jqplot (name, [elem_ac[name].state.scores, elem_ac[name].school.scores], 
          { 
            seriesColors: [ colors.light, colors.orange ],
            seriesDefaults: {
              renderer: jQuery.jqplot.BarRenderer, 
              shadow: false,
              pointLabels: { show: true, location: 'e', edgeTolerance: -15 },
              rendererOptions: {
                barDirection: 'horizontal',
                barWidth: 16,
                barPadding: 3
              }
            }, 
            grid: { background: '#ffffff', drawGridlines: false, drawBorder: false, shadow: false }, 
            series: [
              { label:'State', pointLabels: { show: true, labels: elem_ac[name].state.labels }  },
              { label:'School', pointLabels: { show: true, labels: elem_ac[name].school.labels }  }
            ],
            legend: { show:true, location: 'e', border: '0px', fontSize: '13px' },
            axes: {
              yaxis: {
                renderer: $.jqplot.CategoryAxisRenderer,
                ticks: elem_ac[name].ticks,
                showTickMarks: false
              },
              xaxis: { min: 0, max: 100, pad: 1.05, numberTicks: 5 }
            }  
          }
        );  
      }


    }
        

  });
