!!!
%html
  = render 'layouts/head'
  - home = current_page?(root_path)
  %body{:class => "#{params[:controller]}-#{params[:action]}"}
    .container
      %header#nav
        .container_12
          %a#hamburger{:href => '#'}
            %div
            %div
            %div
          = link_to 'Scorecard', root_path, class: 'brand'
        .menu
          = link_to 'Home', root_path, :class => 'btn'
          = link_to 'Find a School', schools_path, :class => 'btn'
          = link_to 'Resources', '/resources', :class => 'btn'

      = yield

      = render 'layouts/footer'
