!!!
%html
  %head
    %title #{defined?(@subtitle) ? "#{@subtitle} -" : ''} ESD Report Card #{Rails.env != 'production' ? "(#{Rails.env})" : ""}
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=#{android? ? 'yes' : 'no'}"}/
    = render :partial => 'shared/fb_meta'
    = csrf_meta_tag
    
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/stylesheets/960.css', :media => 'screen and (min-width: 960px)'}
    = stylesheet_link_tag 'bootstrap.min.css'
    = stylesheet_link_tag '/leaflet/leaflet.css', :media => 'all'
    = stylesheet_link_tag  '/wax/theme/controls.css', :media => 'all'
    - if Rails.env == 'development'
      %link{:rel => "stylesheet/less", :type => "text/css", :href => "/stylesheets/style.less", :media => 'all'}
      = javascript_include_tag 'less-1.2.0.min.js'
    - else
      = stylesheet_link_tag 'style.css', :media => 'all'
    :erb
      <!--[if lte IE 8]><link rel="stylesheet" href="/leaflet/leaflet.ie.css" /><![endif]-->
      <!--[if lt IE 9]><script language="javascript" type="text/javascript" src="/javascripts/excanvas.js"></script><![endif]-->      
    = stylesheet_link_tag 'jquery.jqplot.min.css'
    = javascript_include_tag 'jquery-1.7.1.min.js'

  %body
    %nav
      .container_12
        .grid_3
          .title ESD Report Card 2012
        .grid_9{:style => 'text-align: right;'}
          = link_to 'Home', root_path
          = link_to 'Schools', schools_path
          = link_to 'Map', map_path
          = form_tag '/search', { :method => :post, :class => 'form-search', :style => 'display: inline-block; margin-left: 2em; margin-bottom: 0;' } do
            = text_field_tag :q, nil, :style => 'width: 200px;'
            = submit_tag 'Search', :class => 'btn'
          :javascript
            $(document).ready(function() {
              var school_names = #{School.select('id, SCHOOL_NAME_2011').collect { |s| s.name }.to_json};
              $('input#q').typeahead({ source: school_names });
            });
      
    = yield
  

  = javascript_include_tag '/leaflet/leaflet-src.js', '/wax/dist/wax.leaf.js'
  = javascript_include_tag 'application.js', '/paraffin/paraffin.js', '/paraffin/paraffin.gps.js'
  - if false
    = javascript_include_tag 'd3.v2.js'
    = javascript_include_tag 'raphael-min.js', 'g.raphael-min.js', 'g.pie-min.js', 'g.bar-min.js'

  = javascript_include_tag 'underscore-min.js', 'jquery.jqplot.js', 'plugins/jqplot.pieRenderer.min.js', 'plugins/jqplot.barRenderer.min.js', 'plugins/jqplot.categoryAxisRenderer.min.js', 'plugins/jqplot.pointLabels.min.js', 'bootstrap-typeahead.js'
  
  - if AppConfig.typekit_key
    = javascript_include_tag "http://use.typekit.com/#{AppConfig.typekit_key}.js"
    :javascript
      try{Typekit.load();}catch(e){}
  - if AppConfig.analytics_key
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '#{AppConfig.analytics_key}']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
