!!!
%html
  = render 'layouts/head'
  
  %body{:class => "#{params[:controller]}-#{params[:action]}"}
    #container
      %header#nav.l-header
        = link_to image_tag('scorecard_logo.png', :class => 'logo float_left'), root_path
        - unless current_page?(root_path)
          .float_right
            = link_to 'Home', root_path, :class => 'btn home light'
            = link_to 'Find a School', schools_path, :class => 'btn light schools nomobile'
            = link_to 'Resources', '/resources', :class => 'btn light'
        
      #bodywrap.l-content
        = yield

      = render 'layouts/footer'