!!!
%html{ class: controller_name == 'home' && action_name == 'index' ? 'background-image' : '' }
  = render 'layouts/head'
  - home = current_page?(root_path)
  %body{:class => "#{controller_name}-#{action_name}"}
    %div{class: controller_name == 'home' && action_name == 'index' ? 'tinted' : ''}
    .container{ class: controller_name == 'home' && action_name == 'index' ? 'relative' : ''}
      %header#nav
        .left
          = link_to 'Scorecard', root_path, class: 'brand'
          %a#hamburger{:href => '#'}
            %div
            %div
            %div
        .right
          .menu
            = link_to 'Home', root_path, :class => 'btn'
            = link_to 'Resources', '/resources', :class => 'btn'
            = yield :compare

      = yield

      = render 'layouts/footer'
