!!!
%html
  = render 'layouts/head'
  - home = current_page?(root_path)
  %body{:class => "#{controller_name}-#{action_name}"}
    - if controller_name == 'home' && action_name == 'index'
      .background-image
        .tinted
    .container
      = yield

      = render 'layouts/footer'
