!!!
%html
  = render 'layouts/head'
  
  %body
    #container
      #bodywrap.l-content
        %aside.l-content-left
          .branding{:role => "banner"}
            %a.site-logo{:href => "/", :rel => "home", :title => "Home"}
              = image_tag 'scorecard_logo.png'
  
        
          #block-mailchimp-lists-get-email-updates
            .block__content
              %h3= link_to 'Know, then enroll', '/ESD_REC_Spring2014_Final.pdf'
                
  
          .blue
            #top_k12
              %h2 Top 10 Highest-Graded Schools in Detroit
              %ul
                - @top.each do |s|
                  - grade = s.grades[:cumulative]
                  %li= link_to s.name, s
            #top_ec.hide
              %h2 Top 10 Detroit Preschools
              %ul
                - @top_ec.each do |s|
                  - grade = s.grades[:cumulative]
                  %li= link_to s.name, s
          %br/

        %section.l-content-right
          .l-region.l-content-main{:role => "main"}
            = yield
  
      = render 'layouts/footer'