!!!
%html
  = render 'layouts/head'
  
  %body
    #container
      %header#nav.l-header
        = link_to image_tag('theme/esd_LOGO.png', :class => 'logo float_left'), root_path
        = link_to 'Home', root_path, :class => 'btn'
        = link_to 'Schools', schools_path, :class => 'btn'
        = form_tag '/search', { :method => :post, :class => 'form-byname search' } do
          = text_field_tag :q, nil, :style => 'width: 200px; max-width: 100%;', :placeholder => 'Search by school name'
          = submit_tag '>', :style => 'display: inline-block;'
        :javascript
          $(document).ready(function() {
            var school_names = #{School.select('id, name').collect { |s| s.name }.to_json};
            $('input#q').typeahead({ source: school_names });
          });
        
      #bodywrap.l-content
        = yield

      = render 'layouts/footer'